<head>
    <link rel="stylesheet" href="/styles/about-hero.css">
</head>
<section class="section-container">
<section class="about-hero-section">
    <div class="about-hero-container">
        <div class="about-hero-header">
            <h1>Wir fordern den <strong>Status Quo</strong> heraus</h1>
            <img class="about-hero-bkg-img
            " src="/content/team/founder.jpg" alt="Geschäftsführer" loading="lazy">
        </div>
    </div>
    <div class="cta-container">
        <div class="cta-container-header">
            <span>"ES SIEHT NICHT AUS WIE AUF DEN <strong>BILDERN</strong>"...</span>
            <h2>Damit begann unsere Reise</h2> 
        </div>
        <div class="about-hero-video">
            <iframe data-lazy-load="https://www.youtube-nocookie.com/embed/atXenG9W1vc?si=6kbsNe6uvyh1pbNg&amp;start=18" src=""
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
            <img class="video-thumbnail" src="/content/images/founder-thumbnail.png" alt="Unsere Reise" loading="lazy"> 
        </div>
        
    </div>        

</section>
</section>