<head>
    <link rel="stylesheet" href="/styles/about-hero.css">
    <script src="/scripts/hero-modal.js"></script>
</head>
<section class="section-container">
<section class="about-hero-section">

    <div class="about-hero-container">
        <div class="about-hero-header">
            <h1 class="about-hero-title">Jung, innovativ und mutig: <br>
                Wir fordern den <strong class="prime-color">Status Quo</strong> heraus
            <p class="about-hero-subtitle">
                Unterst체tzt durch die TU Dortmund, haben wir es uns zur Aufgabe gemacht, 
                Baupl채ne f체r JEDEN verst채ndlich zu machen.
            </p>
            </h1>
            <div class="about-hero-btns">
                <!-- Button to Open Modal -->
                <button id="playVideoBtn" class="secondary-cta-btn">Video abspielen</button>
            </div>
            
            <!-- Modal Structure -->
            <div id="videoModal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <iframe id="modalVideo" data-lazy-load="https://www.youtube-nocookie.com/embed/0SHEHWsbvSU?si=Hp7SlHViOrgj1YvE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="about-hero-bkg">
            <video playsinline autoplay="autoplay" loop id="vid" muted>
                <source src="/content/videos/about-hero-video.mp4" alt="Intro" type="video/mp4">
            </video>
        </div>
    </div>
   

</section>
</section>