<head>
    <link rel="stylesheet" href="styles/about.css">
</head>
<section class="about-hero-section">
    <h1>Wer wir sind und was uns antreibt</h1>
    <div class="about-hero">
        <h3>Unsere Reise begann mit einem einfachen Satz:</h3>
        <p>
            Unser Gründer, Momo, hat eine persönliche Geschichte, die das Herz unserer Mission verkörpert. Bevor er Quilar ins Leben rief, war er als Bauprojektmanager tätig. Während dieser Zeit leitete er den Bau eines Mehrfamilienhauses. Eine dieser Wohnungen war für eine Familie bestimmt, die voller Vorfreude auf ihr neues Zuhause wartete. Inspiriert von den atemberaubenden Bildern und Plänen, hatten sie hohe Erwartungen an ihr zukünftiges Zuhause.

            Doch als die Familie ihre neue Wohnung zum ersten Mal sah, lautete ihre Reaktion: <h3>"Es sieht nicht so aus wie auf den Bildern."</h3> 
        </p>    
        <p>
            
            Diese Aussage hat in Momo etwas ausgelöst, wie ein verpflantzter Gedanke, der langsam wuchs. Es wurde zu einem tiefen Wunsch, die Immobilienbranche zu verändern, um solche Enttäuschungen in der Zukunft zu verhindern.
        </p>
    </div>
</section>