<head>
    <link rel="stylesheet" href="/styles/about-hero.css">
</head>
<section class="section-container">
<section class="about-hero-section">
    <div class="about-hero-container">
        <div class="about-hero-title">
            <h1>"Es sieht nicht aus wie auf den <strong>Bildern</strong>"</h1>
            <h3>Unsere Reise begann mit diesem Satz</h3>
            
        </div>
        <div class="about-hero-story">
            <p>
                Unser Gründer - Momo - hat eine persönliche Geschichte, die den Ursprung unserer Mission verkörpert: Bevor er Quilar ins Leben
                rief, war er als Bauprojektmanager tätig. Während dieser Zeit leitete er den Bau eines Mehrfamilienhauses. Eine der
                Wohnungen war für eine Familie bestimmt, die voller Vorfreude auf die Fertigstellung ihres neuen Zuhauses wartete. Durch
                die vielen, für Laien leider schwer verständlichen, Baupläne und Grundrisse hatten sie hohe Erwartungen an ihr
                zukünftiges Zuhause.
            </p>    
        </div>
        
    </div>
    <div class="cta-container">
        <div class="about-hero-video">
            <iframe src="https://www.youtube-nocookie.com/embed/atXenG9W1vc?si=6kbsNe6uvyh1pbNg&amp;start=18"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <button class="secondary-cta-btn">unverbindliche Kontaktaufnahme</button>
    </div>        

</section>
</section>