<section id="services" class="services-section">
    <div>
        <h1>Welches Paket passt am besten zu Ihnen? Sie brauchen nur eines!</h1>
        <h3>
            Wir vermeiden undurchsichtige Pakete, die unverständliche Leistungen schnüren.
            Stattdessen bieten wir Ihnen unser volles Programm in einem Paket. 
        </h3>
    </div>
    <div class="services">
        <div class="service">
            <div class="service-description">
                <h3>Interaktiver 3D Grundriss</h3>
                <p>
                    Platzieren Sie Ihren Entwurf als dreidimensionales Modell in 1:100 und besprechen Sie mit Ihren Kunden die Planung für das zukünftige Zuhause. 
                    Mit dem interaktiven 3D Grundriss können Sie das Modell aus jeder Perspektive betrachten und jede noch so kleine Ecke unter die Lupe nehmen.
                </p>
            </div>
            <div class="service-video">
                <video class="miniatur-video" controls loop>
                    <source src="content/services/Miniatur-Office.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="service">
            <div class="service-description">
                <h3>Außenansicht in Lebensgröße</h3>
                <p>
                    Platzieren Sie Ihren Entwurf als dreidimensionales Modell in 1:1 Größe im Freien auf dem zu bebauenden Grundstück oder auf einer freien Wiese. 
                    Bieten Sie damit Ihren Kunden einen Blick auf ihr zukünftiges Eigenheim, wie sich das Haus in der Nachbarschaft eingliedert und wie besonders die Fassade aussehen wird.
                </p>
            </div>
            <div class="service-video">
                <video class="miniatur-video" controls loop>
                    <source src="content/services/FPV-Outdoor.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="service">
            <div class="service-description">
                <h3>Begehung in Lebensgröße</h3>
                <p>
                    Verzaubern Sie Ihre Kunden mithilfe von Quilar: Lassen Sie sie in ihr zukünftiges Zuhause eintreten und ermöglichen Sie einen Einblick von dem, was möglich ist. Ihre Kunden erleben quasi real, wie es sein wird beispielsweise aus dem gemütlich eingerichteten Wohnzimmer aus dem Fenster zu schauen.
                </p>
            </div>
            <div class="service-video">
                <video class="miniatur-video" controls loop>
                    <source src="content/services/FPV-Indoor.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="service">
            <div class="service-description">
                <h3>Homestaging neu gedacht</h3>
                <p>
                    Überlassen Sie die Vorstellungskraft nicht Ihren Kunden, sondern zeigen sie ihnen mit unserem Tool, wie ihrem zukünftigem Zuhause Leben eingehaucht werden kann.
                    Während Sie mit Ihrer Expertise den Traum Ihrer Kunden verwirklichen, sind Ihre Kunden damit beschäftigt Ihr Zuhause einzurichten. 
                    So geht jeder dem nach, was er am Besten kann.
                </p>
            </div>
            <div class="service-video">
                <video class="miniatur-video" controls loop>
                    <source src="content/services/Homestaging.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="service">
            <div class="service-description">
                <h3>Alles unter Kontrolle</h3>
                <p>
                    Verwalten Sie in Ihrem Management Dashboard, wer Zugriff auf Ihre Projekte hat. 
                    Begrenzen Sie die Zeit, in welcher ein Kaufinteressent ein Haus besichtigen kann, um Exklusivität zu gewährleisten.
                </p>
            </div>
            <div class="service-video">
                <img class="miniatur-picture" src="content/services/MacBook.png"/>
            </div>
        </div>
        <div class="service conclusion">
            <div class="service-conclusion">
                <h2>Erkennen Sie das Potenzial, das in Ihrem Immoblienvertrieb steckt?</h2>
                <p>
                    Ihre Kunden sehnen sich nach einem Zuhause für sich und ihre Familie. Ein Ort zum alt werden und um Wurzeln zu schlagen. Dies ist eine außerordentlich emotionale Entscheidung. 
                    Sie können steuern, welche Emotionen Ihr Kunde empfindet. 
                    Nutzen Sie jetzt die Chance diese kraftvolle Technologie in Ihren Vertriebsprozess einzusetzen.
                    Um den Baufamilien einen unvergesslichen Service zu bieten und Neukunden von Beginn an zu begeistern.
                </p>
                <p>
                    Wir nehmen uns gerne die Zeit um mit Ihnen zu besprechen, wie Sie Ihren Kunden solch einen einzigartigen Service bieten zu können.
                </p>
                <button class="primary-cta-btn meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Termin buchen</a></button>
            </div>
        </div>
        </div>
    </div>


</section>