<section class="ar-section">
        <div class="ar-wrapper">
            <div class="real-image"
            style="background-image: url(../content/ar-2/real-image.jpg);"
            ></div>
            <div class="virtual-image" 
                style="background-image: url(../content/ar-2/virtual-image.jpg);"
            >
            </div>
            <img class="frame" src="content/ar/iPhone11.jpg" alt="iPhone Frame">
            </div>
        </div>
</section>