<head>
    <link rel="stylesheet" href="styles/ar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/ar.js"></script>
</head>
<section class="ar-section">
        <div class="ar-wrapper">
            <div class="real-image" style="
                  background-image: url(../content/ar/real-image.jpg);
                "></div>
            <div class="virtual-image" style="
              background-image: url(../content/ar/virtual-image.jpg);
            "></div>
            <img class="frame" src="content/ar/iPhone11.jpg" alt="iPhone Frame">
            </div>
        </div>
</section>