<head>
    <link rel="stylesheet" href="styles/ar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/ar.js"></script>
</head>
<section class="ar-section">
        <div class="ar-wrapper">
            <div class="real-image"></div>
            <div class="virtual-image"></div>
            <img id="frame" src="content/ar/iPhone11.png" alt="iPhone Frame">
            </div>
        </div>
</section>