<head>
    <link rel="stylesheet" href="styles/benefits.css">
</head>

<section class="benefits-section">
    <div class="bulletpoint-group">
        <div class="bulletpoint individuell">
            <div class="bulletpoint-title">
                <img src="content/benefits/icon-individuell.svg"/>
                <h1>Individuell</h1>
            </div>
            <div class="bulletpoint-text">
                <img/>
                <p>Personalisierte Immobilienbesichtigungen auch bei Neubauten</p>
            </div>
        </div>

        <div class="bulletpoint zeit">
            <div class="bulletpoint-title">
                <img src="content/benefits/icon-zeit.svg"/>
                <h1>Zeitersparnis</h1>
            </div>
            <div class="bulletpoint-text">
                <img/>
                <p>Virtuelle Besichtigungen ersetzen lange Anfahren zur physichen Besichtigung</p>
            </div>
        </div>
        <div class="bulletpoint sicherheit">
            <div class="bulletpoint-title">
                <img src="content/benefits/icon-sicherheit.svg"/>
                <h1>Sicherheit</h1>
            </div>
            <div class="bulletpoint-text">
                <img/>
                <p>Das interaktive 3D Modell lässt sich nach eigenen Wünschen konfigurieren. So kann eine schnellere Kaufentscheidung getroffen werden</p>
            </div>
        </div>
    </div>
    <div class="value-proposition-right">
        <p class="vp-text">
            Wir ermöglichen Ihnen informierte und selbstbewusste Immobilienentscheidungen 
            mit unserer Technologie zu treffen. Erleben Sie eine personalisierte Reise, 
            bei der Sie Ihr zukünftiges Zuhause in erstaunlichem Detail erkunden können, 
            wertvolle Zeit sparen und eine sichere Investition gewährleisten.
        </p>
        <button class="vp-cta">
            <a>Kostenlos testen</a>
        </button>
    </div>
</section>