<head>
    <link rel="stylesheet" href="styles/benefits.css">
    <script>
        function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
        }
 
        function handleScroll() {
            var divs = document.querySelectorAll('.benefit-title-image');
            divs.forEach(div => {
                if (isInViewport(div) && !div.classList.contains('animate'))
                    div.classList.add('animate');
            });
        }
        window.addEventListener('scroll', handleScroll);
    </script>
</head>

<section class="benefits-section">
    <div class="benefit-group">
        <div class="benefit">
            <img class="benefit-title-image" src="content/benefits/customer_experience.svg"/>
            <h3>Kundenzufriedenheit</h3>
            <p>
                Vermeiden Sie Enttäuschungen des Kunden, weil Pläne nicht verstanden wurden.
                Der Kunde weiß zu jeder Zeit, was ihn/sie erwartet und kann vor dem Bau Änderungswünsche äußern. 
                Zusätzliche Baukosten werden so rechtzeitig verhindert.
                Nur ein Kunde der sich verstanden fühlt, ist ein zufriedener Kunde.
                
            </p>
        </div>

        <div class="benefit">
            <img class="benefit-title-image" src="content/benefits/time.svg"/>
            <h3>Zeitersparnis</h3>
            <p>
                Überlassen Sie es unserer App die Pläne zu erklären. 
                Während Sie sich auf Ihre Expertise konzentrieren. 
                Anstatt bildhaft die Zeichnung zu erklären. 
                Bieten Sie eine physische Begehung der Zeichnung an. 
                Erklärungen werden dann nicht mehr nötig sein. 
            </p>
        </div>
        <div class="benefit">
            <img class="benefit-title-image" src="content/benefits/competition.svg"/>
            <h3>Wettbewerbsvorteil</h3>
            <p>
                Profitieren Sie von der langsam digitalisierenden Immobilienbranche.
                Nutzen Sie die Möglichkeit mit minimalem Aufwand innovativer aufzutreten.
                Solange die Konkurrenz noch schläft.
            </p>
        </div>
    </div>
</section> 