<head>

</head>
<section class="blog-hero-section">
    <div class="blog-hero">
        <div class="blog-banner">
            <h1>Quilar Blog</h1>
            <img class="blog-banner-img" src="content/blogs/banner.png"/>
        </div>
    </div>
</section>