<head>
    <link rel="stylesheet" href="styles/claim.css">
</head>
<section class="claim-section">
    <div class="claim-part claim-left">
        <p>
            Wünsche erwachen zum Leben.
        </p>
    </div>
    <div class="claim-part claim-right">
        <p>
            "Augmented reality is going to revolutionize many of the experiences we have with mobile devices
        </p>
        <span>Tim Cook - CEO Apple Inc.</span>
        <button class="vp-cta learn-more">
            <a>+ Erfahre mehr über AR</a>
        </button>
    </div>
</section>