<section class="claim-section">
    <div class="claim-part claim-left">
        <p>
            Herausragendes Immobilienerlebnis.
        </p>
    </div>
    <div class="claim-part claim-right">
        <p>
            Wir liefern personalisierte Reisen, bei der Ihre Kunden ihr zukünftiges Zuhause in erstaunlichem Detail erkunden können. - Aus jedem Blickwinkel.
        </p>
        <span></span>
        <button class="vp-cta learn-more">
            <a href="/#footer">Kontakt aufnehmen</a>
        </button>
    </div>
</section>