<section class="claim-section">
    <div class="claim-part claim-left">
        <p>
            Zeit ist Geld.
        </p>
    </div>
    <div class="claim-part claim-right">
        <p>
            Sparen Sie sich die Zeit unlesbare Pläne zu erklären. Erwecken Sie die Pläne zum Leben - Überall!
        </p>
        <span></span>
        <button class="vp-cta learn-more">
            <a href="/services">Unsere Leistungen</a>
        </button>
    </div>
</section>