<head>
    <link rel="stylesheet" href="styles/claim.css">
</head>
<section class="claim-section">
    <div class="claim-part claim-left">
        <p>
            Ein herausragendes Immobilienerlebnis.
        </p>
    </div>
    <div class="claim-part claim-right">
        <p>
            Wir liefern personalisierte Reisen, bei der Ihre Kunden ihr zukünftiges Zuhause in erstaunlichem Detail erkunden können. - Aus jedem Blickwinkel.
        </p>
        <span></span>
        <button class="vp-cta learn-more">
            <a>+ Erfahre mehr über AR</a>
        </button>
    </div>
</section>