<head>
    <link rel="stylesheet" href="/styles/comparison.css">
</head>
<section class="section-container comparison-section">
  <section class="comparison-section-container">
    <div class="comparison-head">
      <h2>HomeTour vs. Virtual Reality</h2>
    </div>
    <div class="comparison-body">
      <div class="comparison-benefit">
        <div class="comparison-benefit-header">
          <h4><strong>Realitätsbezug</strong></h4>
        </div>
        <div class="comparison-benefit-body">
          <div class="comparison comparison-hometour">
            <div class="hometour-icon"></div>
            <p>HomeTour</p>
            <p>integriert digitale Inhalte in die echte Umgebung</p>
          </div>
          <div class="comparison comparison-vr">
            <div class="vr-icon"></div>
            <p>Virtual Reality</p>
            <p>hingegen schafft eine vollständig künstliche Welt</p>
          </div>
        </div>
      </div>


      <div class="comparison-benefit">
        <div class="comparison-benefit-header">
          <h4><strong>Keine Spezialhardware</strong></h4>
        </div>
        <div class="comparison-benefit-body">
          <div class="comparison comparison-hometour">
            <div class="hometour-icon"></div>
            <p>HomeTour</p>
            <p>benötigt nur ein Smartphone oder Tablet</p>
          </div>
          <div class="comparison comparison-vr">
            <div class="vr-icon"></div>
            <p>Virtual Reality</p>
            <p>erfordert ein spezielles Headset</p>
          </div>  
        </div>
      </div>
      
      <div class="comparison-benefit">
        <div class="comparison-benefit-header">
          <h4><strong>Höhere Benutzerinteraktion</strong></h4>
        </div>
        <div class="comparison-benefit-body">
          <div class="comparison comparison-hometour">
            <div class="hometour-icon"></div>
            <p>HomeTour</p>
            <p>ermöglicht Interaktionen in der realen Welt</p>
          </div>
          <div class="comparison comparison-vr">
            <div class="vr-icon"></div>
            <p>Virtual Reality</p>
            <p>ist beschränkt auf virtuelle Räume</p>
          </div>
        </div>
      </div>
      
      <div class="comparison-benefit">
        <div class="comparison-benefit-header">
          <h4><strong>Keine Nebenwirkungen</strong></h4>
        </div>
        <div class="comparison-benefit-body">
          <div class="comparison comparison-hometour">
            <div class="hometour-icon"></div>
            <p>HomeTour</p>
            <p>führt im Vergleich zu VR seltener zu Nebenwirkungen wie Übelkeit</p>
          </div>
        </div>
      </div>
    </div>
    </section>
</section>