<head>
    <link rel="stylesheet" href="styles/cta-download.css">
</head>
<section class="cta-download-section">
    <div class="bet">
        <h3>
            Noch nicht ganz überzeugt?
        </h3>
        <p>
            Wetten, dass unsere Anwendung auch bei Ihnen ein "WOW-EFFEKT" auslöst?! 
            
            Laden Sie sich unsere HomeTour App aus dem AppStore und probieren Sie es aus. 
            Es ist keine Registrierung erforderlich.

            Sollten Sie dann noch Zweifel haben, erhalten Sie Ihr erstes Projekt zum halben Preis!
            
            
        </p>
        <p style="color: #FC9946;">Nehmen Sie die Wette an?</p>
        <a href="https://apple.co/3qYag25"><img src="content/icons/appstore-black.svg"/></a>
    </div>
    <div class="app-cover">
        <img src="content/cta-download/app.png"></img>
    </div>
</section>