<head>
    <link rel="stylesheet" href="styles/cta-banner.css">
</head>
<section class="section-container">
<section class="cta-banner-section">
    <img src="/content/images/dots-diagonal.png" alt="Dots" class="cta-banner-section-bkg">
    <div class="cta-banner">
        <h2>
            <strong>
                Ihre Individuelle Demo
            </strong>
        </h2>
        <p>
            Erfahren Sie in einem unverbindlichen Demo-Termin, wie unsere Software funktioniert und überzeugen Sie sich selbst von dem Nutzen.
            <br> Wir freuen uns auf Sie!
        </p>
        <button class="secondary-cta-btn" link="https://my.meetergo.com/mohamed-aajour/demositzung">Kostenloses Beratungsgespräch</button>
    </div>
    <div class="model">
        <img loading="lazy" src="content/images/3d-model.png" alt="3D Modell"></img>
    </div>
</section>
</section>