<head>
    <link rel="stylesheet" href="styles/cta-download.css">
</head>
<section class="cta-download-section">
    <div class="bet">
        <h3>
            Neugierig?
        </h3>
        <p>
            Unsere Anwendung wird garantiert auch bei Ihnen einen "WOW-EFFEKT" auslösen. Versprochen!
            
            Laden Sie sich unsere HomeTour App aus dem AppStore herunter und probieren Sie es aus. 
            Es ist keine Registrierung erforderlich.

        </p>
        <!-- <p style="color: #FC9946;">Nehmen Sie die Wette an?</p> -->
        <a href="https://apple.co/3qYag25"><img src="content/icons/appstore-black.svg"/></a>
    </div>
    <div class="app-cover">
        <img loading="lazy" src="content/cta-download/app.png"></img>
    </div>
</section>