<head>
    <link rel="stylesheet" href="styles/customers.css">
</head>
<section class="customers-section">
    <h2 class="h2-bright">Unsere Kunden</h2>
    <div class="customers-logos">
        <img src="content/partners/CAPITAL_CONNECT.svg"/>
        <img src="content/partners/buedenbender.png"/>
        <img src="content/partners/Schwabenhaus.svg"/>
    </div>
</section>