<head>
    <link rel="stylesheet" href="styles/customers.css">
</head>
<section class="section-container customers-container">
<section class="customers-section">
    <h2>Zu unseren Kunden zählen</h2>
    <div class="customers-logos">
        <img src="content/partners/CAPITAL_CONNECT.svg" alt="Capital-Connect GmbH"/>
        <img src="content/partners/buedenbender.png" alt="Buedenbender-Hausbau GmbH"/>
        <img src="content/partners/Schwabenhaus.svg" alt="Schwabenhaus GmbH"/>
        <img src="content/partners/herne-logo.svg" alt="Stadt Herne"/>
        <img src="content/partners/fiorik.svg" alt="Fiorik GmbH"/>
    </div>
    <h2></h2>
</section>
</section>