<head>
    <link rel="stylesheet" href="styles/customers.css">
</head>
<section class="section-container customers-container">
<section class="customers-section">
    <div class="customers-header">
        <span>REFERENZEN</span>
    <h2>Sie sind in guter Gesellschaft</h2>
    <div class="customers-header-sub">
        <h3>Unsere Kunden sind Bauträger, Makler und Architekten. <br></h3>
    </div>
    </div>
    <div class="customers-logos">
        <div class="logo"><img loading="lazy" src="content/partners/CAPITAL_CONNECT.png" alt="Capital-Connect GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/buedenbender.png" alt="Buedenbender-Hausbau GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/Schwabenhaus.svg" alt="Schwabenhaus GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/herne-logo.svg" alt="Stadt Herne"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/splietker.png" alt="Splietker Bau GmbH"/></div>
        
        <div class="logo"><img loading="lazy" src="content/partners/CAPITAL_CONNECT.png" alt="Capital-Connect GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/buedenbender.png" alt="Buedenbender-Hausbau GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/Schwabenhaus.svg" alt="Schwabenhaus GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/herne-logo.svg" alt="Stadt Herne"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/splietker.png" alt="Splietker Bau GmbH"/></div>
        
        <div class="logo"><img loading="lazy" src="content/partners/CAPITAL_CONNECT.png" alt="Capital-Connect GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/buedenbender.png" alt="Buedenbender-Hausbau GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/Schwabenhaus.svg" alt="Schwabenhaus GmbH"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/herne-logo.svg" alt="Stadt Herne"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/splietker.png" alt="Splietker Bau GmbH"/></div>
        
    </div>
    <h2></h2>
</section>
</section>