<head>
    <link rel="stylesheet" href="styles/demo-hero.css">
</head>
<section class="section-container">
<section class="demo-hero-section">
  <div class="demo-hero-container">
    <div class="demo-hero-title">
      <h1>Virtuelle Besichtigungen, die <strong>Emotionen</strong> wecken</h1>
      <h3>So sehen 4D Visualisierungen von Quilar aus</h3>
    </div>
    <div class="demo-hero-video">
      <iframe 
              src="https://www.youtube-nocookie.com/embed/5ls_lQX39nM?si=s8yPt1kSuBuqapeh" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="promise-container">
    <span>VORSTELLUNGSKRAFT</span>
    <h3>
      <strong>"Ich kann mir das nicht vorstellen."</strong>
    </h3>
    <p>
        Mit der Projizierung Ihrer Baupläne in die Realität erweckt unsere HomeTour App Ihr Immobilienangebot zum Leben. Überlassen Sie die Überzeugungskraft nicht mehr der Vorstellungskraft Ihrer Kunden.
    </p>
    <button class="secondary-cta-btn">unverbindliche Kontaktaufnahme</button>
</div>
</section>
</section>