<head>
    <link rel="stylesheet" href="styles/demo.css">
</head>
<section class="demo-section">
  <div class="demo-container">
    <div class="demo-video">
      <iframe 
              src="https://www.youtube-nocookie.com/embed/5ls_lQX39nM?si=s8yPt1kSuBuqapeh" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
      </iframe>
    </div>
    <div class="demo-right">
      <h3>
          So etwas haben Ihre Kunden noch nie gesehen. 
          Wir verwandeln Ihre Baupläne zu Erlebnisse.
      </h3>
      <p>
          Treten Sie jetzt mit uns in Kontakt und vereinbaren Sie ein
          Beratungsgespräch mit uns. Wir zeigen Ihnen, wie Sie, durch den Abbau von Kommunikationshürden, Zeit und Kosten sparen.
      </p>
      <button class="primary-cta-btn learn-more meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Termin vereinbaren</a></button>
    </div>
  </div>
</section>
