<head>
    <link rel="stylesheet" href="/styles/demo-hero.css">
    <script src="/scripts/hero-modal.js"></script>
</head>
<section class="section-container">
<section class="demo-hero-section">

  <div class="demo-hero-container">
    <div class="demo-hero-header">
      <span><strong class="colored-underline">HOMETOUR BY QUILAR</strong></span>
      <h1 class="demo-hero-title">Virtuelle Besichtigungen, die <strong>Emotionen wecken</strong></h1>
      <div class="demo-hero-btns">
        <!-- <button class="demo-hero-cta-btn meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung">Kontakt aufnehmen</button> -->
        <!-- Button to Open Modal -->
        <button id="playVideoBtn" class="demo-hero-cta-btn secondary-demo-hero-btn">Video abspielen</button>
      </div>

      <!-- Modal Structure -->
      <div id="videoModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <iframe id="modalVideo" data-lazy-load="https://www.youtube-nocookie.com/embed/t-AvTblIxEc?si=KCInZ1yBe17gTaks"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="demo-hero-cta-btns">

      </div>
    </div>
    <video playsinline autoplay="autoplay" loop id="vid" muted class="demo-hero-bkg">
      <source src="/content/videos/hometour-over-shoulder.mp4" alt="Intro" type="video/mp4">
    </video>
    <div class="demo-hero-foot">
      <svg class="mr-2 scroll-indicator" width="45" height="64" viewBox="0 0 45 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="dot" x="18" y="11" width="9" height="18" rx="4.5" fill="#D9D9D9"/>
        <rect x="4.5" y="3.5" width="36" height="59" rx="18" stroke="white"/>
      </svg>
      <div class="appstore-rating">
        <div class="appstore-rating-header">
          <span>5.0 im </span>  
          <img src="/content/icons/apple_appstore_logo.svg" alt="appstore"/>
        </div>
        <div class="appstore-rating-stars">
          <img src="/content/icons/stars.svg" alt="rating-stars"/>
          <img src="/content/icons/stars.svg" alt="rating-stars"/>
          <img src="/content/icons/stars.svg" alt="rating-stars"/>
          <img src="/content/icons/stars.svg" alt="rating-stars"/>
          <img src="/content/icons/stars.svg" alt="rating-stars"/>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</section>