<head>
    <link rel="stylesheet" href="/styles/demo-hero.css">
    <script src="/scripts/hero-modal.js"></script>
</head>
<section class="section-container">
<section class="demo-hero-section">

  <div class="demo-hero-container">
    <div class="demo-hero-header">
      <h1 class="demo-hero-title">
        Biete deinen Bauherren ihr zukünftiges Eigenheim in <strong class="cta-color">Lebensgröße!</strong> 
        <p class="hero-subtitle">
          Solange du dich um die Planung und den Bau kümmerst tauschst du <br>
          <strong class="cta-color">Schlüsselübergabe</strong>
          gegen
          <strong class="cta-color">iPad-Übergabe</strong>  
        </p>
      </h1>
      <div class="demo-hero-btns">
        <button class="demo-hero-cta-btn primary-cta-btn"><a href="/contact" id="cta_hero">Zeigs mir!</a></button>
        <!-- Button to Open Modal -->
        <button id="playVideoBtn" class="secondary-cta-btn">Video abspielen</button>
      </div>

      <!-- Modal Structure -->
      <div id="videoModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <iframe id="modalVideo" data-lazy-load="https://www.youtube-nocookie.com/embed/Ea8FkKptjmE?si=u2dyaFpObrmZ5mWN&amp"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="hero-bkg">
      <video playsinline autoplay="autoplay" loop id="vid" muted>
        <source src="/content/videos/demo-hero.mp4" alt="Intro" type="video/mp4">
      </video>
    </div>
  </div>
</div>
</section>
</section>