<head>
    <link rel="stylesheet" href="/styles/dream.css">
</head>
<section class="section-container">
<section class="dream-section">
    <img src="/content/images/dots-vertical.png" alt="Dots" class="dream-section-bkg">
    <div class="dream-title">
        <h2>In Zeiten hoher Zinsen...</h2>
    </div>
    <div class="dream-group">
        <div class="dream dream-reverse dream-story">
            <div class="dream-header">
                <img src="/content/images/dream.png" loading="lazy" alt="Ein Pärchen steht vor ihrem leeren Grundstück und träumt von den eigenen 4 Wänden."/>
                <div class="dream-header-overlay"></div>
            </div>
            <div class="dream-body">
                <p>
                    ...reichen Hochglanzbroschüren nicht mehr aus. <br><br>
                    <strong>Zögern, Zweifel und Zurückhaltung</strong> prägen die Entscheidungsfindung. <br>
                    Ihre potenziellen Kunden suchen nach Sicherheit, nach greifbaren Erlebnissen, die ihnen die Angst vor der großen Investition nehmen. Sie wollen ihr zukünftiges Zuhause spüren, bevor der erste Stein gelegt wird. <br><br><br>
                    Um das Herz Ihrer Kunden zu gewinnen, brauchen Sie mehr als nur Papier - <br>
                   <strong class="highlight">Sie brauchen ein Werkzeug, das Ihre Projekte lebendig werden lässt.</strong>
                    
                </p>
            </div>
        </div>
        
        <div class="dream">
            <div class="dream-header">
                <img src="/content/images/begehung.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="dream-body">
                <h3>Schaffen Sie Erlebnisse...</h3>
                <p>
                    ...mit einem Werkzeug, das das "Wohnen zur Probe" ermöglicht.<br><br>
                    Vereinbaren Sie einen Termin mit Ihren Bauherren direkt am Baugrundstück und projizieren Sie das Entwurfsmodell im 1:1 Maßstab auf dem Boden. <br><br>
                    
                    Modernste Geodaten und Kameratechnologie machen die Begehung in Lebensgröße möglich. <br><br>
                    <strong class="highlight">So Intuitiv, als stünde man bereits in seinem neuem Zuhause.</strong>
                </p>
            </div>
        </div>

        <div class="dream dream-reverse">
            <div class="dream-header">
                <img src="/content/images/office.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="dream-body">
                <h3>Wer nichts zu verbergen hat, ...</h3>
                <p>
                    ...profitiert von der detaillierten Einsicht, die Bauherren nun in die Planung erhalten.<br><br>
                    Platzieren Sie die Pläne als Miniaturhaus auf dem Besprechungstisch und gehen Sie die Planung bis ins kleinste Detail durch.
                    <br><br>

                    <strong class="highlight">Diese Transparenz schafft Vertrauen.</strong>
                </p>
            </div>
        </div>

        <div class="dream">
            <div class="dream-header">
                <img src="/content/images/emotions.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="dream-body">
                <h3>
                    <strong>Investieren Sie</strong> in die Zukunft des Hausbaus. <br><br>                
                    <strong>Investieren Sie</strong> in emotionale Kundenbindung. <br><br>
                    <strong>Investieren Sie</strong> in Erfolg. <br><br>
                    <strong class="highlight">Investieren Sie 15 Minuten</strong>
                </h3>
                <p>
                    <button class="primary-cta-btn"><a href="/contact">Termin anfragen</a></button>
                </p>
            </div>
        </div>
    </div>
</section> 
</section>