<head>
    <link rel="stylesheet" href="/styles/faq.css">
</head>
<script src="/scripts/faq.js"></script>
<section class="section-container">
<section class="faq-container">
  <img src="/content/images/dots-vertical.png" alt="Dots" class="faq-section-bkg">
    <div class="faq-header">
        <span>WEIL WIR GERNE ERKLÄREN</span>
        <h2>Häufig gestellte Fragen</h2>
    </div>
    <div class="faq-wrapper">
      <% if(!faqs){ %> 
        <div class="faq-error">
          <p> Dieser Abschnitt ist zur Zeit in Bearbeitung </p>
        </div>
        
      <% } else if(faqs.length > 0) { faqs.forEach((faq) => {%>
        <div class="faq-item">
          <div class="faq-question" onclick="toggleFaq(this)"> 
            <p><%= faq.question %></p>
            <div class="faq-icon">&#9662;</div>
          </div>
          <div class="faq-answer">
            <p>
              <%- faq.answer %>
            </p>
          </div>
        </div>
        <% }) } %>
    </div>
    
</section>
</section>
