<head>
    <link rel="stylesheet" href="styles/faq.css">
</head>
<script src="/scripts/faq.js"></script>
<section class="section-container">
<section class="faq-container">
  <img src="/content/images/dots-vertical.png" alt="Dots" class="faq-section-bkg">
    <div class="faq-header">
        <span>FAQ</span>
        <h2>Weil wir gerne erkl채ren</h2>
    </div>
    <div class="faq-wrapper">
      <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(this)">
          <p>H채ufig gestellte Frage</p>
          <div class="faq-icon">&#9662;</div>
        </div>
        <div class="faq-answer">
          <p>
              Lorem Ipsum Antwort auf deine Frage
          </p>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(this)">
          <p>H채ufig gestellte Frage</p>
          <div class="faq-icon">&#9662;</div>
        </div>
        <div class="faq-answer">
          <p>
              Lorem Ipsum Antwort auf deine Frage
          </p>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(this)">
          <p>H채ufig gestellte Frage</p>
          <div class="faq-icon">&#9662;</div>
        </div>
        <div class="faq-answer">
          <p>
              Lorem Ipsum Antwort auf deine Frage
          </p>
        </div>
      </div>
    </div>

    
</section>
</section>
