<head>
    <link rel="stylesheet" href="styles/faq.css">
</head>
<script src="/scripts/faq.js"></script>
<section class="section-container">
<section class="faq-container">
    <div class="faq-header">
        <span>FAQ</span>
        <h2>Weil wir gerne erkl채ren</h2>
    </div>
    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(this)">
        <span>H채ufig gestellte Frage</span>
        <div class="faq-icon">&#9662;</div>
      </div>
      <div class="faq-answer">
        <p>
            Lorem Ipsum Antwort auf deine Frage
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(this)">
        <span>H채ufig gestellte Frage</span>
        <div class="faq-icon">&#9662;</div>
      </div>
      <div class="faq-answer">
        <p>
            Lorem Ipsum Antwort auf deine Frage
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(this)">
        <span>H채ufig gestellte Frage</span>
        <div class="faq-icon">&#9662;</div>
      </div>
      <div class="faq-answer">
        <p>
            Lorem Ipsum Antwort auf deine Frage
        </p>
      </div>
    </div>

    
</section>
</section>
