<head>
    <link rel="stylesheet" href="styles/first-steps.css">
</head>
<section class="section-container">
<section class="first-steps-section">
  <div class="first-steps-container">
    <span>ERSTGESPRÄCH</span>
    <h2>So kommen wir zusammen</h2>
    <div class="first-steps-wrapper">
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Kontaktformular" src="/content/icons/form.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 1</strong> </p>
          <p>Fragebogen ausfüllen</p>
          <p><strong>Zeitaufwand: ~3 min</strong></p>
        </div>
      </div>
      
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Telefonat" src="/content/icons/call.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 2</strong></p>
          <p>Wir melden uns</p>
          <p><strong>Zeitaufwand: ~5 min</strong></p>
        </div>
      </div>
      
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Demotermin" src="/content/icons/demo.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 3</strong> </p>
          <p>1 zu 1 Demo Präsentation</p>
          <p><strong>Zeitaufwand: ~45 min</strong></p>
        </div>
      </div>
    </div>

    <div class="first-steps-demo-message">
      <div class="first-steps-demo">
        <h2><strong>Was passiert im Demotermin?</strong></h2>
        <p>Wir präsentieren Ihnen unsere Lösung in einem Video Call damit Sie sich von dem Mehrwert selbst überzeugen können.
          Wenn wir gut zusammenpassen, erhalten Sie von uns ein unverbindliches Angebot.
        </p>
      </div>
      <div class="first-steps-message">
        <div class="first-steps-message-video">
          <iframe src="" data-lazy-load="https://www.youtube-nocookie.com/embed/KajSugsZV-A?si=RyVLe5DLkPRVjT8y"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <img class="video-thumbnail" loading="lazy"  src="/content/images/personal-message-thumbnail.png" alt="Persönliche Nachricht unseres Gründers"/>
        </div>
      </div>
    </div>

    <div class="first-steps-footer">
        <button class="secondary-cta-btn"><a href="/contact"> Kostenloses Beratungsgespräch </a></button>
    </div>
  </div>
</section>
</section>