<head>
    <link rel="stylesheet" href="/styles/first-steps.css">
</head>
<section class="section-container">
<section class="first-steps-section">
  <div class="first-steps-container">
    <span>ERSTGESPRÄCH ANFRAGEN</span>
    <h2>Fragen kostet nix</h2>
    <div class="first-steps-wrapper">
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Kontaktformular" src="/content/icons/form.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 1</strong> </p>
          <p>Wer sind Sie?</p>
        </div>
      </div>
      
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Telefonat" src="/content/icons/call.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 2</strong></p>
          <p>Wir rufen Sie an</p>
        </div>
      </div>
      
      <div class="first-steps">
        <div class="first-steps-header">
          <img loading="lazy" alt="Demotermin" src="/content/icons/demo.png"/>
        </div>
        <div class="first-steps-body">
          <p><strong>Schritt 3</strong> </p>
          <p>Wir lernen uns kennen</p>
        </div>
      </div>
    </div>

    <div class="first-steps-demo-message">
      <div class="first-steps-demo">
        <h2><strong>Unser Kennenlernen:</strong></h2>
        <p>
          Sie erhalten einen exklusiven Einblick in unsere Softwarelösung in einem 15-minütigen Webinar.
          Wir besprechen, ob Ihnen die 4D Visualisierungen in der Steigerung der Abschlussquote helfen kann.
        </p>
      </div>
      <div class="first-steps-message">
        <div class="first-steps-message-video">
          <iframe src="" data-lazy-load="https://www.youtube-nocookie.com/embed/KajSugsZV-A?si=RyVLe5DLkPRVjT8y"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <img class="video-thumbnail" loading="lazy"  src="/content/images/personal-message-thumbnail.png" alt="Persönliche Nachricht unseres Gründers"/>
        </div>
      </div>
    </div>

    <div class="first-steps-footer">
        <button class="secondary-cta-btn"><a href="/contact" id="cta_first-steps"> Präsentation anfragen </a></button>
    </div>
  </div>
</section>
</section>