<head>
    <link rel="stylesheet" href="styles/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/contact-form.js"></script>
</head>
<section class="footer-section">
    <div class="footer-content">
        <div class="footer-adress">
            <h3>Adresse</h3>
            <span> 
                Quilar GmbH <br>
                Am Gulloh 106 <br>
                44339 Dortmund
            </span>
        </div>
        <div class="footer-mail">
            <h3>E-mail</h3>
            <a href="mailto:info@quilar.de">
                <span>info@quilar.de</span>
            </a>
        </div>
        <div class="footer-sm"> 
            <h3>Social Media</h3>
            <div class="footer-sm-logos">
                <a href="https://www.instagram.com/quilar.de/">
                    <img class="sm-logo" src="content/footer/instagram.svg"/>
                </a>
                <a href="https://www.linkedin.com/company/quilar/">
                    <img class="sm-logo" src="content/footer/linkedin.svg"/>
                </a>
            </div>
        </div>
        <div class="footer-contact">
            <h3>Kontakt</h3>
            <form id="contact-form" action="/submit-contact-form" method="POST">
                <div class="form-name">
                  <label for="name"></label>
                  <input type="text" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-email">
                  <label for="email"></label>
                  <input type="email" id="email" name="email" placeholder="E-Mail Adresse" required>
                </div>
                <div class="form-message">
                  <label for="message"></label>
                  <textarea id="message" name="message" placeholder="Nachricht" required></textarea>
                </div>
                <p id="response"></p>
                <button type="submit"><a>Senden</a></button>
              </form>
              
        </div>
    </div>
    <div class="footer-links">
        <a href="/cookies">Cookie-Einstellungen</a>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/impressum">Impressum</a>
    </div>

</section>