<head>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<section class="section-container footer-section">
<section id="footer" class="footer-container">
    <div class="footer-content">
        <div class="footer-header footer-part">
            <a href="/">
                <img loading="lazy" src="/content/logo/logo-weiss.svg" alt="Quilar Logo weiß"/>
            </a>
        </div>
        <div class="footer-links footer-part">
            <p><strong>LINKS</strong></p>
            <a href="/"><img loading="lazy" class="footer-icon" src="/content/logo/Isotyp_weiß.svg" alt="Quilar Logo"/> Home </a>
            <a href="/about"><img loading="lazy" class="footer-icon" src="/content/icons/team.svg" alt="Quilar Team"/> Team</a>
            <a href="/hometour"><img loading="lazy" class="footer-icon" src="/content/icons/tablet.svg" alt="HomeTour App"/> Unsere App</a>
            <a href="/blog"><img loading="lazy" class="footer-icon" src="/content/icons/blog.svg" alt="Blog-icon"/> Blog</a>
        </div>
        <div class="footer-support footer-part">
            <p><strong>SUPPORT</strong></p>
            <a href="mailto:info@quilar.de"><img loading="lazy" class="footer-icon" src="/content/icons/mail.svg" alt="Mail"/> support@quilar.de</a>
            <a href="tel:+4915737198065"><img loading="lazy" class="footer-icon" src="/content/icons/phone.svg" alt="Telefon"/>+49 1573 719 80 65</a>
        </div>
        <div class="footer-sm footer-part"> 
            <p><strong>SOCIAL MEDIA</strong></p>
            <a href="https://www.youtube.com/@quilar-de/" target="_blank">
                <img loading="lazy" class="footer-icon" src="/content/icons/youtube.svg" alt="Youtube-Logo"/>
                Youtube
            </a>
            <a href="https://www.linkedin.com/company/quilar/" target="_blank">
                <img loading="lazy" class="footer-icon" src="/content/icons/linkedin.svg" alt="LinkeIn-Logo"/>
                LinkedIn
            </a>
            <a href="https://www.facebook.com/people/Quilar/61553170626122/" target="_blank">
                <img loading="lazy" class="footer-icon" src="/content/icons/facebook.svg" alt="Facebook-Logo"/>
                Facebook
            </a>
            <a href="https://www.instagram.com/quilar.de/" target="_blank">
                <img loading="lazy" class="footer-icon" src="/content/icons/instagram.svg" alt="Instagram-Logo"/>
                Instagram
            </a>
        </div>
        <div class="footer-legal footer-part">
            <p><strong>INFORMATION</strong></p>
            <a href="/cookies" data-cc="c-settings"><img loading="lazy" class="footer-icon" src="/content/icons/cookie.svg" alt="cookie icon"/> Cookie-Einstellungen</a>
            <a href="/datenschutz"><img loading="lazy" class="footer-icon" src="/content/icons/locker.svg" alt="locker icon"/> Datenschutz</a>
            <a href="/impressum"><img loading="lazy" class="footer-icon" src="/content/icons/web-privacy.svg" alt="privacy icon"/> Impressum</a>
            <a href="/nutzungsbedingungen"><img loading="lazy" class="footer-icon" src="/content/icons/license.svg" alt="license icon"/> AGB</a>
        </div>
        <div class="footer-border footer-part"><span>Copyright © 2023 Quilar. All rights reserved.</span></div>
    </div>

</section>
</section>