<head>
    <link rel="stylesheet" href="styles/footer.css">
</head>
<section id="footer" class="footer-section">
    <div class="footer-border"><span>Copyright © 2023 Quilar. All rights reserved.</span></div>
    <div class="footer-content">
        <!-- <div class="footer-adress">
            <span> 
                Quilar GmbH <br>
                Am Gulloh 106 <br>
                44339 Dortmund
            </span>
        </div> -->
        <div class="footer-mail">
            <a href="mailto:info@quilar.de">
                <span>info@quilar.de</span>
            </a>
        </div>
        <div class="footer-sm"> 
            <div class="footer-sm-logos">
                <a href="https://www.instagram.com/quilar.de/">
                    <img class="sm-logo" src="content/footer/instagram.svg"/>
                </a>
                <a href="https://www.linkedin.com/company/quilar/">
                    <img class="sm-logo" src="content/footer/linkedin.png"/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-links">
        <a href="/cookies">Cookie-Einstellungen</a>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/impressum">Impressum</a>
    </div>

</section>