<head>
    <link rel="stylesheet" href="styles/founder.css">
</head>
<section class="section-container">
<section class="founder-section">
        <div class="founder-header">
            <span>ZU UNS</span>
            <h2>Eine Nachricht von unserem Gründer</h2>
        </div>
        <div class="founder-body">
            <iframe src="https://www.youtube-nocookie.com/embed/atXenG9W1vc?si=6kbsNe6uvyh1pbNg&amp;start=18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
</section>
</section>