<head>
    <link rel="stylesheet" href="/styles/founder.css">
</head>
<section class="section-container">
<section class="founder-section">
    <div class="founder-header">
        <h2>Unsere Geschichte und unser Warum</h2>
    </div>
    <div class="founder-body">
        <div class="founder-image">
            <img src="/content/team/momo.jpeg" alt="Foto des Quilar Gründers Momo Aajour auf seiner ehem. Baustelle beim Kranabbau"/>
            <h4>M.Sc. Momo Aajour</h4>
            <p>Gründer & Geschäftsführer</p>
            <button class="linked-in-btn">
                <img src="/content/icons/linkedin.svg" alt="linkedin-icon">
                <a href="https://linkedin.com/in/aajour" target="_blank"
                    rel="noopener noreferrer"> Vernetzen</a>
            </button>
        </div>
        <div class="founder-story">
            <p>
                Bei der Leitung eines Mehrfamilienhaus-Projekts wurde Momo bewusst: <br> 
                Die komplexen Baupläne und Grundrisse waren für die zukünftigen Bewohner oft <strong class="">ein Buch mit sieben Siegeln.</strong> <br><br>
                <strong>Das Resultat?</strong> <br> Enttäuschte Gesichter bei der Bauabnahme. Die Realität entsprach nicht den Erwartungen der Familien. <br>
                So beschloss beschloss Momo, die Präsentation von Immobilien von Grund auf neu zu denken. <br><br>
                <strong>Sein Ziel?</strong> <br> 
                Eine Technologie zu entwickeln, die es Baufamilien ermöglicht, ihr zukünftiges Zuhause bereits in der Planungsphase lebensecht zu erleben.
                Autodidaktisch eignete er sich Programmierkenntnisse an und arbeitete unermüdlich an seiner Vision. <br><br>
                
                <strong>Das Ergebnis?</strong><br> 
                <strong class="highlight">HomeTour by Quilar</strong> - eine App, die den Status Quo in der Immobilienvermarktung herausfordert. 
                Sie verwandelt abstrakte Pläne in begehbare 4D-Erlebnisse und bietet Bauherren und Immobilienkäufern ein mächtiges Tool mit echtem Wow-Faktor.
            </p>
        </div>
    </div>

</section>
</section>