<head>
    <link rel="stylesheet" href="styles/founder.css">
</head>
<section class="section-container">
<section class="founder-section">
    <div class="founder-header">
        <span>UNSER WARUM</span>
        <h2>Die Gründung von <strong>Quilar</strong></h2>
    </div>
    <div class="founder-body">
        <div class="founder-image">
            <img src="content/team/momo.png"/>
            <h4>M.Sc. Mohamed Aajour</h4>
            <p>Gründer & Geschäftsführer</p>
            <button class="linked-in-btn">
                <img src="/content/icons/linkedin.svg" alt="linkedin-icon">
                <a href="https://linkedin.com/in/aajour" target="_blank"
                    rel="noopener noreferrer"> Mohamed Aajour</a>
            </button>
        </div>
        <div class="founder-story">
            <p>
                In seiner Laufbahn als Bauprojektmanager leitete Mohamed Aajour u.A. den Bau eines Mehrfamilienhauses. 
                <br>
                Durch die vielen, für Laien leider schwer verständlichen, Baupläne und Grundrisse hatten die Familien falsche Erwartungen an ihr
                zukünftiges Zuhause.
            </p>
            <p class="p-bold p-result">
                Das Ergebnis: Enttäuschte Gesichter. 
            </p>
            <p>
                Er hat es sich zur Aufgabe gemacht die Präsentation von Immobilienangeboten so zu gestalten,
                dass die Vorstellung der Baufamilien auch der Realität entspricht.
                <br>
                Dieses Ziel ist ihm so wichtig, dass er seinen sicheren Job aufgab und sich ohne IT-Vorkenntnisse mit der 
                Augmented-Reality-Technologie auseinandersetzte und sich das Programmieren beibrachte.
            </p>
            <p>
                Als Ergebnis entstand eine innovative App namens <strong>HomeTour by Quilar</strong>,
                die den Status Quo in der Immobilienvermarktung herausfordert
                und ein mächtiges Tool mit <strong>WOW-Faktor</strong> bereitstellt. 
            </p>
        </div>
    </div>

</section>
</section>