<meta charset="UTF-8">
<title>Hometour by Quilar</title>
<link rel="icon" href="https://quilar.de/content/logo/favicon.ico" />
<meta name="apple-itunes-app" content="app-id=3qYag25">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">