<head>
    <link rel="stylesheet" href="/styles/header.css">
    <script src="/scripts/navbar.js"></script>
  </head>

<nav class="navbar">
  <a class="navbar-logo"  href="/">
    <img src="/content/logo/waagerecht_farbverlauf.svg" loading="lazy" alt="quilar logo isotyp"/>
  </a>
  <div class="placeholder"></div>
    <ul class="navbar-links">
      <li class="nav-item">
        <a class="nav-link" href="/"><strong>Startseite</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hometour"><strong>Lösung</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><strong>Unternehmen</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog"><strong>Blog</strong></a>
      </li>
      <li class="nav-item">
        <button class="secondary-cta-btn highlight"><a class="" id="cta_navbar" href="/contact"><strong>Demo anfordern</strong></a></button>
      </li>
    </ul>
    <img
    onclick="document.body.classList.toggle('open')"
    class="burger"
    src="/content/navbar/menu.svg"
  />  
  </nav>