<head>
    <link rel="stylesheet" href="styles/header.css">
</head>

<nav class="navbar">
    <img class="navbar-logo" href="/" src="content/logo-weiss.svg"/>
    <img
    onclick="document.body.classList.toggle('open')"
    class="burger"
    src="/content/navbar/menu.svg"
  />
    <ul class="navbar-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Preise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Kontakt</a>
      </li>
      <li class="nav-item">
        <button class="nav-button-cta" href="/"><a class="nav-link">Kostenlos testen</a></button>
      </li>
    </ul>
  </nav>