<head>
    <link rel="stylesheet" href="styles/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/navbar.js"></script>
  </head>

<nav class="navbar">
  <a class="navbar-logo"  href="/">
    <img src="content/logo/logo-weiss.svg"/>
  </a>
  <img
    onclick="document.body.classList.toggle('open')"
    class="burger"
    src="content/navbar/menu.svg"
  />
    <ul class="navbar-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#prices">Preise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#footer">Kontakt</a>
      </li>
      <li class="nav-item">
        <button class="nav-button-cta" href="/"><a class="nav-link">Kostenlos testen</a></button>
      </li>
    </ul>
  </nav>