<head>
    <link rel="stylesheet" href="/styles/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/navbar.js"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/meetergo/meetergo-integration/dist/esbuild/browser.js"></script>
  </head>

<nav class="navbar">
  <a class="navbar-logo"  href="/">
    <img src="/content/logo/Isotyp_weiß.svg"/>
  </a>
  <div class="placeholder"></div>
    <ul class="navbar-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hometour">Unsere App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
    </ul>
    <img
    onclick="document.body.classList.toggle('open')"
    class="burger"
    src="/content/navbar/menu.svg"
  />  
  </nav>