<head>
    <link rel="stylesheet" href="/styles/hero.css">
    <script src="/scripts/hero-modal.js"></script>
</head>
<section class="section-container hero-container">
<section class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">
        Wie verkaufst Du einen <strong>Traum</strong>?
        Indem Du ihn <strong>erlebbar</strong> machst!
        <p class="hero-subtitle">
          Verwandle unsichere Interessenten zu begeisterten <strong>Bauherren</strong>, <br>
          durch begehbare Entwürfe in <strong>Lebensgröße</strong>!
        </p>
      </h1>
      <div class="hero-btns">
        <button class="hero-cta-btn primary-cta-btn"><a href="/contact" id="cta_hero">Zeigs mir!</a></button>
        <!-- Button to Open Modal -->
        <button id="playVideoBtn" class="hero-cta-btn secondary-hero-btn">Video abspielen</button>
      </div>

      <!-- Modal Structure -->
      <div id="videoModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <iframe id="modalVideo" data-lazy-load="https://www.youtube-nocookie.com/embed/XX6dN6tFomU?si=9SX2J1K5RVrBBGxh"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="hero-bkg">
      <video playsinline autoplay="autoplay" loop id="vid" muted>
        <source src="/content/videos/hometour-over-shoulder.mp4" alt="Intro" type="video/mp4">
      </video>
    </div>
  </div>
</div>
</section>
</section>