<head>
    <link rel="stylesheet" href="styles/hero.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/hero.js"></script>
</head>
<section class="hero-section">
  <img class="background-video" src="content/hero/Animation.gif" alt="Animated GIF">
  <div class="hero-content">
    <div class="hero-header">
      <!-- <h1 class="title">Die Zukunft des Immobilien Marketings.</h1>
      <p class="subtitle">Wir verwandeln Ihre Immobilie in ein digitales Meisterwerk</p> -->
      <h1 class="title">Virtuelle Erlebnisse mit Augmented Reality</h1>
      <p class="subtitle">
        Sind Sie bereit, die Art und Weise zu revolutionieren, wie Sie Ihre Architektur- und Bauprojekte entwerfen und präsentieren? 
        </br>
        Herzlichst willkommen bei HomeTour by Quilar, wo Kreativität auf Technologie trifft, um Ihre Ideen zum Leben zu erwecken.
      </p>
    </div>
    <div class="hero-cta mobile">
      <a class="hero-cta-appstore" href="https://apple.co/3qYag25">
        <img src="content/navbar/appstore-white.svg">
      </a>
    </div>
    <div class="read-more-container">
      <div class="read-more"></div>
    </div>
  </div>
  <div class="gradient-overlay">
  </div>
</section>
