<head>
    <link rel="stylesheet" href="styles/hero.css">
</head>
<section class="hero-section">
  <video class="background-video" preload="auto" autoplay="false" loop playsinline webkit-playsinline x5-playsinline muted controls="false" src="content/hero/Animation-cutout.mp4">
    
  </video>
  <div class="hero-content">
    <h1 class="title">
      Wo die Grenzen zwischen Fantasie <br>
      und Realität verschwimmen
    </h1>
    <p class="paragraph">
      Entdecken, gestalten und möblieren Sie Ihr Traumhaus in beeindruckendem 1:1-Maßstab, 
      noch bevor der Bau begonnen hat. 
      Genießen Sie atemberaubende Ausblicke und individualisieren Sie das Innere nach Ihrem persönlichen Stil.
    </p>
    <button class="call2action">
      <a>Kostenlos testen</a>
    </button>
  </div>
  <div class="gradient-overlay">
  </div>
</section>
