<head>
    <link rel="stylesheet" href="styles/hero.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/hero.js"></script>
</head>
<section class="hero-section">
  <div class="hero-title">
    <h1 class="title">INTERAKTIVE ARCHITEKTUR</h1>
  </div>
  <div class="hero-content">
    <img class="background-video" src="content/hero/Animation.gif" alt="Animated GIF">
    <div class="hero-paragraph">
      <h3>Design sollte nicht nur vorgestellt, sondern erlebt werden.</h3>
      <p>Sind Sie bereit, die Art und Weise zu revolutionieren, wie Sie Ihre Architektur- und Bauprojekte entwerfen und präsentieren?</p>
      <div class="hero-cta-btns">
        <button class="primary-cta-btn"><a>Termin buchen</a></button>
        <button class="secondary-cta-btn"><a>Demo ansehen</a></button>
      </div>
    </div>
    <div class="hero-cta mobile">
      <a class="hero-cta-appstore" href="https://apple.co/3qYag25">
        <img src="content/navbar/appstore-white.svg">
      </a>
    </div>
  </div>
  <div class="gradient-overlay">
  </div>
</section>
