<head>
    <link rel="stylesheet" href="styles/hero.css">
</head>
<section class="hero-section">
  <div class="hero-title">
    <h1 class="title">Für die Liebe auf den ersten Blick gibt es nur eine Chance!</h1>
  </div>
  <div class="hero-content">
    <img class="background-video" src="content/hero/Animation.gif" alt="Animated GIF">
    <div class="hero-paragraph">
      <div class="hero-paragraph-text">
        <h3>Design sollte nicht nur vorgestellt, sondern erlebt werden.</h3>
        <p>
          Unsere Mission ist es, Ihren Immobilienvertrieb zu unterstützen. Wir bringen Ihre Architekturpläne in die Realität. 
          Dieses Tool verwandelt Ihre Baupläne in interaktive Erlebnisse.
          <br>- Damit sich Ihre Kunden sofort in ihr zukünftiges Zuhause verlieben. -
        </p>
      </div>
      <div class="hero-cta-btns">
        <button class="primary-cta-btn meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Termin buchen</a></button>
        <button class="secondary-cta-btn"><a href="https://hometour.quilar.de/admin" target="_blank">Registrieren</a></button>
      </div>
    </div>
  </div>
  </div>
</section>
