<head>
    <link rel="stylesheet" href="styles/hero.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/hero.js"></script>
</head>
<section class="hero-section">
  <video class="background-video" preload="auto" autoplay="false" loop playsinline webkit-playsinline x5-playsinline muted controls="false" src="content/hero/Animation-cutout.mp4">
    
  </video>
  <div class="hero-content">
    <div class="hero-header">
      <h1 class="title">Die Zukunft des Immobilien Marketings.</h1>
      <p class="subtitle">Wir verwandeln Ihre Immobilie in ein digitales Meisterwrk</p>
    </div>
    <div class="hero-cta mobile">
      <a class="hero-cta-appstore">
        <img src="content/navbar/appstore-white.svg">
      </a>
    </div>
    <div class="hero-cta desktop">
      <button class="hero-cta-contact-us"><a>Kontakt aufnehmen</a></button>
    </div>
    <div class="read-more-container">
      <div class="read-more"></div>
    </div>
  </div>
  <div class="gradient-overlay">
  </div>
</section>
