<head>
    <link rel="stylesheet" href="styles/hero.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <script src="/scripts/hero-modal.js"></script>
</head>
<section class="section-container">
<section class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <!-- <h1 class="hero-title">Besichtigungen, die Emotionen wecken</h1> -->
      <!-- <h1 class="hero-title">Begehbare Grundrisse</h1> -->
      <!-- <h1 class="hero-title">Interaktive 4D Visualisierung für deine Immobilienangebote</h1> -->
      <h1 class="hero-title"><strong>Mehr Abschlüsse</strong> durch virtuelle Besichtigungen in <strong>Echtgröße</strong></h1>
      <!-- <h1>Emotionen für deine Immobilienangebote</h1> -->

      <!-- <p>Der richtige Vorgeschmack für deine Kunden auf ihr zukünftiges Eigenheim.</p> -->
      <!-- <p>
        atemberaubende virtuelle Hausbegehungen in Echtgröße.
        Deine Kunden verlieben sich sofort in dein Immobilienangebot.
      </p> -->
      <!-- <p>Mit virtuellen Begehungen in Echtgröße einen höheren Verkaufserfolg erzielen.</p> -->
      <!-- <p>Erhöhere deine Abschlussquoten mit virtuellen Begehungen in Echtgröße</p> -->
      <div class="hero-btns">
        <button class="hero-cta-btn meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Kontakt aufnehmen</a></button>
        <!-- Button to Open Modal -->
        <button id="playVideoBtn" class="hero-cta-btn secondary-hero-btn" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Video abspielen</a></button>
      </div>

      <!-- Modal Structure -->
      <div id="videoModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <video id="modalVideo" width="100%" controls>
            <source src="/content/hero/hero-bkg-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="hero-cta-btns">

      </div>
    </div>
    <video playsinline autoplay="autoplay" loop id="vid" muted class="hero-bkg">
      <source src="/content/hero/hero-bkg-video.mp4" alt="Intro" type="video/mp4">
    </video>
    <svg class="mr-2 scroll-indicator" width="45" height="64" viewBox="0 0 45 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect class="dot" x="18" y="11" width="9" height="18" rx="4.5" fill="#D9D9D9"/>
      <rect x="4.5" y="3.5" width="36" height="59" rx="18" stroke="white"/>
    </svg>
    <div class="appstore-rating">
      <p>5.0 im <img src="/content/icons/apple_appstore_logo.svg" alt="appstore"/></p>  
      <div class="appstore-rating-stars">
        <img src="/content/icons/stars.svg" alt="rating-stars"/>
        <img src="/content/icons/stars.svg" alt="rating-stars"/>
        <img src="/content/icons/stars.svg" alt="rating-stars"/>
        <img src="/content/icons/stars.svg" alt="rating-stars"/>
        <img src="/content/icons/stars.svg" alt="rating-stars"/>
      </div>
    </div>
  </div>
</div>
</section>
</section>