<head>
    <link rel="stylesheet" href="styles/hero.css">
</head>
<section class="hero-section">
  <video class="background-video" preload="auto" autoplay="false" loop playsinline webkit-playsinline x5-playsinline muted controls="false" src="content/hero/Animation-cutout.mp4">
    
  </video>
  <div class="hero-content">
    <h1 class="title">
      Verwandeln Sie Ihre Immobilie in ein<span class="title highlight"> digitales Meisterwerk</span>
    </h1>
    <h2 class="subtitle">
      Wir liefern das Werkzeug
    </h2>
    <div class="read-more-container">
      <div class="read-more"></div>
    </div>
  </div>
  <div class="gradient-overlay">
  </div>
</section>
