<head>
    <link rel="stylesheet" href="/styles/illustration.css">
    <script>
        function isIllustrationInViewport(element) {
        var illustrationRect = element.getBoundingClientRect();
        return (
            illustrationRect.top <= window.innerHeight * 0.7
        );
        }
 
        function handleIllustrationScroll() {
            var divs = document.querySelectorAll('.illustration-step');
            divs.forEach(div => {
                if (isIllustrationInViewport(div) && !div.classList.contains('animate'))
                    div.classList.add('animate');
            });
        }
        window.addEventListener('scroll', handleIllustrationScroll);
    </script>
</head>
<section class="section-container">
<section class="illustration-section">
    <img src="/content/logo/logo-farbverlauf.svg" alt="Dots" class="illustration-section-bkg">
    <div class="illustration-header">
        <span>UNSERE LÖSUNG</span>
        <h2>Einmal <strong>erlebt</strong>, sofort <strong>verstanden</strong></h2>
    </div>
    <div class="illustration-steps">
        <div class="illustration-step">
            <div class="illustration-circle first-circle"></div>
            <div class="illustration-step-content">
                <h3 class="colored-underline">1. Umgebung scannen</h3>
                <img src="/content/illustration/illustration_step1.png" alt="Umgebung scannen">
                <p>Scannen Sie die Umgebung, bis der Boden erkannt wird. Bewegen Sie sich, bis die App grünes Licht gibt.</p>
            </div>
        </div>

        <div class="illustration-step">
            <div class="illustration-circle first-circe"></div>
            <div class="illustration-step-content">
                <h3 class="colored-underline">2. Objekt platzieren</h3>
                <img src="/content/illustration/illustration_step2.png" alt="Objekt platzieren">
                <p>Platzieren Sie das 3D Objekt dort, wo Sie es haben möchten. Skalieren Sie es auf 100%, damit es in Echtgröße dargestellt wird.</p>
            </div>
        </div>

        <div class="illustration-step">
            <div class="illustration-circle first-circe"></div>
            <div class="illustration-step-content">
                <h3 class="colored-underline">3. Virtuell Begehung</h3>
                <img src="/content/illustration/illustration_step3.png" alt="Virtuele Begehung">
                <p>Erkunden Sie nun den Entwurf in der realen Umgebung. Gehen Sie herum und erleben Sie die Immobilie, als ob sie schon gebaut wäre.</p>
            </div>
        </div>

    </div>
    <div class="illustration-foot">
        <button class="illustration-more-btn"><a href="/hometour">Mehr zu unserer Anwendung</a></button>
    </div>
</section> 
</section>