<head>
    <link rel="stylesheet" href="styles/illustration.css">
</head>

<section class="illustration-section">
    <img src="content/illustration/illustration_step1.svg" class="step1">
    <img src="content/illustration/arrow.svg" class="illustration-arrow">
    <img src="content/illustration/illustration_step2.svg" class="step1">
    <img src="content/illustration/arrow.svg" class="illustration-arrow">
    <img src="content/illustration/illustration_step3.svg" class="step1">
</section> 