<head>
    <link rel="stylesheet" href="styles/illustration.css">
</head>

<section class="illustration-section">
    <div class="illustration-image">
        <img src="content/illustration/illustration_step1.svg" class="step1">
        <img src="content/illustration/arrow.svg" class="illustration-arrow">
        <img src="content/illustration/illustration_step2.svg" class="step1">
        <img src="content/illustration/arrow.svg" class="illustration-arrow">
        <img src="content/illustration/illustration_step3.svg" class="step1">
    </div>
    <div class="illustration-text">
        <p>
            Quilar-App als einfache All-in-one Lösung bietet dem Immobilienmakler ein 
            stetig wachsendes Portfolio der Einrichtungsmöglichkeiten mit Möbeln, Bodenbelägen, Wandgestaltungen und 
            Accessoires und eine stetige Weiterentwicklung unserer App-Anwendung nach den Bedürfnissen der Immobilienmakler.
        </p>
    </div>
</section> 