<head>
    <link rel="stylesheet" href="/styles/location.css">
</head>
<section class="section-container">
<section class="location-section">
  <div class="location-container">
    <div class="location-header">
      <span>LOCATION</span>
      <h2>Hier finden Sie uns</h2>
    </div>
    <div class="location-body">
      <div class="location-address">
        <p>Emil-Figge-Straße 80 in 44227 Dortmund</p>
      </div>
      <div class="location-map">
        <div class="cookie-placeholder location-map-map">
          <img src="/content/images/google-map.png" loading="lazy" alt="Google-Maps Bürostandort Quilar GmbH" class="cookie-placeholder-img">
          <p class="cookie-placeholder-p">Stimmen Sie den Cookie-Einstellungen zu, um Google Maps zu aktivieren</p>
          <button class="cookie-placeholder-button" onclick="CookieConsent.showPreferences()">Cookie-Einstellungen</button>
        </div>
        <iframe data-category="analytics" class="blocked" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.1137090139564!2d7.404848200000001!3d51.4927808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b919003b275def%3A0x13817312efb74160!2sEmil-Figge-Stra%C3%9Fe%2080%2C%2044227%20Dortmund!5e0!3m2!1sde!2sde!4v1707126756710!5m2!1sde!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
</section>