<head>
    <link rel="stylesheet" href="styles/partners.css">
</head>
<section class="section-container partners-container">
<section class="partners-section">
    <h2>Wir haben starke Partner an unserer Seite</h2>
    <div class="partners-logos">
        <div class="logo"><img src="content/partners/CET.png" alt="CET"/></div>
        <div class="logo"><img src="content/partners/gruenderstipendium.jpg" alt="EXIST"/></div>
        <div class="logo"><img src="content/partners/StreamUP.png" alt="StreamUp"/></div>
        <div class="logo"><img src="content/partners/TU.png" alt="TU"/></div>
        <div class="logo"><img src="content/partners/logo_esc.jpg" alt="ESC"/></div>
        <div class="logo"><img src="content/partners/world-factory.svg" alt="World-Factory"/></div>
        <div class="logo"><img src="content/partners/santander-x.png" alt="Santander X"/></div>
        <!-- Add more logos inside .logo divs as needed -->
        <div class="logo"><img src="content/partners/CET.png" alt="CET"/></div>
        <div class="logo"><img src="content/partners/gruenderstipendium.jpg" alt="EXIST"/></div>
        <div class="logo"><img src="content/partners/StreamUP.png" alt="StreamUp"/></div>
        <div class="logo"><img src="content/partners/TU.png" alt="TU"/></div>
        <div class="logo"><img src="content/partners/logo_esc.jpg" alt="ESC"/></div>
        <div class="logo"><img src="content/partners/world-factory.svg" alt="World-Factory"/></div>
        <div class="logo"><img src="content/partners/santander-x.png" alt="Santander X"/></div>
    </div>
    
</section>
</section>