<head>
    <link rel="stylesheet" href="styles/partners.css">
</head>
<section class="partners-section">
    <h2>Partner & Förderer</h2>
    <div class="partners-logos">
        <img src="content/partners/TU.png"/>
        <img src="content/partners/CET.png"/>
        <img src="content/partners/gruenderstipendium.jpg"/>
        <img src="content/partners/CAPITAL_CONNECT.png"/>
    </div>
</section>