<head>
    <link rel="stylesheet" href="styles/partners.css">
</head>
<section class="section-container partners-container">
<section class="partners-section">
    <div class="partners-header">
        <span>NETZWERK</span>
        <h2>Zuverlässig mit unseren starken Partnern</h2>
    </div>
    <div class="partners-header-sub">
        <p>Unser Partner-Ökosystem ermöglicht uns eine schnelle und zuverlässige Bereitstellung für unsere Kunden.</p>
    </div>
    <div class="partners-logos">
        <div class="logo"><img loading="lazy" src="content/partners/CET.png" alt="CET"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/gruenderstipendium.png" alt="EXIST"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/StreamUP.png" alt="StreamUp"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/TU.png" alt="TU"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/logo_esc.png" alt="ESC"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/world-factory.svg" alt="World-Factory"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/santander-x.png" alt="Santander X"/></div>
        
        <div class="logo"><img loading="lazy" src="content/partners/CET.png" alt="CET"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/gruenderstipendium.png" alt="EXIST"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/StreamUP.png" alt="StreamUp"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/TU.png" alt="TU"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/logo_esc.png" alt="ESC"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/world-factory.svg" alt="World-Factory"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/santander-x.png" alt="Santander X"/></div>
        
        <div class="logo"><img loading="lazy" src="content/partners/CET.png" alt="CET"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/gruenderstipendium.png" alt="EXIST"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/StreamUP.png" alt="StreamUp"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/TU.png" alt="TU"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/logo_esc.png" alt="ESC"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/world-factory.svg" alt="World-Factory"/></div>
        <div class="logo"><img loading="lazy" src="content/partners/santander-x.png" alt="Santander X"/></div>
        
    </div>
    
</section>
</section>