<head>
    <link rel="stylesheet" href="styles/prices.css">
</head>
<section class="prices-section">
    <h2>Unsere Preise</h2>
    <div class="price-pakets">
        <div class="price-paket">
            <div class="price-header"><h2>Basic</h2></div>
            <div class="price-body">
                <h2>299€</h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse unmöbliert</li>
                    <li>2 Außenvisualisierungen</li>
                    <li>Planänderungen am Modell (99€)</li>
                </ul>
            </div>
        </div>
        <div class="price-paket">
            <div class="price-header"><h2>Premium</h2></div>
            <div class="price-body">
                <h2>799€</h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse möbliert</li>
                    <li>Außenvisualisierungen unbegrenzt</li>
                    <li>Außenvideo in 4K</li>
                    <li>Innenvisualisierungen</li>
                    <li>Video Rundgang</li>
                    <li>Voll eingerichtete Immobilie</li>
                    <li>Planänderungen am Modell unbegrenzt</li>
                    <li>24/7 Support</li>
                </ul>
            </div>
        </div>
        <div class="price-paket">
            <div class="price-header"><h2>Partner</h2></div>
            <div class="price-body">
                <h2>399€</h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse möbliert</li>
                    <li>Außenvisualisierungen unbegrenzt</li>
                    <li>Außenvideo in 4K</li>
                    <li>Innenvisualisierungen</li>
                    <li>Video Rundgang</li>
                    <li>Voll eingerichtete Immobilie</li>
                    <li>Planänderungen am Modell unbegrenzt</li>
                    <li>24/7 Support</li>
                    <li>Enge Zusammenarbeit mit Feedbackschleifen</li>
                    <li>Neue Innovationen testen</li>
                </ul>
            </div>
        </div>
    </div>
    <span>
        Vergleichen Sie ihre Ausgaben für die Visualisierung von Ihren Immobilien (360° Bilder, Mieten und Benutzen von Drohnen, Home Staging, Ausgaben für An-& Abreise bei Besichtigungen…etc.) mit unserem Preis für die Visualisierung von Immobilien, die Sie verkaufen.
    </span>

</section>