<head>
    <link rel="stylesheet" href="styles/prices.css">
</head>
<section id="prices" class="prices-section">
    <div class="price-pakets">
        <div class="price-paket">
            <div class="price-header"><h2>Basic</h2></div>
            <div class="price-body">
                <h2></h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse unmöbliert</li>
                    <li>2 Außenvisualisierungen</li>
                    <li>Planänderungen am Modell</li>
                </ul>
            </div>
        </div>
        <div class="price-paket">
            <div class="price-header"><h2>Premium</h2></div>
            <div class="price-body">
                <h2></h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse möbliert</li>
                    <li>Außenvisualisierungen unbegrenzt</li>
                    <li>Außenvideo in 4K</li>
                    <li>Innenvisualisierungen</li>
                    <li>Video Rundgang</li>
                    <li>Voll eingerichtete Immobilie</li>
                    <li>Planänderungen am Modell unbegrenzt</li>
                    <li>24/7 Support</li>
                </ul>
            </div>
        </div>
        <div class="price-paket">
            <div class="price-header"><h2>Partner</h2></div>
            <div class="price-body">
                <h2></h2>
                <ul>
                    <li>Quilar App (inkl. Virtuelles Homestaging)</li>
                    <li>Virtuelle Tour im Browser (inkl. Virtuelles Homestaging)</li>
                    <li>Zugriffsverwaltung über Dashboard</li>
                    <li>3D Grundrisse möbliert</li>
                    <li>Außenvisualisierungen unbegrenzt</li>
                    <li>Außenvideo in 4K</li>
                    <li>Innenvisualisierungen</li>
                    <li>Video Rundgang</li>
                    <li>Voll eingerichtete Immobilie</li>
                    <li>Planänderungen am Modell unbegrenzt</li>
                    <li>24/7 Support</li>
                    <li>Enge Zusammenarbeit mit Feedbackschleifen</li>
                    <li>Neue Innovationen testen</li>
                </ul>
            </div>
        </div>
    </div>
    <span>
        Wir ermöglichen Ihnen informierte und selbstbewusste Immobilienentscheidungen 
        mit unserer Technologie zu treffen. Erleben Sie eine personalisierte Reise, 
        bei der Sie Ihr zukünftiges Zuhause in erstaunlichem Detail erkunden können, 
        wertvolle Zeit sparen und eine sichere Investition gewährleisten.
    </span>

</section>