<head>
    <link rel="stylesheet" href="styles/prob-sol.css">
    <script>
        function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
        }
 
        function handleScroll() {
            var divs = document.querySelectorAll('.prob-sol-title-image');
            divs.forEach(div => {
                if (isInViewport(div) && !div.classList.contains('animate'))
                    div.classList.add('animate');
            });
        }
        window.addEventListener('scroll', handleScroll);
    </script>
</head>
<section class="section-container">
<section class="prob-sol-section">
    <h2>Kunden kaufen was sie verstehen</h2>
    <div class="prob-sol-group">
        <div class="prob-sol">
            <img class="prob-sol-title-image" src="content/images/new-product-col.png"/>
            <p>
                Ihre Kunden verstehen Ihre Immobilieangebote nicht, weil sie sich nicht vorstellen können
                wie es am Ende aussehen soll.
                
            </p>
        </div>

        <div class="prob-sol">
            <img class="prob-sol-title-image" src="content/images/product-service-col.png"/>
            <p>
                Wir erstellen ein 4D Modell Ihres Immobilienangebotes und stellen es in
                unserer eigens dafür entwickelten App zur Verfügung.
            </p>
        </div>
        <div class="prob-sol">
            <img class="prob-sol-title-image" src="content/images/new-offer-col.png"/>
            <p>
                Ihre Kunden können jetzt in Echtgröße durch Ihr Immobilienangebot laufen
                und verstehen Ihr Immobilienangebot.
            </p>
        </div>
    </div>
</section> 
</section>