<head>
    <link rel="stylesheet" href="/styles/prob-sol.css">
    <script src="/scripts/prob-sol.js"></script>
</head>
<section class="section-container">
<section class="prob-sol-section">
    <span>IHRE KUNDEN HABEN SICH BEWUSST FÜR SIE ENTSCHIEDEN</span>
    <h2>Doch warum <strong>entschieden</strong> sich andere Kunden gegen Sie?</h2>
    <div class="prob-sol-group">
        <div class="prob-sol">
            <img class="prob-sol-title-image" src="/content/icons/new-product-col.png" alt="Darstellung eines verschlossenen Paketes"/>
            <p>
                Kunden kaufen nicht das beste Angebot. Sie kaufen was sie am besten verstehen. Oder zu verstehen glauben.
            </p>
            <div class="active-prob-sol"></div>
        </div>
        <div class="prob-sol">
            <img class="prob-sol-title-image" src="/content/icons/product-service-col.png" alt="Darstellung einer Überreichung eines technischen Gegenstandes"/>
            <p>
                Entwürfe auf Papier zu kommunizieren ist eine Herausforderung und führt oft zu Missverständnissen.
            </p>
            <div class="active-prob-sol"></div>
        </div>
        <div class="prob-sol">
            <img class="prob-sol-title-image" src="/content/icons/new-offer-col.png" alt="Darstellung eines geöffneten Paketes mit einer Glühbirne"/>
            <p>
                Mit HomeTour beantworten Sie die entscheidende Frage, warum Kunden sich gerade für <strong>Ihr Angebot</strong> entscheiden sollten.
            </p>
            <div class="active-prob-sol"></div>
        </div>
    </div>
</section> 
</section>