<head>
    <link rel="stylesheet" href="/styles/promise.css">
</head>
<section class="section-container promise-container">
<section class="promise-section">
    <img src="/content/images/dots-diagonal.png" alt="Dots" class="promise-section-bkg">
    <div class="promise">
        <div class="promise-part promise-left">
            <span>VORSTELLUNGSKRAFT</span>
            <h2>
                "Ich kann mir das nicht vorstellen."
            </h2>
            <p>
                Mit der Projektion Ihrer Baupläne in die Realität erweckt unsere HomeTour App Ihr Immobilienangebot zum Leben. Überlassen Sie die Überzeugungskraft nicht mehr der Vorstellungskraft Ihrer Kunden.
            </p>
            <button class="secondary-cta-btn"><a href="http://">unverbindliche Kontaktaufnahme</a></button>
        </div>
        <div class="promise-part promise-right">
        </div>
    </div>
</section>
</section>