<head>
    <link rel="stylesheet" href="/styles/showcase.css">
</head>
<section class="section-container">
<section class="showcase-section">
    <div class="showcase-container-left">
        <video class="showcase-video" autoplay muted controls="none" playsinline>
            <source src="/content/showcase/iPhone11_Hand.mp4" type="video/mp4">
        </video>
    </div>
    <div class="showcase-container-right">
        <h1 class="showcase-container-right-title">
            "Die Visualisierung ist der wichtigste Verkaufstreiber beim Verkauf von Immobilien"
        </h1>
        <p class="showcase-container-right-text">
            Bieten Sie Ihren Kunden als Immobilienmakler, Bauunternehmer oder Architekt eine innovative Lösung, um ihr Traumhaus zu visualisieren. 
            Verabschieden Sie sich vom Rätselraten und ermöglichen Sie es ihnen, den Raum im 1:1-Maßstab zu sehen, 
            um sicherzustellen, dass jede Designentscheidung perfekt zu ihrer Vision passt.
        </p>
    </div>
</section> 
</section>