<head>
    <link rel="stylesheet" href="styles/solution-benefits.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<section class="section-container">    
<section class="solution-benefits-section">
  <img src="/content/images/dots-vertical.png" alt="Dots" class="solution-benefits-section-bkg">
  <div class="solution-benefits-header">
    <span><strong>VORTEILE</strong></span>
    <h2>Was haben Sie davon?</h2>
  </div>
  <div class="swiper-container-solution-benefits">
  <div class="swiper-wrapper">
  
    <div class="swiper-slide solution-benefit">
      <div class="slide-body">
          <h3><strong>Immer 1 Schritt voraus.</strong></h3>
          <p>
            Während Ihre Mitbewerber gerade erst auf 3D-Visualisierungen umsteigen nutzen Sie bereits 4D-Visualisierungen.
          </p>
      </div>
    </div>
    <div class="swiper-slide solution-benefit">
      <div class="slide-body">
          <h3><strong>Überall überzeugen.</strong></h3>
          <p>
            Mit dieser direkten und innovativen Ansprache verwandeln Sie Interessenten schneller in begeisterte Kunden.
          </p>
      </div>
    </div>
    <div class="swiper-slide solution-benefit">
      <div class="slide-body">
          <h3><strong>Als Innovator in den Köpfen.</strong></h3>
          <p>
            Mit dem Zugang zu unserer App werden Ihre begeisterten Kunden stolz ihre Planung ihren Freunden und Verwandten präsentieren.
          </p>
      </div>
    </div>
    <div class="swiper-slide solution-benefit">
      <div class="slide-body">
          <h3><strong>Wertvolle Zeit sparen</strong></h3>
          <p>
            Verkürzen Sie Ihre Planungszyklen erheblich durch ein tiefes Verständnis, das Ihre Kunden von den Plänen erhalten.
          </p>
      </div>
    </div>
  </div>
  
  <div class="swiper-button-prev swipe-btns"></div>
  <div class="swiper-button-next swipe-btns"></div>
  <div class="swiper-pagination"></div>
</div>

</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/scripts/solution-benefits.js"></script>
<!-- Swiper Library download placed in testimonials section -->
</section> 