<head>
    <link rel="stylesheet" href="styles/solution-benefits.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>



<section class="section-container">    
<section class="solution-benefits-section">
<div class="swiper-container">
  
  <div class="swiper-wrapper">
  
    <div class="swiper-slide">
      <div class="slide-header">
          <img loading="lazy" src="/content/images/360.png" alt="Feature 1">
      </div>
      <div class="slide-body">
          <p><strong>Emotionale Bindung früh schaffen</strong></p>
          <p>Richten Sie Ihre Präsentationen auf das Herz, nicht nur auf den Kopf. Und behalten Sie dabei die Kontrolle darüber welche Emotionen erweckt werden und wie Sie sie nutzen, um Ihre Kunden zu überzeugen die beste Entscheidung ihres Lebens zu treffen.

            Präsentieren Sie den Traum vom Eigenheim so, dass er zu greifen nah ist.
            </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-header">
          <img loading="lazy" src="/content/images/360.png" alt="Feature 1">
      </div>
      <div class="slide-body">
          <p><strong>Dem Wettbewerb einen Schritt voraus</strong></p>
          <p>Tabel aus der Hosentasche ziehen und das schlüsselfertige Eigenheim Ihrer Kunden einfach in Echtgröße auf ihr Grundstück projizieren. Der Traum vom Eigenheim wird so zu greifen nah.

            Zeigen Sie Ihren Kunden was ihnen keiner Ihrer Wettbewerber zeigt. Ziehen Sie das Tablet aus der Tasche un
            </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-header">
          <img loading="lazy" src="/content/images/360.png" alt="Feature 1">
      </div>
      <div class="slide-body">
          <p><strong>Planungssicherheit</strong></p>
          <p>
            denn Kunden wenden sich an den Immobilienmakler, bei dem sie das beste Gefühl haben – und ein gutes Gefühl entsteht dadurch, dass es keine ungeklärten Fragen mehr gibt.
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-header">
          <img loading="lazy" src="/content/images/360.png" alt="Feature 1">
      </div>
      <div class="slide-body">
          <p><strong>Planungssicherheit vermitteln</strong></p>
          <p>
            Ihre Kunden sehnen sich nach Sicherheit die richtige Entscheidung zu treffen. Können sich aber Ihre Pläne nicht vorstellen. Wenn Sie sie durch Ihre Pläne laufen lassen und 
          </p>
      </div>
    </div>
  </div>
  
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/scripts/solution-benefits.js"></script>
</section>
</section> 