<head>
    <link rel="stylesheet" href="styles/special-offer.css">
</head>
<section class="special-offer-section">
    <div class="special-offer">
        <div class="special-offer-content">
            <h2>Unser Angebot für Sie: Ihr erstes Projekt zum halben Preis!</h2>
            <p>
                Zum Anlass unserer Markteintritts unserer HomeTour App bieten wir den ersten Fünf das erste Projekt zum halben Preis.
                Wir sind von den Resultaten, die Sie mit uns erzielen können überzeugt. Unsere Pilotprojekte beweisen es. 
                Sie haben aber die Möglichkeit unsere Software zu testen und sich selbst zu überzeugen.
    
            </p>
            <p>
                Weitere Information zum Preis erhalten Sie <a href="/price">hier</a>
            </p>
            <button class="meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Angebot sichern</a></button>
        </div>
    </div>

</section>