<head>
    <link rel="stylesheet" href="styles/special-offer.css">
</head>
<section class="special-offer-section">
    <div class="special-offer">
        <div class="special-offer-content">
            <h3>Unser Angebot für Sie: Ihr erstes Projekt zum vergünstigten Preis!</h3>
            <p>Anlässlich unseres Markeintritts haben wir eine Aktion gestartet:

                <ul>
                    <li class="inactive-offer">
                        5 Kunden erhalten 80% Testkunden Rabatt auf ihr erstes Angebot
                    </li>
                    <li class="active-offer">
                        5 Kunden erhalten 50% Testkunden Rabatt auf ihr erstes Angebot
                    </li>
                    <li class="inactive-offer">
                        5 Kunden erhalten 25% Testkunden Rabatt auf ihr erstes Angebot
                    </li>
                </ul>
            </p>
            <p>
                Wir sind von den Resultaten, die Sie mit uns erzielen können überzeugt. Unsere Pilotprojekte beweisen es. 
                Sie haben aber für kurze Zeit die Möglichkeit unsere Software zu testen und sich selbst zu überzeugen.
            </p>
            <p>
                Ergreifen Sie Initiative und bringen Sie frischen Wind in Ihr Vertrieb. Melden Sie sich jetzt und sichern Sie sich das Angebot.
            </p>
            <button class="meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Angebot sichern</a></button>
        </div>
    </div>

</section>