<head>
    <link rel="stylesheet" href="/styles/stats.css">
    <script src="/scripts/stats.js"></script>
  </head>

<section class="section-container">
<section class="stats-section">
  <div class="stats-header">
    <span>ZUKUNFT</span>
    <h2>Fit für die Zukunft mit digitalen Innovationen</h2>
  </div>
  <div class="stats-container">
    <div class="stats-average-age">
        <div class="average-age-header">
            <img loading="lazy" src="/content/images/young-family.png" alt="Junge deutsche Familie, die sich für die Altersvorsorge ein Eigenheim sucht."/>
        </div>
        <div class="average-age-body">
            <h3><strong>Das Durchschnittsalter der deutschen Immobilienkäufer: 38 Jahre</strong></h3>
            <p>Im Schnitt sind Käufer und Bauherren 38 Jahre alt, wenn sie sich für die eigene Immobilie entscheiden. Diese Zielgruppe erwartet den Einsatz von digitalen Lösungen.</p>
        </div>
    </div>
    <div class="stats-quilar">
        
        <div class="stat-quilar">
            <div class="stat-header">
              <div class="stat-header-circle">
                <svg>
                  <circle></circle>
                  <circle></circle>
                </svg>
              </div>
              
              <div class="stat-header-number" data-count="19">
                0
              </div>
            </div>
            <div class="stat-body">
                <p>Einfamilienhäuser haben wir bisher über unsere mobile App für unsere Kunden in die Realität überführt. </p>
            </div>
        </div>
        
        <div class="stat-quilar">
          <div class="stat-header">
            <div class="stat-header-circle">
              <svg>
                <circle></circle>
                <circle></circle>
              </svg>
            </div>
            <div class="stat-header-number" data-count="8">
                0
            </div>
          </div>
          <div class="stat-body">
              <p>zufriedene Kunden setzen unsere neuartige Art der Immobilienvisualisierung um.</p>
          </div>
      </div>
      <div class="stat-quilar">
        <div class="stat-header">
          <div class="stat-header-circle">
            <svg>
              <circle></circle>
              <circle></circle>
            </svg>
          </div>
            <div class="stat-header-number" data-count="9">
              0
          </div>
        </div>  
        <div class="stat-body">
            <p>starke Partner, die an Quilar glauben und uns unterstützen, die Art und Weise wie Immobilien vermarktet werden zu verändern.</p>
        </div>
        
    </div>
  </div>
  <div class="stats-footer">
    <h3>Nutzen Sie jetzt die Expertise von Quilar für <strong>die Vermarktung Ihrer Neubau Immobilien</strong></h3>
    <button class="primary-cta-btn"><a href="/contact" id="cta_stats">Jetzt Kontakt aufnehmen</a></button>
  </div>
</section>
</section>