<head>
    <link rel="stylesheet" href="styles/target-group.css">
    <script src="/scripts/target-group.js"></script>
</head>
<section class="section-container">
<section class="target-group-section">
    <img src="/content/logo/logo-farbverlauf.svg" alt="Dots" class="target-group-section-bkg">
    <span>FÜR WEN UNSERE SOFTWARE SPANNEND IST</span>
    <h2>Unsere Lösung bringt Ihnen nur mehr Abschlüsse, wenn...</h2>
    <div class="target-group-group">
        <div class="target-group">
            
            <h3>
                ... Sie vor der <strong>Herausforderung</strong> stehen, 
                potenzielle Kunden für <strong>Projekte</strong> zu begeistern, 
                die noch <strong>nicht existieren.</strong>        
            </h3>
        </div>
        <div class="target-group">
            
            <h3>
                ... Ihre Kunden <strong>Schwierigkeiten</strong> haben, 
                sich die zukünftige Immobilie <strong>vorzustellen.</strong>
            </h3>
        </div>
        <div class="target-group">
            <h3>
                ... die Notwendigkeit besteht, 
                in einem zögerlichen <strong>Marktumfeld</strong> 
                <strong>schnell zu überzeugen.</strong>
            </h3>
        </div>
    </div>
</section> 
</section>