<head>
    <link rel="stylesheet" href="styles/target-group.css">
    <script src="/scripts/target-group.js"></script>
</head>
<section class="section-container">
<section class="target-group-section">
    <span>FÜR WEN UNSERE SOFTWARE SPANNEND IST</span>
    <h2>Für die, die den <strong>Traum</strong> von Morgen vermarkten.</h2>
    <div class="target-group-group">
        <div class="target-group">
            <p><strong>Bauunternehmen</strong></p>
            <p>
                Ihre Kunden verstehen Ihre Immobilieangebote nicht, weil sie sich nicht vorstellen können
                wie es am Ende aussehen soll.
                
            </p>
        </div>
        <div class="target-group">
            <p><strong>Architekten</strong></p>
            <p>
                Wir erstellen ein 4D Modell Ihres Immobilienangebotes und stellen es in
                unserer eigens dafür entwickelten App zur Verfügung.
            </p>
        </div>
        <div class="target-group">
            <p><strong>Immobilienmakler</strong></p>
            <p>
                Ihre Kunden können jetzt in Echtgröße durch Ihr Immobilienangebot laufen
                und verstehen Ihr Immobilienangebot.
            </p>
        </div>
    </div>
</section> 
</section>