<head>
    <link rel="stylesheet" href="styles/team.css">
</head>
<section id="team" class="team-section">

    <h1>Über uns</h1>
    <div class="profiles">
        <div class="profile momo">
            <img src="content/team/momo.png"/>
            <h2>Mohamed Aajour</h2>
            <ul>
                <li>
                    Geschäftsführer
                </li>
                <li>
                    Produktentwicklung, Unterstützung IT & Stratege der operativen Tätigkeiten
                </li>
                <li>
                    4-jährige Berufserfahrung als Bauleiter
                </li>
                <li>
                    M.Sc. Bauingenierwesen, Bauprojektmanagement und Immobilienwirtschaft
                </li>
            </ul>
        </div>
        <div class="profile andy">
            <img src="content/team/andy.png"/>
            <h2>Andy Kwakye-Yeboah</h2>
            <ul>
                <li>
                    Finanzplanung, Marketing, PR & Sales
                </li>
                <li>
                    3-jährige Berufserfahrung als Junior Consultant
                </li>
                <li>
                    M.Sc. Management & Economics
                </li>
            </ul>
        </div>
        <div class="profile max">
            <img src="content/team/max.png"/>
            <h2>Max Kreke</h2>
            <ul>
                <li>
                    IT, Softwareentwicklung
                </li>
                <li>
                    Experte für Machine Learning
                </li>
                <li>
                    B.Sc. Informatik
                </li>
            </ul>
        </div>
    </div>
</section>
