<head>
    <link rel="stylesheet" href="styles/team.css">
</head>
<section class="section-container">
<section id="team" class="team-section">
    <div class="profiles">
        <div class="profile momo">
            <img src="content/team/momo.png"/>
            <h2>Mohamed Aajour</h2>
            <ul>
                <li>
                    Geschäftsführung | Produkt | Finanzen
                </li>
                <li>
                    M.Sc. Bauprojektmanagement und Immobilienwirtschaft
                </li>
            </ul>
        </div>
        <div class="profile andy">
            <img src="content/team/jonas.jpg"/>
            <h2>Jonas Spieth</h2>
            <ul>
                <li>
                    Vertrieb | Marketing
                </li>
                <li>
                    B.Sc. Wirtschaftsingenieurwesen
                </li>
            </ul>
        </div>
    </div>
</section>
</section>