<head>
    <link rel="stylesheet" href="styles/team.css">
</head>
<section class="section-container">
<section id="team" class="team-section">
    <div class="team-container">
        <div class="team-header">
            <span>ÜBER UNS</span>
            <h2>Ein Team ausgewiesener Experten</h2>
        </div>
        <div class="team-body">
            <p>
                Hinter Quilar steht ein Team ausgewiesener Experten, die ihr umfangreiches Wissen und ihre Erfahrung aus den Bereichen
            Bau- und Immobilienwirtschaft, Softwareentwicklung und 3D-Modellierung bündeln. Jedes Teammitglied bringt eine tiefe
            Leidenschaft für Innovation und Exzellenz in seinem Fachgebiet mit, unterstützt durch eine 
            gemeinsame <strong>Vision</strong>:
            <p>
                den Status Quo herauszufordern und die Branche mit herausragender Software zu bereichern.
            </p>
            </p>
            <p>
                Wir sind überzeugt, dass der Schlüssel zum Erfolg in der Kombination aus branchenspezifischem Fachwissen und
                fortschrittlicher technologischer Innovation liegt. Deshalb investieren wir kontinuierlich in die Weiterbildung unseres
                Teams und die Entwicklung unserer Technologie.
            </p>
        </div>
    </div>
</section>
</section>