<head>
    <link rel="stylesheet" href="/styles/team.css">
</head>
<section class="section-container">
<section id="team" class="team-section">
    <div class="team-container">
        <div class="team-header">
            <span>ZUKUNFT</span>
            <h2>Fit f端r die Zukunft mit einem jungen Team</h2>
        </div>


        <div class="team-group">
            <div class="team-row team-row-reverse">
                <div class="team-row-header">
                    <img src="/content/team/christmas.jpg" loading="lazy" alt="teamfoto Quilar an Weihnachten">
                </div>
                <div class="team-row-body">
                    <p>
                       Ihre Kunden sind zwischen<strong class="highlight">30 und 40 Jahre alt.</strong> Wir auch. <br><br>
                        Damit wissen wir ganz genau, was diese Altersgruppe an technischen Anforderungen hat.

                        Wir sind ein Team ausgewiesener Experten aus den Bereichen <br> 
                        <strong>
                            Bau- und Immobilienwirtschaft, <br>
                            Softwareentwicklung und <br>
                            3D-Modellierung 
                        </strong>
                    </p>
                </div>
            </div>
            
            <div class="team-row">
                <div class="team-row-header">
                    <img src="/content/team/coaching.jpg" loading="lazy" alt="teamfoto im Vertriebsworkshop">
                </div>
                <div class="team-row-body">
                    <p>
                        Wir teilen eine tiefe Leidenschaft f端r Innovation und Exzellenz in unseren Fachgebieten. Unterst端tzt durch eine gemeinsame Vision:
                        <strong class="highlight">den Status Quo</strong> herauszufordern und die Branche mit herausragender Software zu bereichern.
                    </p>
                </div>
            </div>
        </div>

        <div class="team-footer">
            <div class="team-footer-cta">
                <h3>Nutzen Sie jetzt die Expertise von Quilar f端r <strong>die Vermarktung Ihrer Neubau Immobilien</strong></h3>
                <button class="primary-cta-btn"><a href="/contact" id="cta_team">Jetzt Kontakt aufnehmen</a></button>
            </div>
        </div>

    </div>
</section>
</section>