<head>
    <link rel="stylesheet" href="styles/testimonials.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/testimonials-carousel.js"></script>
</head>
<section class="section-container testimonial-container">
  <section class="testimonials-section">
    <h2>Das sagen unsere Nutzer</h2>
    <div class="testimonials">
      <div class="testimonial">
        <iframe src="https://www.youtube-nocookie.com/embed/dWbCzo56e7Y?si=e87eWSK40gIUMXfG&amp;start=274" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="testimonial">
        <iframe src="https://www.youtube-nocookie.com/embed/T7AOo3ELoKo?si=gSZuf0hdgwe1sEGU&amp;start=127" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

</section>
</section>