<head>
    <link rel="stylesheet" href="styles/tool.css">
</head>
<section class="tool-section">
  <div class="tool-container">
    <div class="tool-title">
      <h2>Wir erwecken Ihr Meisterwerk zum Leben</h2>
    </div>
    <div class="tool-video">
      <iframe src="https://www.youtube.com/embed/5ls_lQX39nM" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
      </iframe>
    </div>
    <div class="tool-specs">
    </div>
  </div>
</section>
