<head>
    <link rel="stylesheet" href="styles/values.css">
</head>
<section class="section-container">
<section class="values-section">
    <div class="value-title">
        <span>DIE MAGISCHEN 4</span>
        <h2>Ihre Alleinstellungsmerkmale</h2>
    </div>
    <div class="value-group">
        <div class="value ">
            <div class="value-header">
                <img src="/content/images/expertise.png" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <img class="rotate-left" src="/content/icons/chess.png" loading="lazy" alt="Die Dame als Schachfigur als unterstreichung des strategischen Aspekts."/>
                <h3><strong>Expertise</strong></h3>
                <p>
                    Fehlendes 3D Verständnis der PLäne sorgt dafür, dass Ihre Kunden Ihre Expertise nicht auf Anhieb erkennen können. Indem Sie Ihrem Kunden eine App geben, die beim räumlichen Verständnis hilft lässt es sie erkennen, dass ihr Traum des Eigenheims bei Ihnen in den besten Händen ist.
                </p>
            </div>
        </div>
        
        <div class="value">
            <div class="value-header">
                <img src="/content/images/exclusivity.png" loading="lazy" alt=""/>
            </div>
            <div class="value-body">
                <img class="rotate-right" src="/content/icons/crown.png" loading="lazy" alt=""/>
                
                <h3><strong>Exklusivität</strong></h3>
                <p>
                    Man sollte Sie für die wichtigste Entscheidung des Lebens beauftragen. Indem Sie die neuste Augmented Reality Technologie einsetzen tun Sie was keiner Ihrer Wettbewerber tut. Sie positionieren sich als Vorreiter und bieten Ihren Kunden einen extra Service.
                </p>
            </div>
        </div>

        <div class="value">
            <div class="value-header">
                <img src="/content/images/emotions.png" loading="lazy" alt=""/>
            </div>
            <div class="value-body">
                <img class="rotate-left" src="/content/icons/brain.png" alt="" />
                
                <h3><strong>Emotionen</strong></h3>
                <p>
                    Nehmen Sie Ihren Kunden die Angst sich für das Falsche zu Entscheiden. indem Sie heute schon empfinden können was Sie von Ihnen Erwarten können. So fällt Ihren Kunden die Entscheidung heute leichter.
                </p>
            </div>
        </div>

        <div class="value">
            <div class="value-header">
                <img src="/content/images/security.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <img class="rotate-right" src="/content/icons/bulb.png" alt=""/>
                
                <h3><strong>Sicherheit</strong></h3>
                <p>
                    Unsicherheiten eliminieren indem Sie Ihren Kunden dazu befähigen jedes Detail Ihrer Pläne zu erkunden und zu verstehen. Damit überzeugen Sie Ihren Kunden, dass Sie genau der Richtige sind.
                </p>
            </div>
        </div>
    </div>
</section> 
</section>