<head>
    <link rel="stylesheet" href="/styles/values.css">
</head>
<section class="section-container">
<section class="values-section">
    <img src="/content/images/dots-vertical.png" alt="Dots" class="values-section-bkg">
    <div class="value-title">
        <span>MAGISCHE 4</span>
        <h2>Schluss mit Status Quo</h2>
    </div>
    <div class="value-group">
        <div class="value value-reverse">
            <div class="value-header">
                <img src="/content/images/emotions.png" loading="lazy" alt=""/>
            </div>
            <div class="value-body">
                <img class="rotate-left" src="/content/icons/brain.png" alt="" />
                
                <h3><strong>Emotionen</strong></h3>
                <p>
                    Lassen Sie Ihre Kunden heute schon empfinden wie sie wohnen werden, wenn sie sich für Sie entscheiden. So fällt Ihren Kunden die Entscheidung heute leichter.
                </p>
            </div>
        </div>
        
        <div class="value">
            <div class="value-header">
                <img src="/content/images/exclusivity.png" loading="lazy" alt=""/>
            </div>
            <div class="value-body">
                <img class="rotate-right" src="/content/icons/crown.png" loading="lazy" alt=""/>
                
                <h3><strong>Exklusivität</strong></h3>
                <p>
                    Indem Sie die neuste Augmented Reality Technologie einsetzen, tun Sie was keiner Ihrer Wettbewerber tut. Sie positionieren sich als Vorreiter und bieten Ihren Kunden einen extra Service.
                </p>
            </div>
        </div>

        <div class="value value-reverse">
            <div class="value-header">
                <img src="/content/images/expertise.png" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <img class="rotate-left" src="/content/icons/chess.png" loading="lazy" alt="Die Dame als Schachfigur als unterstreichung des strategischen Aspekts."/>
                <h3><strong>Expertise</strong></h3>
                <p>
                    Das fehlende räumliche Verständnis Ihrer Entwürfe sorgt dafür, dass Ihre Kunden Ihre Expertise nicht auf Anhieb erkennen können. Helfen Sie Ihrem Kunden zu erkennen, dass ihr Traum des Eigenheims bei Ihnen in den richtigen Händen ist.
                </p>
            </div>
        </div>
        

        <div class="value">
            <div class="value-header">
                <img src="/content/images/security.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <img class="rotate-right" src="/content/icons/bulb.png" alt=""/>
                
                <h3><strong>Sicherheit</strong></h3>
                <p>
                    Überzeugen Sie Ihren Kunden, dass Sie genau der Richtige sind. Eliminieren Sie Unsicherheiten, indem Sie Ihren Kunden dazu befähigen jedes Detail Ihrer Pläne zu erkunden und zu verstehen.
                </p>
            </div>
        </div>
    </div>
</section> 
</section>