<head>
    <link rel="stylesheet" href="/styles/values.css">
</head>
<section class="section-container">
<section class="values-section">
    <img src="/content/images/dots-vertical.png" alt="Dots" class="values-section-bkg">
    <div class="value-title">
        <span>DER "VERKAUFSBESCHLEUNIGER"</span>
        <h2>Stellen Sie sich vor...</h2>
    </div>
    <div class="value-group">
        <div class="value value-reverse value-story">
            <div class="value-header">
                <img src="/content/images/over-shoulder.png" loading="lazy" alt="Begehung der Pläne in Lebensgröße aus der Perspektive über der Schulter einer jungen Dame."/>
            </div>
            <div class="value-body">
                <p>
                    Sie besuchen mit Ihrer Baufamilie ihr <strong class="highlight">Grundstück</strong> und erwecken dort ihr zukünftiges Eigenheim zum Leben. <br><br>
                    Sie übergeben ihnen das <strong class="highlight">iPad</strong> und lassen sie eigenständig auf Entdeckungsreise gehen. <br><br>
                    Sie schauen zu, wie Ihre Baufamilie von außen durch die Fenster ins Haus schaut , oder von der Küche den <strong class="highlight">Ausblick</strong> auf den Garten
                    genießt.
                </p>
                <button class="highlight secondary-cta-btn"><a href="/contact" target="_blank" rel="noopener noreferrer">Rückruf vereinbaren</a></button>
            </div>
        </div>
        
        <div class="value">
            <div class="value-header">
                <img src="/content/images/expertise.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <h3>Sie verstehen Ihre Interessenten am besten...</h3>
                <p>
                    Das fehlende räumliche Verständnis für die Entwürfe sorgt dafür, dass Ihre Kunden Ihre Expertise nicht auf Anhieb erkennen können. Helfen Sie Ihrem Kunden zu erkennen, dass ihr Traum des Eigenheims bei Ihnen in den richtigen Händen ist.
                </p>
            </div>
        </div>

        <div class="value value-reverse">
            <div class="value-header">
                <img src="/content/images/security.png" loading="lazy" alt="Immobilienmakler zeigt einer jungen Baufamilie vor dem Baubeginn ihr zukünftiges Zuhause auf dem Baufeld."/>
            </div>
            <div class="value-body">
                <h3>Überzeugen Sie durch Sicherheit...</h3>
                <p>
                    Der Wunsch nach einem Eigenheim ist mit Unsicherheit verbunden. Eliminieren Sie diese Unsicherheiten, indem Sie Ihren Kunden dazu befähigen jedes Detail Ihrer Pläne zu erkunden und zu verstehen.
                </p>
                <button class="secondary-cta-btn highlight"><a href="/hometour">Mehr erfahren</a></button>
            </div>
        </div>
    </div>
</section> 
</section>