<head>
    <link rel="stylesheet" href="styles/vision.css">
</head>
<section class="vision-section">
    <div class="vision-part vision-left">
        <h3>
            Überzeugen Sie Ihre Kunden, indem sie Ihr zukünftiges Zuhause schon vor dem Bau erleben können.
        </h3>
        <p>
            Wir glauben daran, dass Design erlebt und nicht nur vorgestellt werden sollte.
            Sind Sie bereit, die Art und Weise zu revolutionieren, wie Sie Ihre Architektur- und Bauprojekte präsentieren? <br>
            Buchen Sie jetzt einen Termin in dem wir schauen ob und wie wir Ihrem Unternehmen helfen können.
        </p>
        <button class="primary-cta-btn learn-more meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Termin buchen</a></button>
    </div>
    <div class="vision-part vision-right">
        <!-- <video autoplay loop muted playsinline class="vision-video">
             <source src="content/vision/Animation-Loop.mp4" type="video/mp4">
        </video>  -->
        <img src="content/vision/vision.png" class="vision-video"></img>
    </div>
</section>