<head>
    <link rel="stylesheet" href="styles/vision.css">
</head>
<section class="vision-section">
    <div class="vision-part vision-left">
        <h3>
            Nutzen Sie unsere HomeTour App, um K채ufer zu fesseln und Ihr Verkaufsspiel zu verbessern.
        </h3>
        <p>
            Wir glauben daran, dass Design erlebt und nicht nur vorgestellt werden sollte.
            Sind Sie bereit, die Art und Weise zu revolutionieren, wie Sie Ihre Architektur- und Baupl채ne pr채sentieren? <br>
            Erfahren Sie mehr in einem kurzen Kennenlerngespr채ch.
        </p>
        <button class="primary-cta-btn learn-more meetergo-modal-button" link="https://my.meetergo.com/mohamed-aajour/demositzung"><a>Termin buchen</a></button>
    </div>
    <div class="vision-part vision-right">
        <!-- <video autoplay loop muted playsinline class="vision-video">
             <source src="content/vision/Animation-Loop.mp4" type="video/mp4">
        </video>  -->
        <img src="content/vision/vision.png" class="vision-video"></img>
    </div>
</section>