<head>
    <link rel="stylesheet" href="styles/vision.css">
</head>
<section class="vision-section">
    <div class="vision-part vision-left">
        <h3>
            Wir glauben daran, dass Design erlebt und nicht nur vorgestellt werden sollte.
        </h3>
        <p>
            Unsere Mission ist es, Architekturpläne durch Augmented Reality (AR) in die Realität zu bringen. 
            Wir überbrücken die Kluft zwischen Vorstellungskraft und Realität und geben Ihnen die Werkzeuge, um Ihre Konzepte in interaktive, immersive Erlebnisse zu verwandeln.
        </p>
        <button class="vp-cta learn-more">
            <a href="https://youtu.be/5kJluWW6D34">Termin buchen</a>
        </button>
    </div>
    <div class="vision-part vision-right">
        <video autoplay loop muted playsinline class="vision-video">
             <source src="content/vision/Animation-Loop.mp4" type="video/mp4">
        </video> 
    </div>
</section>