<head>
    <link rel="stylesheet" href="/styles/walkthrough.css">
    <script src="/scripts/walkthrough.js"></script>
</head>
<section class="section-container">
<section class="walkthrough-section">
    <img src="/content/images/dots-vertical.png" alt="Dots" class="walkthrough-section-bkg">
    <div class="walkthrough-header">
        <span>UNSERE LÖSUNG</span>
        <h2>In <strong>3 Schritten</strong></h2>
        <div class="walkthrough-video">
            <iframe data-lazy-load="https://www.youtube-nocookie.com/embed/XX6dN6tFomU?si=9SX2J1K5RVrBBGxh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <img class="video-thumbnail" loading="lazy"  src="/content/images/thumbnail-hometour.png" alt="HomeTour-Vorstellung"/>
        </div>
    </div>
    <div class="walkthrough-steps">
        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circle"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">1. Umgebung scannen</h4>
                <img src="/content/illustration/illustration_step1.png" alt="Umgebung scannen">
                <p>Beginnen Sie Ihr HomeTour-Erlebnis, indem Sie Ihre Umgebung mit der Kamera Ihres Geräts scannen. Bewegen Sie Ihr
                    Smartphone oder Tablet einfach im Raum, bis die App signalisiert, dass die Bodenfläche erfolgreich erkannt wurde.
                </p>
            </div>
        </div>

        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circe"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">2. Objekt platzieren</h4>
                <img src="/content/illustration/illustration_step2.png" alt="Objekt platzieren">
                <p>Nachdem die Umgebung erfasst wurde platzieren Sie es an der gewünschten
                    Stelle. Skalieren Sie das Modell auf 100%, um eine lebensgroße Darstellung Ihres Projekts zu erhalten. Diese
                    Präzision ermöglicht es Ihnen und Ihren Kunden, die Dimensionen und den Raumbedarf realistisch einzuschätzen.</p>
            </div>
        </div>

        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circe"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">3. Virtuelle Begehung</h4>
                <img src="/content/illustration/illustration_step3.png" alt="Virtuele Begehung">
                <p>Erkunden Sie das platzierte Modell, indem Sie sich physisch bewegen, um die Außenansichten zu betrachten, oder
                    'betreten' Sie das Gebäude virtuell. </p>
            </div>
        </div>

    </div>
    <div class="walkthrough-foot">
        <button class="primary-cta-btn"><a href="/contact" id="cta_walkthrough">Demo Termin vereinbaren</a></button>
    </div>
</section> 
</section>