<head>
    <link rel="stylesheet" href="/styles/walkthrough.css">
    <script src="/scripts/walkthrough.js"></script>
</head>
<section class="section-container">
<section class="walkthrough-section">
    <img src="/content/images/dots-vertical.png" alt="Dots" class="walkthrough-section-bkg">
    <div class="walkthrough-header">
        <span>UNSERE LÖSUNG</span>
        <h2>Es sind nur <strong>3 Schritte</strong> zum wichtigsten Ort der Welt - Zuhause</h2>
        
    </div>
    <div class="walkthrough-steps">
        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circle"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">1. Umgebung scannen</h4>
                <img src="/content/illustration/illustration_step1.png" loading="lazy" alt="Umgebung scannen">
                <p>Scannen Sie die Umgebung, bis der Boden erkannt wird. Bewegen Sie sich, bis die App grünes Licht gibt.
                </p>
            </div>
        </div>

        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circe"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">2. Objekt platzieren</h4>
                <img src="/content/illustration/illustration_step2.png" loading="lazy" alt="Objekt platzieren">
                <p>Zielen Sie mit Hilfe des Pfeils und platzieren Sie das 4D Modell durch tippen auf den Bildschirm.</p>
            </div>
        </div>

        <div class="walkthrough-step">
            <div class="walkthrough-circle first-circe"></div>
            <div class="walkthrough-content">
                <h4 class="colored-underline">3. Virtuelle Begehung</h4>
                <img src="/content/illustration/illustration_step3.png" loading="lazy" alt="Virtuele Begehung">
                <p>Begehen Sie nun den Entwurf in Lebensgröße und der realen Umgebung.</p>
            </div>
        </div>

    </div>
    <div class="walkthrough-video">
        <div class="walkthrough-video-container">
            <iframe data-lazy-load="https://www.youtube-nocookie.com/embed/XX6dN6tFomU?si=9SX2J1K5RVrBBGxh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <img class="video-thumbnail" loading="lazy" src="/content/images/thumbnail-hometour.png" alt="HomeTour-Vorstellung"/>
        </div>
    </div>
    <div class="walkthrough-foot">
        <button class="primary-cta-btn"><a href="/contact" id="cta_walkthrough">Sprechen Sie mit uns!</a></button>
    </div>
</section> 
</section>