<head>
    <link rel="stylesheet" href="styles/who.css">
</head>
<section class="who-section">
    <p>
        Aber…Was ist Quilar?
        Mit unserer Softwarelösung können Sie in die Welt der erweiterten Realität eintauchen und ein noch nie dagewesenes, immersives Erlebnis erleben. Tauchen Sie ein in die Welt der Immobilien,
        während Sie Ihr Traumhaus in atemberaubendem 1:1-Maßstab erkunden, anpassen und einrichten
        - noch bevor der Bau überhaupt begonnen hat.
        Gehen Sie durch die sorgfältig gestalteten Räume, stellen Sie sich die atemberaubende Aussicht vor und machen Sie es zu Ihrem ganz eigenen, indem Sie das Interieur nach Ihrem persönlichen Stil gestalten.
        Machen Sie sich bereit für eine Reise voller Innovation und Möglichkeiten, in der die Grenzen 
        zwischen Vorstellungskraft und Realität verschwimmen und Ihr Traumhaus direkt vor Ihren Augen zum Leben erweckt wird.
    </p>
</section>