<head>
    <link rel="stylesheet" href="styles/workflow.css">
    <script>
        function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
        );
        }
 
        function handleScroll() {
            var divs = document.querySelectorAll('.bulletpoint');
            divs.forEach(div => {
                if (isInViewport(div) && !div.classList.contains('animate'))
                    div.classList.add('animate');
            });
        }
        window.addEventListener('scroll', handleScroll);
    </script>
</head>

<section class="workflow-section">
    <div class="bulletpoint-header">
        <h3>Konzentrieren Sie sich aufs Verkaufen und überspringen Sie die komplizierten Erklärungen.</h3>
        <p>So einfach geht's</p>
    </div>
    <div class="bulletpoint-group">
        <div class="bulletpoint">
            <div class="bulletpoint-thumbnail">
                <img loading="lazy" src="content/workflow/thumbnail_01.png"/>
            </div>
            <div class="bulletpoint-content">
                <h3>Schritt 01: Digitale Planung</h3>
                <p>Legen Sie in Ihrem <a href="https://hometour.quilar.de/admin" target="_blank">Management Dashboard</a> ein neues Projekt an und laden Sie Ihre Pläne hoch. 
                </p>
            </div>
        </div>
        <div class="bulletpoint shift">
            <div class="bulletpoint-thumbnail">
                <img loading="lazy" src="content/workflow/thumbnail_02.png"/>
            </div>
            <div class="bulletpoint-content">
                <h3>Schritt 02: Digitaler Rohbau</h3>
                <p>Unsere Technologie baut voll-automatisch ein 3D Modell aus Ihrer Planung.
                </p>
            </div>
        </div>
        <div class="bulletpoint">
            <div class="bulletpoint-thumbnail">
                <img loading="lazy" src="content/workflow/thumbnail_03.png"/>
            </div>
            <div class="bulletpoint-content">
                <h3>Schritt 03: Digitaler Innenausbau</h3>
                <p>Unsere Designer hauchen Leben in das 3D Modell ein: 
                    Möbel, Wandanstriche, Bodenbeläge uvm. werden von uns, nach Ihren Vorgaben, modelliert.
                </p>
            </div>
        </div>
        <div class="bulletpoint shift">
            <div class="bulletpoint-thumbnail">
                <img src="content/workflow/thumbnail_04.png"/>
            </div>
            <div class="bulletpoint-content">
                <h3>Schritt 04: Digitale Besichtigung</h3>
                <p>Das Projekt steht in unserer HomeTour App bereit.
                    Nutzen Sie die Magie von Augmented Reality, um Ihren Kunden ein Erlebnis zu bieten, anstelle von komplizierten Bauplänen.
                </p>
                <a href="https://apple.co/3qYag25"><img src="content/icons/appstore-black.svg"/></a>
            </div>
        </div>
    </div>
    </div>
</section>