<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <title>AGB | Quilar</title>
  <style>
    .AGB-section{
        margin: 100px 0;
    }
    .AGB-section h1,
    .AGB-section h2,
    .AGB-section h3,
    .AGB-section h4,
    .AGB-section p,
    .AGB-section span{
        color: var(--obscure-green);
    }
    .AGB-section h1{
        margin-top:0;
    }
    .AGB-section h4{
        text-decoration: underline;
    }
  </style>
</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="AGB-section">
            <span>ZULETZT GEÄNDERT AM 01.01.2024</span>
            <h1>Nutzungsbedingungen für die HomeTour App von Quilar</h1>
            <h2>Wichtig: Bitte lesen Sie diese Nutzungsbedingungen sorgfältig durch, bevor Sie die mobile Anwendung weiter nutzen. Während Sie die HomeTour App verwenden, achten Sie bitte auf Ihre Umgebung und Ihre eigene Sicherheit.</h2>
            <div>
                <p>
                    Diese Nutzungsbedingungen (die “Bedingungen”) gelten für die "HomeTour" App von der Quilar GmbH (Quilar”) mit Sitz in Dortmund, Deutschland.
                    Der Dienst ist ein Augmented Reality-Erlebnis, mit dem Sie an realen Orten interagieren. Durch die Nutzung des Dienstes erklären Sie sich mit Folgendem einverstanden:
                    Ihre Nutzung des Dienstes erfolgt auf eigene Gefahr;
                    Sie werden bei der Nutzung des Dienstes keine Gesetze oder Vorschriften, einschließlich Gesetze im Zusammenhang mit Hausfriedensbruch, verletzen;
                    Sie betreten das Privateigentum von niemandem ohne Erlaubnis;
                    Sie werden keine anderen Aktivitäten ausüben, die zu Verletzungen, Tod, Sachschäden oder anderen rechtlichen Haftungsansprüchen führen könnten;
                    Sie werden andere Menschen nicht verletzen, angreifen, bedrohen oder erniedrigen.
                    Achten Sie jederzeit auf Ihre Umgebung! Bitte lesen Sie Abschnitt 2, „Ihre Sicherheit“, um mehr darüber zu erfahren, wie Sie den Dienst sicher nutzen und das Eigentum anderer respektieren.
                </p>
                
                <h3>Annahme der Bedingungen</h3>
                <p>
                    Durch die weitere Nutzung des Dienstes erklären Sie sich mit Folgendem einverstanden:
                    Sie verstehen und beabsichtigen, dass diese Vereinbarung eine rechtsverbindliche Vereinbarung ist und einem unterzeichneten, schriftlichen Vertrag entspricht;
                    Sie mindestens 13 Jahre alt sind oder Ihr Elternteil oder Erziehungsberechtigter dieser Vereinbarung in Ihrem Namen zugestimmt hat;
                    Sie werden den Dienst in Übereinstimmung mit den geltenden Gesetzen und Vorschriften und in Übereinstimmung mit den Bedingungen dieser Vereinbarung in der von Quilar von Zeit zu Zeit geänderten Fassung nutzen; und
                    Sie verstehen, akzeptieren und erhalten diese Vereinbarung und ihre Allgemeinen Geschäftsbedingungen und erkennen diese an.
                    Wenn Sie mit den Bedingungen dieser Vereinbarung nicht einverstanden sind, stellen Sie bitte jede weitere Nutzung des Dienstes ein.
                </p>
                
                <h3>Ihre Sicherheit</h3>
                <p>
                    Wie Sie den Dienst sicher nutzen: Während Sie den Dienst nutzen, stimmen Sie den folgenden Sicherheitshinweisen zu:
                    Sie stimmen zu, sich immer Ihrer Umgebung bewusst zu sein und sich während der Nutzung des Dienstes von gefährlichen oder unangemessenen Orten fernzuhalten. Dazu gehört auch, auf andere Personen, Tiere und alle Gefahren oder Hindernisse zu achten, denen Sie begegnen können.
                    Sie erklären sich damit einverstanden, den Dienst nicht zu nutzen, während Sie ein Fahrzeug führen oder an ähnlichen Aktivitäten teilnehmen, die Ihre volle Aufmerksamkeit erfordern.
                    Sie erklären sich damit einverstanden, dass Ihre Nutzung des Dienstes auf Ihr eigenes Risiko erfolgt und dass es in Ihrer Verantwortung liegt, alle Versicherungspolicen (einschließlich Kranken-, Haftpflicht-, Personen-, Kranken-, Lebensversicherung und andere) abzuschließen und aufrechtzuerhalten, die vernünftigerweise für erforderlich sind, um Verletzungen, die während der Nutzung des Dienstes entstehen können, abzusichern.
                    Sie stimmen zu, bei der Nutzung des Dienstes keine Gesetze oder Vorschriften, einschließlich Gesetze im Zusammenhang mit Hausfriedensbruch, zu verletzen oder Dritte dazu zu ermutigen, gegen Gesetze zu verstoßen.
                    Sie erklären sich damit einverstanden, dass Sie alle minderjährigen Kinder, die den Dienst nutzen, beaufsichtigen, oder wenn Sie minderjährig sind, dass Sie bei der Nutzung des Dienstes immer elterliche Aufsicht haben.
                    Respektieren Sie andere Menschen und ihr Eigentum: Während Sie den Dienst nutzen, stimmen Sie in Bezug auf andere Personen und Eigentum Folgendem zu:
                    Sie werden einen sicheren und angemessenen Kontakt mit anderen Nutzern und anderen Personen in der realen Welt aufrechterhalten.
                    Sie werden niemanden angreifen oder bedrohen.
                    Sie betreten das private Eigentum Dritter nicht ohne Erlaubnis.
                    Sie werden keine anderen Aktivitäten ausüben, die vernünftigerweise zu Verletzungen, Tod, Sachschäden oder anderen rechtlichen Haftungsansprüchen führen können.
                </p>
                
                
                <h3>Streitigkeiten mit Dritten und Risikoübernahme</h3>

                    <h4>Streitigkeiten mit Dritten: </h4>
                    <p>
                        Wenn es zwischen Ihnen und einem anderen Benutzer des Dienstes oder einem anderen Dritten bezüglich Ihrer Nutzung des Dienstes zu Streitigkeiten kommt, stellen Sie Quilar, deren leitende Angestellte, Direktoren, Vertreter, Partner und Tochtergesellschaften sowie Mitarbeitern hiermit von allen Ansprüchen und Forderungen frei und tragen Schäden (ob tatsächlich oder Folgeschäden) aller Art, die sich aus solchen Streitigkeiten ergeben oder in irgendeiner Weise damit zusammenhängen selbst. Sie stimmen zu, dass Quilar, deren leitende Angestellte, Direktoren, Vertreter, Partner und Tochtergesellschaften sowie Mitarbeitern nicht für Verletzungen, Tod, Sachschäden oder andere rechtliche Risiken haften, die durch Sie oder andere während der Nutzung des Dienstes entstehen.
                    </p>
                    
                    <h4>Risikoübernahme: </h4>
                    <p>
                        Sie erklären sich damit einverstanden, dass Sie durch die Nutzung des Dienstes anerkennen und zustimmen, dass Sie, wenn Sie Aktivitäten im Zusammenhang mit dem Dienst ausführen, dies auf eigenes Risiko tun. Sie verstehen und stimmen zu, dass die Nutzung des Dienstes bestimmte bekannte und unbekannte Risiken mit sich bringt, einschließlich, aber nicht beschränkt auf das Risiko von Personenschäden, und übernehmen dieses Risiko vollständig in Ihrem eigenen Namen und im Namen Ihrer Erben, Abtretungsempfänger und Vertreter. Dies beinhaltet ohne Einschränkung Ihre Teilnahme an jeglichen Aktivitäten im Zusammenhang mit dem Dienst und jeglichen Geräten oder Ausrüstung, die in Verbindung mit dem Dienst verwendet werden. Sie erklären sich damit einverstanden, dass Sie freiwillig an diesen Aktivitäten teilnehmen und alle Verletzungsrisiken übernehmen, einschließlich, aber nicht beschränkt auf Verletzungen oder Schäden, die sich aus Ihrer Nutzung des Dienstes ergeben können. Sie erkennen an und stimmen zu, dass Sie jeden Ort, an dem Sie den Dienst nutzen, vorher darauf überprüfen werden, ob Sie den Dienst dort nutzen dürfen und den Ort betreten dürfen, und dass es ausschließlich in Ihrer Verantwortung liegt, dies zu tun. Sie erkennen an und stimmen zu, dass solche Orte für die Nutzung des Dienstes sicher und rechtmäßig sind.
                    </p>
                
                <h3>Die Lizenz von Quilar an Sie</h3>
                <p>
                    Quilar gewährt Ihnen eine einzelne, nicht ausschließliche, nicht übertragbare und beschränkte persönliche Lizenz für den Zugriff und die Nutzung des Dienstes. Diese Lizenz hängt von Ihrer fortgesetzten Einhaltung der Bedingungen dieser Vereinbarung ab. Sie dürfen den Dienst nicht vermieten, leasen, verleihen, verkaufen, übertragen, weiterverteilen oder unterlizenzieren, und wenn Sie ein Gerät, auf dem ein Teil des Dienstes installiert ist, an Dritte verkaufen oder anderweitig übertragen, müssen Sie den Dienst von diesem Gerät entfernen, bevor Sie dies tun. Sie dürfen den Quellcode des Dienstes, Aktualisierungen oder Teile davon nicht kopieren, dekompilieren, zurückentwickeln, disassemblieren, versuchen, den Quellcode abzuleiten, zu modifizieren oder abgeleitete Werke davon zu erstellen (außer und nur in dem Maße, in dem eine der vorstehenden Beschränkungen durch geltendes Recht verboten ist oder soweit dies durch die Lizenzbedingungen für die Nutzung von Open-Source-Komponenten, die im Dienst enthalten sind, zulässig ist).
                    Auch wenn Sie den Dienst möglicherweise über Apple, den Apple App Store oder andere von Apple autorisierte Unternehmen (zusammen „Apple“), über Google oder andere von Google autorisierte Quellen (zusammen „Google“) oder andere Drittanbieterplattformen erworben oder lizenziert haben, sind weder Apple, Google noch andere Drittanbieterplattform eine Partei dieser Vereinbarung und haben Ihnen gegenüber keine Verpflichtungen im Zusammenhang mit dem Dienst, außer wie in ihren eigenen Nutzungsbedingungen oder anderen Vereinbarungen beschrieben. Weiterhin versichern Sie, dass Sie sich nicht in einem Land befinden, dass untern dem U.S. Government embargo steht oder als “terrorist supporting country” von der US Regierung gelistet ist. Weiterhin versichern Sie, dass Sie nicht auf einer Liste der US Regierung für verbotene oder beschränkte Parteien steht.
                </p>
                    
                <h3>Nachrichten von Quilar</h3>
                <p>
                    Sie nehmen zur Kenntnis, dass Sie möglicherweise geschäftsbezogene Mitteilungen von Quilar über den Dienst oder per E-Mail erhalten, z. B. Produkt- und andere Ankündigungen sowie administrative Mitteilungen. Sie stimmen zu, dass diese Mitteilungen keine „unerwünschte kommerzielle E-Mail-Werbung“ sind und Sie stimmen zu, sie zu erhalten. E-Mail-Nachrichten enthalten Hinweise zum Opt-Out.
                </p>    
                
                <h3>Ihr Konto</h3>
                
                <h4>Konto-Erstellung: </h4>
                <p>
                    Zur Verwendung des Dienstes ist ein Konto freiwillig. Einige Funktionen stehen Ihnen nur mit einem Konto zur Verfügung. Sie können einen Drittanbieter-Login (wie Ihr Google- oder Apple-Login) verwenden, um ein Konto zu erstellen. Sie dürfen nur ein Konto erstellen, wenn Sie mindestens 13 Jahre alt sind. Wenn Sie mindestens 13 Jahre alt sind, aber in Ihrer Gerichtsbarkeit noch minderjährig sind, müssen Ihre Eltern oder Erziehungsberechtigten ein Konto bei uns einrichten, damit Sie auf alle Funktionen des Dienstes zugreifen und ihn vollständig nutzen können.
                    Sie sind allein verantwortlich für die Aktivität, die auf Ihrem Konto stattfinden. Sie stimmen zu, Ihr Konto und Ihre Geräte sicher aufzubewahren und Quilar unverzüglich über jede Sicherheitsverletzung oder unbefugte Nutzung Ihres Kontos zu benachrichtigen.
                </p>
                <h4>Genaue Informationen: </h4>
                <p>
                    Bei der Erstellung Ihres Kontos verpflichten Sie sich, gültige und richtige Informationen zu Ihnen anzugeben. Sie verpflichten sich, diese Informationen auf dem neuesten Stand zu halten, damit sie jederzeit korrekt sind.
                </p>
                
                <h4>Sperrung von Konten: </h4>
                <p>
                    Quilar kann nach eigenem Ermessen Ihr Konto oder Ihren Zugang zum Dienst aussetzen oder kündigen, wenn Ihr Verhalten nach unserer eigenen Entscheidung nicht dieser Vereinbarung entspricht oder aus anderen Gründen.
                </p>
                
                
                <h4>Konto Privatsphäre: </h4>
                <p>
                    Sie stimmen zu, dass in Verbindung mit Ihren Interaktionen mit anderen Benutzern und durch den Dienst keine Privatsphäre erwartet wird. Sie stimmen außerdem zu, dass der Inhalt von Nachrichten oder anderen Mitteilungen, die von Ihrem Konto gesendet werden, ob in oder über Chats, Foren, direkte Benutzer-zu-Benutzer-Kommunikation oder auf andere Weise, von Quilar abgerufen, reproduziert oder verbreitet werden können. Quilar wird bei der Überprüfung des Inhalts des Dienstes uneingeschränkt mit Strafverfolgungsbehörden und anderen staatlichen Stellen zusammenarbeiten.
                </p>
                
                <h4>Keine Kontokäufe und -übertragungen: </h4>
                <p>
                    Sie dürfen kein Konto kaufen, verkaufen, verschenken oder handeln oder versuchen, ein Konto zu kaufen, zu verkaufen, zu verschenken oder zu handeln. Quilar besitzt, lizenziert oder hat anderweitig Rechte an allen Inhalten, die im Dienst erscheinen, einschließlich Konten.
                </p>
                
                <h3>Ihre Lizenz an Quilar</h3>
                
                <h4>Ihre Inhalte: </h4>
                <p>
                    Jegliche Mitteilungen oder Materialien jeglicher Art, die Sie per E-Mail, Post oder anderweitig an Quilar oder die Öffentlichkeit über den Dienst oder die Nutzung des Dienstes übermitteln, einschließlich Bilder und Fotos, Chat, E-Mails, Kommentare, Sprachaufzeichnungen, Daten, Fragen, Kommentare oder Vorschläge sind Ihr „Inhalt“. Quilar ist nicht Eigentümer Ihres Inhalts. Durch das Posten oder Teilen von Inhalten erklären Sie, (i) dass Sie der Eigentümer des Inhalts sind oder alle erforderlichen Rechte besitzen, um ihn zu teilen, und (ii) erlauben Sie Quilar Ihre Inhalte unbefristet zu nutzen, wiederzuverwenden, zu kopieren, anzupassen, zu ergänzen, zu verteilen, zu kürzen, zu modifizieren, zu übersetzen, zu veröffentlichen, vorzuführen, anzuzeigen, zu entwickeln, zu reproduzieren, der Öffentlichkeit mitzuteilen und Ihre Inhalte anderweitig in jeglicher Form und durch jegliche Medien (ob bereits bekannt oder später erfunden) verfügbar zu machen, einschließlich durch jegliche On-Demand- oder Sendeanstalten, ob auf kommerzieller oder nicht kommerzieller Basis überall auf der Welt.
                </p>

                <h4>Verhaltensrichtlinie: </h4>
                <p>
                    Sie sind für Ihr Verhalten als Nutzer des Dienstes verantwortlich. Sie erklären sich damit einverstanden, dass Sie sich nicht an Verhaltensweisen (einschließlich der Weitergabe von Inhalten) beteiligen, die:
                    bedrohend, schikanierend, diffamierend, beleidigend, obszön, unanständig, sexuell provokant oder anzüglich, pornografisch sind oder in irgendeiner Weise zu zivilrechtlichen oder strafrechtlichen Haftungen nach geltendem Recht führen;
                    als Beleidigungen, Hassreden oder Angriffe auf Einzelpersonen oder Gruppen aufgrund von Rasse, Hautfarbe, Geschlecht, Alter, Religion, nationaler Herkunft, Behinderung, sexuellen Vorlieben oder Geschlechtsidentität interpretiert werden oder werden könnten;
                    Spam darstellen (das mehrfache Senden derselben Nachricht oder an mehrere Personen oder das mehrfache Teilen oder Senden desselben Inhalts wird als Spam behandelt);
                    eine Aufforderung oder Werbung für unanständiges oder unangemessenes persönliches Verhalten, kommerzielle Produkte oder Aktivitäten ist;
                    ein Verhalten ermutigen oder darstellen, das keine sichere und angenehme Nutzung des Dienstes für alle Benutzer unterstützt, wie Mobbing, jedes Verhalten oder jede Aktivität, die bedrohlich, schädlich, belästigend, beleidigend, vulgär, hasserfüllt, diffamierend, anstößig, sexuell provokant, anzüglich oder explizit, aufrührerisch, rassistisch oder ethnisch anstößig oder diskriminierend ist, oder in irgendeiner Weise zu unangemessenem, respektlosem, missbräuchlichem oder rechtswidrigem Verhalten ermutigt oder den Dienst auf andere Weise für jeden zu einer unangenehmen Erfahrung macht;
                    andere Benutzer von der Nutzung des Dienstes einschränkt, behindert oder davon abhält;
                    hackt, modifiziert oder anderweitig Automatisierungssoftware (Bots) oder andere nicht autorisierte Software von Drittanbietern, die entwickelt wurde, um die Erfahrung mit dem Dienst zu modifizieren, verwendet;
                    gegen lokale, staatliche, bundesstaatliche oder internationale Gesetze verstößt oder eine zivilrechtliche Haftung nach sich zieht;
                    Rechte Dritter verletzen oder verletzen könnte (einschließlich, aber nicht beschränkt auf Urheberrechte, Markenrechte, Datenschutz- oder Veröffentlichungsrechte, Verleumdung oder andere Eigentumsrechte);
                    den Dienst unangemessen oder unverhältnismäßig stark belastet oder den Dienst anderweitig stört;
                    ein „Kettenbrief“ ist oder „Junk-Mail“ darstellt;
                    angibt oder behauptet, dass Sie mit Quilar verbunden sind, obwohl dies nicht der Fall ist, einschließlich ein „Administrator“ oder ein anderer Mitarbeiter oder Vertreter von Quilar zu sein;
                    Anmeldeinformationen von anderen Benutzern anfordert;
                    Programme verwendet, um den Dienst oder andere Internet-Sicherheitstools zu „knacken“;
                    Dateien verwendet oder hochlädt, die Viren, Trojaner, Würmer, beschädigte Dateien oder Daten oder andere ähnliche Software oder Programme enthalten, die den Betrieb des Dienstes beschädigen oder behindern können;
                    oder alles andere, was Quilar nach eigenem Ermessen als anstößig oder schädlich für den Dienst oder die Integrität oder das Geschäft von Quilar erachtet.
                </p>
                
                <h4>Betrügen:</h4> 
                <p>
                    Es ist Ihnen strengstens untersagt, sich bei der Nutzung des Dienstes an jeglicher Art von Betrug zu beteiligen. „Betrügen“ bezeichnet jede Art von Handlung, die den normalen Betrieb des Dienstes ändert oder ändern soll oder auf andere Weise stört. Die Entscheidung, ob eine Handlung einen Betrug darstellt, liegt im alleinigen Ermessen von Quilar. Dies kann die Verwendung von Software umfassen, um den Standort Ihres Geräts zu ändern, die Verwendung mehrerer Konten oder andere Aktionen, die den Betrieb des Dienstes oder das Ergebnis einer Umfrage oder eines anderen Teils des Dienstes beeinflussen können. Quilar kann nach eigenem Ermessen technische Maßnahmen ergreifen, um Betrug und andere nicht autorisierte Aktivitäten im Dienst zu erkennen und zu verhindern.
                </p>
                
                <h3>Virtuelle Gegenstände</h3>
                <p>
                    Virtuelle Güter und Gegenstände sowie virtuelle „Token“ oder Währung (zusammen „virtuelle Gegenstände“) können zum Kauf angeboten oder anderweitig über den Dienst verdient oder verwendet werden. Ihre Entscheidung, einen Kauf mit echter Währung zu tätigen, ist ein Angebot an Quilar, zu den Preisen und Bedingungen zu kaufen, die zum Zeitpunkt des Kaufs im Dienst angegeben sind. Sie stimmen zu, dass Sie kein Recht oder Eigentum an virtuellen Gegenständen haben. Quilar erkennt keine angeblichen Übertragungen von virtuellen Gegenständen außerhalb des Dienstes oder den angeblichen Verkauf oder Handel in der „realen Welt“ von allem, was im Dienst erscheint oder stammt, an. Sie dürfen virtuelle Gegenstände nicht für „echtes“ Geld verkaufen oder diese virtuellen Gegenstände gegen einen Wert außerhalb des Dienstes eintauschen. Um es klarzustellen, virtuelle Gegenstände haben keinen realen Wert und sind lizenziert, nicht Eigentum.
                    Unter keinen Umständen werden Rückerstattungen für virtuelle Gegenstände gewährt, außer wenn dies von der Plattform verlangt wird, auf der Sie den Dienst lizenziert haben. Alle Verkäufe von virtuellen Gegenständen sind endgültig, wenn die Transaktion verarbeitet wurde.
                </p>
                
                <h3>Supportdienste</h3>
                <p>
                    Quilar kann Ihnen nach eigenem Ermessen Kunden- und technische Supportdienste im Zusammenhang mit dem Dienst („Supportdienste“) bereitstellen. Quilar ist nicht verpflichtet, Support-Services bereitzustellen, es sei denn, dies ist nach geltendem Recht anders vorgeschrieben. Support-Services nicht bereitzustellen oder die Bereitstellung zu unterbrechen, ist kein Versäumnis von Quilar im Rahmen dieser Vereinbarung.
                    Sie erreichen den Quilar-Kundensupport, indem Sie uns unter support@Quilar.de kontaktieren. Sie erklären sich damit einverstanden, dass Sie sich in Verbindung mit den Supportdiensten ausschließlich an Quilar wenden.
                    Änderung, Beendigung und Monitoring des Dienstes
                    Quilar behält sich das Recht vor, den Dienst (oder einen Teil des Dienstes) mit oder ohne Mitteilung vorübergehend oder dauerhaft zu ändern oder einzustellen. Sie stimmen zu, dass Quilar Ihnen oder Dritten gegenüber nicht für Änderungen, Ausfall des Dienstes haftbar ist. Quilar behält sich das Recht vor, die Nutzung des Dienstes zu überwachen, um die Einhaltung dieser Vereinbarung zu überprüfen, sowie das Recht die Bearbeitung, die Veröffentlichung oder das Entfernen von Inhalten, Informationen oder Materialien ganz oder teilweise nach unserem alleinigen Ermessen zu verweigern. Wir behalten uns das Recht vor, jederzeit und aus beliebigem Grund den Zugriff auf den Dienst zu verweigern. Quilar kann Ihre Inhalte und andere Mitteilungen überwachen, um die Qualität des von Ihnen erhaltenen Dienstes, Ihre Einhaltung der Vereinbarung, die Sicherheit des Dienstes zu überprüfen, oder aus anderen Gründen. Weder Quilar noch eines seiner verbundenen Unternehmen oder Vertreter haften für Kosten, Schäden, Ausgaben oder sonstige Verbindlichkeiten, die Ihnen infolge der Überwachungsaktivitäten von Quilar oder seinen verbundenen Unternehmen oder Vertretern entstehen.
                    Sicherheit der Datenübertragung und -speicherung
                    Elektronische Kommunikation über den Dienst ist möglicherweise nicht immer verschlüsselt. Sie erkennen an, dass das Risiko besteht, dass Daten, einschließlich E-Mail, elektronische Kommunikation und personenbezogene Daten, von unbefugten Dritten abgerufen werden können, wenn sie zwischen Ihnen und Quilar oder zwischen Ihnen und anderen Parteien ausgetauscht werden. Darüber hinaus können Ihre Inhalte im Dienst anderen Parteien öffentlich zugänglich sein. Quilar und seine verbundenen Unternehmen und Vertreter sind berechtigt, aber nicht verpflichtet, Ihre Inhalte und andere Mitteilungen zu überprüfen oder aufzubewahren.
                </p>
                
                <h3>Hyperlinks</h3>
                <p>
                    Der Dienst kann Links zu anderen Websites und Softwareanwendungen enthalten, einschließlich durch Display-Werbung (die „verknüpften Dienste“). Quilar kontrolliert die verlinkten Dienste nicht, und Quilar und seine verbundenen Unternehmen und Vertreter geben keinerlei Zusicherungen bezüglich des Inhalts, der Genauigkeit, der Sicherheit oder des Datenschutzes dieser verlinkten Dienste. Die Tatsache, dass Quilar einen Link zu einem externen Server bereitgestellt hat, stellt keine Billigung, Autorisierung, Sponsoring oder Zugehörigkeit zu diesen verlinkten Diensten, ihren Eigentümern oder ihren Anbietern dar. Die Verwendung von Informationen, Software oder Produkten im Internet birgt Risiken, und Quilar fordert Sie auf, sich dieser Risiken bewusst zu sein, bevor Sie etwas über das Internet abrufen, nutzen oder kaufen. Sie erklären sich damit einverstanden, dass Sie Quilar oder seine verbundenen Unternehmen oder Vertreter unter keinen Umständen für Verluste oder Schäden haftbar machen, die durch die Nutzung oder das Vertrauen auf Inhalte, Waren oder Dienstleistungen, die auf verlinkten Diensten verfügbar sind, verursacht werden.
                </p>
                
                <h3>Marken und Urheberrechte</h3>
                <p>
                    Der Dienst ist Eigentum von Quilar und ist durch US-amerikanische und internationale Urheberrechts- und andere Gesetze zum Schutz geistigen Eigentums geschützt. Alle Inhalte des Dienstes, Markenzeichen, Marken des Dienstes, Handelsnamen, Logos und Symbole sind Eigentum von Quilar. Nichts im Dienst ist als Gewährung einer Lizenz oder eines Rechts zur Nutzung einer im Dienst angezeigten Marke zu verstehen ohne die schriftliche Genehmigung von Quilar oder eines Dritten, der die im Dienst angezeigten Marken besitzt. Ihre Nutzung der im Dienst angezeigten Marken oder anderer Inhalte des Dienstes ist, außer wie in dieser Vereinbarung vorgesehen, strengstens untersagt. Das durch den Dienst angezeigte geistige Eigentum ist entweder Eigentum von Quilar oder wird mit Genehmigung von Dritten durch Quilar verwendet. Es ist Ihnen untersagt, dieses geistige Eigentum zu verwenden oder deren Verwendung zu genehmigen, es sei denn, dies ist ausdrücklich im Rahmen der Vereinbarung gestattet. Jede unbefugte Nutzung dieses geistigen Eigentums kann gegen Urheberrechtsgesetze, Markengesetz„xDataToGo – Experimentierfeld Digitaler Straßenraume, Datenschutz- und Publizitätsgesetze oder andere Vorschriften und Gesetze verstoßen.
                </p>
                
                <h3>Urheberrechtsbeschwerden</h3>
                <p>
                    Quilar erwartet von den Benutzern des HomeTour-Dienstes, die Urheberrechte anderer zu respektieren. Das Veröffentlichen von Material, welches das Urheberrecht verletzt, stellt einen Verstoß gegen die Nutzungsbedingungen dar.
                    Quilar kann Konten von Benutzern sperren, die Material veröffentlichen, welches gemäß der begründeten Annahme von Quilar das Urheberrecht verletzt.
                    In Übereinstimmung mit dem Digital Millennium Copyright Act („DMCA“) 17 U.S.C. § 512 der Vereinigten Staaten hat Quilar einen bezeichneten Vertreter für den Erhalt von Meldungen behaupteter Urheberrechtsverletzungen ernannt. Wenn Sie der Ansicht sind, dass bestimmtes Material im Dienst ein Urheberrecht verletzt, teilen Sie dies unserem bezeichneten Vertreter schriftlich unter Angabe der folgenden Informationen mit:
                    Eine physische oder elektronische Signatur einer Person, die autorisiert ist, im Namen des Eigentümers des mutmaßlich verletzten Exklusivrechts zu agieren;
                    Identifizierung des Werks, dessen Urheberrecht mutmaßlich verletzt wurde, oder, wenn mehrere urheberrechtlich geschützte Werke im Dienst in einer einzigen Meldung behandelt werden, eine repräsentative Liste dieser Werke im Dienst;
                    Identifizierung des Materials, das mutmaßlich das Urheberrecht verletzt oder Gegenstand eines Verstoßes ist und das entfernt werden oder auf das der Zugriff verhindert werden soll, sowie Informationen, anhand derer der Dienstanbieter das Material finden kann;
                    Informationen, anhand derer wir Sie kontaktieren können, wie Adresse und Telefonnummer sowie, falls verfügbar, eine E-Mail-Adresse, über die Sie kontaktiert werden können;
                    Eine Erklärung, dass Sie in gutem Glauben der Ansicht sind, dass die Nutzung des Materials in der beanstandeten Form nicht vom Urheberrechtsinhaber, von dessen Handlungsbevollmächtigtem oder durch das geltende Recht genehmigt ist;
                    Eine Erklärung, dass die in der Mitteilung enthaltenen Informationen zutreffend sind und, an Eides statt, dass Sie bevollmächtigt sind, im Namen des Eigentümers des mutmaßlich verletzten Exklusivrechts zu agieren;
                    Bitte stellen Sie alle oben aufgeführten Informationen bereit, andernfalls kann Ihre Beschwerde möglicherweise nicht bearbeitet werden.
                    Senden Sie Ihre Meldung einer behaupteten Urheberrechtsverletzung an den bezeichneten Vertreter von Quilar für Urheberrechtsbeschwerden mit den folgenden Kontaktdaten:
                </p>
                <p>
                    <strong>Quilar GmbH</strong>
                    <span>
                        <br>
                        c.o. Beauftragter für Urheberrechtsverletzungen
                    </span>
                    <span>
                        <br>
                        Am Gulloh 106
                    </span>
                    <span>
                        <br>
                        44339 Dortmund
                    </span>
                    <span>
                        <br>
                        Deutschland
                    </span>
                    <span>
                        <br>
                        Tel.: +4915737198065
                    </span>
                    <span>
                        <br>
                        E-Mail: info@quilar.de
                    </span>
                    
                    <p>
                        <br>
                        Beachten Sie, dass die im Rahmen dieser Richtlinie zu Urheberrechtsbeschwerden bereitgestellten Informationen, einschließlich der ursprünglichen Meldung und der Antworten darauf, an Dritte weitergegeben werden können, sofern dies von Quilar für die Bearbeitung Ihrer Meldung als notwendig oder angemessen erachtet wird.
                    </p>
                </p>
                
                <h3>Haftungsausschluss</h3>
                <p>
                    Ihre Nutzung des Dienstes erfolgt ausschließlich auf Ihr eigenes Risiko. Der Dienst wird von Quilar ohne Mängelgewähr bereitgestellt. Quilar lehnt ausdrücklich alle ausdrücklich oder stillschweigend vereinbarten Gewährleistungen jeglicher Art ab, einschließlich der stillschweigenden Gewährleistungen der Marktgängigkeit und Eignung für einen bestimmten Zweck. Quilar übernimmt keine Garantie dafür, dass (i) der Dienst Ihren Anforderungen entspricht, (ii) dass der Betrieb des Dienstes ununterbrochen, rechtzeitig, sicher oder fehlerfrei ist oder (iii) die Ergebnisse, die durch die Nutzung des Dienstes erzielt werden können, genau oder zuverlässig sind. Keine mündlichen oder schriftlichen Ratschläge oder Informationen, die Sie von Quilar oder über den Dienst erhalten, begründen eine Gewährleistung in Bezug auf den Dienst, die nicht ausdrücklich in dieser Vereinbarung angegeben ist. Soweit nach geltendem Recht zulässig, gelten weder Apple, Google, Amazon oder jede andere Plattform, von der Sie den Dienst heruntergeladen haben als eine Partei dieser Vereinbarung. Keines der vorgenannten Unternehmen gibt Garantien ab oder übernimmt irgendwelche Verpflichtungen in Bezug auf: (i) den Dienst; oder (ii) Ansprüche, Verluste, Verbindlichkeiten, Schäden, Kosten oder Ausgaben aus dem Dienst, einschließlich jeglicher Gewährleistungen, die sich aus Ansprüchen wegen Verletzung von geistigem Eigentum oder Persönlichkeitsrechten, Produkthaftung oder Nichterfüllung oder Ausführung des Dienstes ergeben, oder einem Standard entsprechen. Da einige Staaten oder Gerichtsbarkeiten den Verzicht auf stillschweigende Garantien nicht zulassen, trifft der vorstehende Haftungsausschluss möglicherweise nicht auf Sie zu.
                </p>

                <h3>Haftungsbeschränkung</h3>
                <p>
                    Sie nehmen ausdrücklich zur Kenntnis und stimmen zu, dass Quilar nicht für direkte, indirekte, zufällige, besondere, Folge- oder beispielhafte Schäden haftet, einschließlich Schäden für entgangenen Gewinn, Güter, Firmenwert, Nutzung, Daten oder andere immaterielle Schäden (auch nicht wenn Quilar auf die Möglichkeit solcher Schäden hingewiesen wurde), die aus der Nutzung oder der Unmöglichkeit der Nutzung des Dienstes oder einer anderen Angelegenheit im Zusammenhang mit dem Dienst resultieren. Weil einige Staaten oder Gerichtsbarkeiten den Ausschluss oder die Beschränkung der Haftung für Folgeschäden oder beiläufig entstandene Schäden nicht zulassen, ist in solchen Staaten oder Gerichtsbarkeiten die Haftung von Quilar und seinen verbundenen Unternehmen auf den gesetzlich zulässigen Umfang beschränkt.
                </p>
                
                <h3>Befreiung</h3>
                <p>
                    Sie erklären sich damit einverstanden, Quilar und seine verbundenen Unternehmen, leitenden Angestellten, Vertreter und Mitarbeiter von allen Ansprüchen, Forderungen, Verlusten, Kosten oder Ausgaben, einschließlich Anwaltskosten, freizustellen und schadlos zu halten, die von einer natürlichen oder juristischen Person aufgrund Ihrer Verletzung dieser Vereinbarung, staatlicher oder bundesstaatlicher Gesetze oder Vorschriften oder der Rechte anderer Personen, einschließlich der Verletzung von Urheberrechten oder der Verletzung von Eigentums- oder Datenschutzrechten, erhoben werden. Unter keinen Umständen, einschließlich fahrlässiger Handlungen, haften Quilar oder seine verbundenen Unternehmen oder Vertreter für Schäden jeglicher Art, die sich aus der Nutzung oder der Unmöglichkeit der Nutzung des Dienstes ergeben.

                </p>
                <h3>Ihre personenbezogenen Daten</h3>
                <p>
                    Bestimmte personenbezogene und andere Daten, die wir erheben, verarbeiten und weitergeben, unterliegen unserer Datenschutzrichtlinie. Als Bedingung für die Nutzung des Dienstes stimmen Sie den Bedingungen der Datenschutzrichtlinie zu, die von Zeit zu Zeit geändert werden können. Unsere Datenschutzrichtlinie, auf die hier Bezug genommen wird, befindet sich unter https://www.Quilar.de/datenschutzs. Sie stimmen zu, dass Ihre Nutzung des Dienstes der Datenschutzrichtlinie unterliegt.
                    Vom Gesetz vorgeschriebene Offenlegungen
                    Quilar behält sich das Recht vor, alle Informationen, einschließlich personenbezogener Daten über Sie, offenzulegen, wenn dies erforderlich ist, um geltende Gesetze, Vorschriften, rechtliche Verfahren oder behördliche Anfragen zu erfüllen. Quilar behält sich das Recht vor, uneingeschränkt mit Strafverfolgungsbehörden zu kooperieren, die Quilar auffordern oder anweisen, die Identität eines Benutzers offenzulegen, von dem angenommen wird, dass er gegen diese Vereinbarung verstößt. Indem Sie diese Vereinbarung akzeptieren, verzichten Sie auf alle Rechte und stimmen zu, Quilar schadlos von jeglichen Ansprüchen zu halten, die sich aus Maßnahmen von Quilar während oder als Ergebnis von Ermittlungen oder aus Maßnahmen ergeben, die als Folge von Ermittlungen von Quilar oder Strafverfolgungsbehörden ergriffen werden.
                </p>
                
                <h3>Allgemein</h3>
                <p>
                    Falls Sie auf den Dienst in den Vereinigten Staaten zugreifen, gilt das Gesetz von Massachusetts für die Auslegung dieser Bestimmungen unabhängig von Gesetzeskonflikten. Die Gesetze des Landes, in dem Sie wohnen, ist für alle anderen Ansprüche zuständig, einschließlich von Ansprüchen unter staatlichem Verbraucherschutz und den Gesetzen des unlauteren Wettbewerbs. Wenn Sie auf den Dienst in einem anderen Land zugreifen, gelten die Gesetze dieses Landes. Diese Bestimmungen beschreiben bestimmte gesetzliche Rechte. Abhängig von den Gesetzen Ihres Staates oder Landes haben Sie möglicherweise andere Rechte. Diese Bestimmungen ändern nicht Ihre Rechte unter den Gesetzen Ihres Staates oder Ihres Landes, wenn die Gesetze Ihres Staates oder Landes dies nicht zulassen. Das Übereinkommen der Vereinten Nationen über Verträge über den internationalen Warenkauf (CISG) findet keine Anwendung.
                    Die Europäische Kommission betreibt eine online Schiedsstelle. Quilar ist nicht dazu verpflichtet, an einem Streitbeilegungsverfahren vor dieser Schiedsstelle oder vor einer anderen Verbraucherschlichtungsstelle teilzunehmen.
                    Diese Bestimmungen, die Datenschutzerklärung von Quilar sowie die anderen auf dieser Seite erwähnten Bestimmungen, einschließlich solcher, die für bestimmte Bereiche des Dienstes gelten, stellen die gesamte Vereinbarung zwischen den Parteien bezüglich dieses Dienstes dar.
                    Falls eine Bestimmung dieser Bedingungen gesetzlich ungültig ist, gelten die Bedingungen weiter, mit Ausnahme dieser ungültigen Bestimmung. Bestimmt jedoch ein Gericht, dass eine Bestimmung ungültig ist, kann das Gericht die Bestimmung einschränken, bestimmte Wörter oder Sätze löschen oder die gesamte Bestimmung durch eine Bestimmung ersetzen, die gültig ist, und die die Absicht der ungültigen Bestimmung am besten ausdrückt.
                </p>
            </div>
</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>