<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="canonical" href="https://quilar.de/blog/">
    <title>Blog | Quilar</title>
    </head>
<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/blogs-list', {blogs}) %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>
</html>