
<!DOCTYPE html>
<html lang="de">
  
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/contact.css">
  <link rel="canonical" href="https://quilar.de/contact/">
  <title> Kontaktformular | Quilar</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="section-container contact-section-container">
            <section class="contact-section">
                <div class="contact-container">
                    <div class="contact-form">
                        <div class="contact-form-hero">
                            <h1>Holen Sie sich eine kostenlose Demo der <strong class="prime-color">4D Visualisierungen von Quilar</strong></h1>
                            <p>
                                Einer unserer Experten meldet sich und stimmt mit Ihnen einen passenden Termin ab. <br>
                                Im Demo-Termin erhalten Sie einen kompletten Einblick in unsere Lösung und wir stehen für Fragen und Anforderungen Rede und Antwort.
                            </p>
                        </div>
                        <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                        <script>
                        hbspt.forms.create({
                            region: "eu1",
                            portalId: "26707227",
                            formId: "7bbfad19-719f-492e-b021-55b9eef43eaf"
                        });
                        </script>
                    </div>
                    <div class="contact-description">
                        <div class="contact-description-header">
                            <img src="/content/images/contact-hero-bkg.jpg" loading="lazy" alt="Der Bauunternehmer übergibt das iPad der Baufamilie, um mit der Begehung in Lebensgröße zu starten.">
                        </div>
                        <div class="divider"></div>
                        <div class="contact-description-body">
                            
                            <h3><strong>Das erwartet Sie:</strong></h3>
                            <p>
                                Einer unserer Experten wird sich mit Ihnen in einem Zoom-Meeting zusammensetzen, 
                                Ihnen die Softwarelösung demonstrieren, und die Admin-Plattform präsentieren.
                                Dann gehen wir auf alle Ihre Fragen und Anforderungen ein.

                                <ul>
                                    <li>
                                        <p>
                                            Sie sehen LIVE am Bildschirm, wie 4D Visualisierungen aussehen, funktionieren und sich anfühlen.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Wir gehen auf Ihre Fragen ein und zeigen Ihnen, wie Sie Ihre Vorstellungen umsetzen können.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Unsere Experten avaluieren, ob 4D Visualisierungen für Ihre Situation passend ist.
                                        </p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>