
<!DOCTYPE html>
<html lang="de">
  
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/contact.css">
  <link rel="canonical" href="https://quilar.de/contact/">
  <title> Kontaktformular | Quilar</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section class="section-container contact-section-container">
            <section class="contact-section">
                <div class="contact-container">
                    <div class="contact-form">
                        <div class="contact-form-hero">
                            <h1>Holen Sie sich eine kostenlose Demo der <strong class="prime-color">4D Visualisierungen von Quilar</strong></h1>
                            <p>
                                Einer unserer Experten meldet sich und stimmt mit Ihnen einen passenden Termin ab. <br>
                                In einem Zoom-Termin zeigen wir Ihnen unsere 4D-Visualisierungssoftware in Aktion.
                            </p>
                        </div>
                        <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                        <script>
                        hbspt.forms.create({
                            region: "eu1",
                            portalId: "26707227",
                            formId: "7bbfad19-719f-492e-b021-55b9eef43eaf"
                        });
                        </script>
                    </div>
                    <div class="contact-description">
                        <div class="contact-description-header">
                            <img src="/content/images/contact-hero-bkg.jpg" loading="lazy" alt="Der Bauunternehmer übergibt das iPad der Baufamilie, um mit der Begehung in Lebensgröße zu starten.">
                        </div>
                        <div class="divider"></div>
                        <div class="contact-description-body">
                            
                            <h3><strong>Was Sie erwartet:</strong></h3>
                            <p>
                                <ul>
                                    <li>
                                        <p>
                                            Demonstration der Software: Sie sehen LIVE, wie 4D-Visualisierungen aussehen und funktionieren.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Interaktive Fragerunde: Wir beantworten all Ihre Fragen und erläutern, wie Sie Ihre spezifischen Vorstellungen umsetzen können.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Bedarfsanalyse: Gemeinsam evaluieren wir, ob und wie 4D-Visualisierungen für Ihre Anforderungen geeignet sind.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Einblick in die Verwaltung: Bei Interesse zeigen wir Ihnen auch die Plattform zur Verwaltung und Anpassung der Visualisierungen.
                                        </p>
                                    </li>
                                </ul>

                                <p>Unser Ziel ist es, Ihnen einen umfassenden Einblick in die Möglichkeiten unserer Software zu geben und herauszufinden, wie wir Ihnen am besten helfen können.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>