<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>

        Cookie Bestimmungen:
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>