<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <title>Impressum | Quilar</title>
  <style>
    p, a{
      color: var(--obscure-green);
    }
  </style>
</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>
        <section>
            <p>IMPRESSUM</p>
            <p>Angaben gem. § 5 TMG</p>
            <p>Herausgeber</p>
            <p>Quilar GmbH</p>
            <p>Am Gulloh 106, 44339 Dortmund</p>
            <p>Handelsregister: HRB 35805</p>
            <p>Registergericht: Amtsgericht Dortmund</p>
            <p>Telefon: 0049 1573 719 80 65</p>
            <p>E-Mail: info@quilar.de</p>
            <p>Vertretungsberechtigte(r) Geschäftsführer:</p>
            <p>Mohamed Aajour</p>
            <p>Die Europäische Kommission hat eine Plattform zur Online-Streitbeilegung bereitgestellt. Die OS-Plattform finden Sie unter diesem Link:</p>
            <p><a href="http://ec.europa.eu/consumers/odr" target="_blank">http://ec.europa.eu/consumers/odr</a></p>
            <p>Technische Informationen</p>
            <p>Wir weisen Sie darauf hin, dass die Vertraulichkeit im Internet nicht gewährleistet ist. Jeder Benutzer ist daher allein verantwortlich, seine Daten und/oder Softwares vor eventuell im Internet zirkulierenden Viren angemessen zu schützen.</p>
            <p>Hyperlinks</p>
            <p>Die Einrichtung eines Hyperlinks auf der Website <a href="http://quilar.de" target="_blank">https://quilar.de</a> unterliegt der Genehmigung des publizistischen Leiters. Der publizistische Leiter übernimmt keinerlei Haftung für auf der Website https://quilar.de eingerichtete Hyperlinks zu anderen Websites.</p>
            <p>Urheberrechte</p>
            <p>Die durch die Seitenbetreiber erstellten Inhalte auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des Rechtsinhabers bzw. des Erstellers. Jede vollständige oder teilweise Reproduktion oder Darstellung der Webseiten, Daten oder eines Bestandteils der Website <a href="http://quilar.de" target="_blank">https://quilar.de</a>, in welchem Verfahren und auf welchem Datenträger auch immer, ist ohne Zustimmung des Herausgebers untersagt und bedeutet eine Fälschung.</p>
            <p>Haftungsausschluss</p>
            <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann keine Gewähr übernommen werden. Als Diensteanbieter bzw. Herausgeber dieser Website sind wir gemäß §7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§8 bis 10 TMG sind wir als Diensteanbieter bzw. Herausgeber jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
            <p>Streitbeilegungsverfahren</p>
            <p>Wir sind zur Teilnahme an Streitbeilegungsverfahren vor einer</p>
            <p>Verbraucherschlichtungsstelle bereit. Die zuständige Verbraucherschlichtungsstelle ist:</p>
            <p>Allgemeine Verbraucherschlichtungsstelle des Zentrums für Schlichtung e.V. Straßburger Str. 8</p>
            <p>77694 Kehl am Rhein</p>
            <p>www.verbraucher-schlichtung.de</p>

        </section>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>