<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/benefits.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
        <%-include('../partials/all_features')%>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>