<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <%- include('../partials/webgl-container') %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>