<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <title>Kontaktformular erfolgreich übermittelt | Quilar</title>
</head>
<body>

<header class="visible">
  <%- include('../partials/header'); %>
</header>

<main>
  <section style="min-height: 100vh;">
    <h1>Ihre Anfrage ist bei uns eingegangen.</h1>
    <h2>Wir melden uns zeitnah bei Ihnen. Hier geht's zurück zur <a style="font-size: var(--font-size-h2); color: var(--obscure-blue); margin:0; text-decoration: underline;" href="/">Homepage</a></h2>
  </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>