.benefits-section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
  }


.bulletpoint-group{
  display: flex;
  flex-direction: column;
}
/* Rectangles */
.bulletpoint{
  display: flex; 
  flex-direction: column;
  min-height: min-content;
  width: 90%;
  margin: 5%;
  border-radius: 20px;
}
.bulletpoint-title{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}
.bulletpoint-title img{
  margin: 10px;
  width: 20%;
  max-height: 50px;

}
.bulletpoint-title h1{
  width: 80%;
  color: white;
  
}
.bulletpoint-text{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 70%;
}
.bulletpoint-text img{
  margin: 10px;
  width: 20%;
  max-height: 50px;
}
.bulletpoint-text p{
  width: 80%;
  height: 100%;
  color: white;
}

/* Rectangle 1*/
.individuell{
  background: #435DA3;
}

/* Rectangle 2*/
.zeit{
  background: #20B3CC;
}
/* Rectangle 3*/
.sicherheit{
  background: #585BA1;
}


/* Value Proposition */
.value-proposition-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vp-text{
  font-size: 50px;
  text-align: center;
  color: #00B4CE!important;
}

.vp-cta{
  background-color: #FC9946;
}

.vp-cta a{
  color: white;
}

/* Desktop screens */
@media only screen and (min-width: 992px){

  .benefits-section{
    flex-direction: row;
    width: 100%!important;
  }

  .bulletpoint-group{
    width: 50%;
    height: 100%;
  }

/* Value Proposition */
.value-proposition-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

}