.benefits2-section{
    position: relative;
    width: 100%!important;
    background-color: #f7f7f7!important;
  }


.benefit-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
/* Rectangles */
.benefit{
  display: flex; 
  flex-direction: column;
  min-height: min-content;
  width: 90%;
  margin: 5%;
  border-radius: 20px;
}
.benefit-title{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}
.benefit-title img{
  margin: 10px;
  width: 20%;
  max-height: 50px;

}

.benefit-text{
  display:flex;
  flex-direction: row;
  height: 70%;
}
.benefit-text img{
  margin: 10px;
  width: 20%;
  height: 0;
}


.benefit-text ul{width:80%;}


.tool h2{
    color: #425DA7!important;
}
.tool li{
    color: #425DA7!important;
}

.homestaging h2{
    color: #00B4CE!important;
}
.homestaging li{
    color: #00B4CE!important;
}

.shop h2{
    color: #585BA5!important;
}
.shop li{
    color: #585BA5!important;
}

/* Desktop screens */
@media only screen and (min-width: 992px){
  .benefit-group{
    flex-direction: row;
  }
  .benefit ul{
    padding-inline-start: 0;
  }
  .benefit{
    margin: 10px;
  }
  .benefit h1{font-size:20px;}
  .benefit p{font-size: 20px;}
}
