.blog-post-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%!important;
  margin: 0;
}


.blog-post-section h2,
.blog-post-section h3,
.blog-post-section li,
.blog-post-section p{
  color: var(--obscure-green);
}

.blog-post-section h2{
  margin-top: 1em;
  font-weight: 500;
}

.blog-post-section h3{
  text-decoration: underline;
}

.blog-post-section p{
  text-align: justify;
}

.blog-post-section img{
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.blog-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.blog-post .promise-container{
  margin-top: var(--margin-sec-v);
}
.blog-post .promise-container p{
  color: var(--off-white);
}
.blog-post .promise-container img{
  max-height: unset;
  height: 100%;
}

.card{
  width: 90%;
  padding: 0 5%;
  background-color: var(--obscure-blue);
  border-top: 0.5px solid var(--obscure-green);
  border-bottom: 0.5px solid var(--obscure-green);
}

.card-header{
  width: 100%;
  margin: 12px;
}

.card-header img{
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-body{
  margin: 12px;
}

.blog-post{
  width: 90%;
  margin-bottom: 50px;
}

.more-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



  /* Landscape screens */
  @media only screen and (orientation: landscape) and (max-width: 992px){
    /* Styles specific to landscape orientation */
    .blog-post-section img{
      max-height: unset;
    }
    
    .blog-post-container{
      flex-direction: row;
      align-items: stretch;
    }

    .blog-post{
      width: 250%;
      padding: 0 calc(var(--margin-sec-v)/2);
    }

    .more-posts{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .card{
      height: 100%;
      border: none;
    }

  }
  
  /*Desktop*/
  @media only screen and (min-width:992px) {
    .blog-post-section img{
      max-height: unset;
    }
    
    .blog-post-container{
      flex-direction: row;
      align-items: stretch;
    }

    .blog-post{
      width: 300%;
      padding: 0 calc(var(--margin-sec-v)/2);
    }

    .more-posts{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .card{
      height: 100%;
      border: none;
    }
  }
  
