.cta-banner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--linear-gradient-v);
    padding: calc(var(--margin-sec-v)) 0;
}

.cta-banner-section{
    margin-bottom: 0;
    z-index: 1;
}

.cta-banner-section-bkg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.cta-banner{
    width: 100%;
    z-index: 1;
}


.cta-banner h2,
.cta-banner p,
.cta-banner button
{
    color: white;
}

.cta-banner button{
    width: 100%;
    margin: 20px 0;
    
}

.model{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model img{
    position: absolute;
    top: 0;
    width: 80%;
    right: 0;
    z-index: -1;
    opacity: 0.1;
}


/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
    .cta-banner-section{
        margin-bottom: 0;
    }
  
  }
  

/* Desktop */
@media only screen and (min-width: 992px) {

    .model img{
        right: 0;
        width: 50%;
    }
  }
  