.cta-banner-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--linear-gradient);
    padding-top: 50px;
    z-index: -2;
}
.cta-banner-section-bkg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}


.cta-banner{
    width: 90%;
    z-index: 1;
}


.cta-banner h2{
    color: var(--off-white);
}

.cta-banner button{
    width: 100%;
    margin: 20px 0;
    
}

.model{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model img{
    width: 80%;
}


@media only screen and (min-width: 992px){
    .cta-banner-section{
        flex-direction: row;
    }
    .bet{
        width: 50%;
    }
    .app-cover{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .bet h3{ font-size: 80px;}

    .app-cover img{
        max-height: 90vh;
    }
}