.customers-container{
    background: var(--obscure-blue);
    overflow: hidden;
}
.customers-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: unset;
    margin: 20px 0;
}

.customers-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.customers-header h2{
    color: var(--off-white);
}
.customers-header-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 ;
}

.customers-header-sub{
    text-align: center;
    margin: 0;
}

.customers-logos{
    display:flex;
    align-items: center;
    white-space: nowrap;
}

.logo{
    width: 200px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}

@keyframes scroll-logos{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(200px * 7));
    }
}

.customers-logos{
    animation: scroll-logos 20s linear infinite;
}


@media only screen and (min-width:992px) {
    .customers-section h2{
        font-size: 30px;
    }
}