.demo-hero-section {
  position: relative;
  margin-bottom: 0; /*subtract that top distance at the top so there gets no space created*/
  height: var(--hero-height);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.demo-hero-bkg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit:cover;
  z-index: -10;
}

 
.demo-hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.demo-hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  transform: translateY(-40%);
  width: 90%;
  height: 100%;
  color: white;
  text-align: center;
  z-index: 2;
  backface-visibility: hidden;
  opacity: 0;
  animation: fadeIn 2s ease forwards 1s;
}

.demo-hero-header p{
  padding: 0 20px;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.demo-hero-title{
  margin-top: 0;
  padding: 0 20px;
  display: block;
  color: white;
}



.demo-hero-btns{
  margin-top: 20px;
}

.demo-hero-cta-btn{
  width: unset;
  min-width: 300px;
}

.secondary-demo-hero-btn{
  background: linear-gradient(90deg, #425da7c3 0%, #00b3ced3 100%);
  /* background: rgba(255, 255, 255, 0.216); */
}

@keyframes slide {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30px);
  }
}

.scroll-indicator{
  position: absolute;
  bottom: 20px;
  z-index:1;
}

.dot {
  animation: slide 3s infinite;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 5%;
}

.modal-content iframe{
  width: 80vw;
  height: calc(80vw*0.5625); /*16:9 resolution*/
}
/* Close Button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  color: #aaa !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.demo-hero-foot{
  position: relative;
  width: 90%;
  height: 10vh;
}

.appstore-rating{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
  height: 100%;
  max-width: 50%;
}
.appstore-rating p{
  display: flex;
  align-items: center;
  color: black;
  margin: 0;
  word-break: normal;
}

.appstore-rating-header{
  display: flex;

}
.appstore-rating-header img{
  max-width: 25vw;
  margin-left: 5px;
}

.appstore-rating-stars{
  max-height: 50%;
}

.scroll-indicator{
  left: 50%;
  transform: translateX(-71%); /* translate 71% because you've scaled the indicator by 0.7. => 50/71 ~ 0.7*/
  scale: 0.7;
}

@media only screen and (min-width: 992px){

  .demo-hero-section {
    height: 100vh;
  }

  .demo-hero-header{
    align-items: flex-start;
  }
  .demo-hero-title{
    text-align: start;
    padding: 0;
  }

  .demo-hero-text{
    text-align: start;
  }

  .demo-hero-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .modal-content iframe{
    width: 50vw;
    height: calc(50vw*0.5625); /*16:9 resolution*/
  }

  .demo-hero-cta-btn{
    width: unset;
  }

  .appstore-rating{
    bottom: 0;
    left: 20px;
  }

  .appstore-rating-header img{
    height: 50px;
  }

  .appstore-rating-stars img{
    width: 30px;
  }

  .hero-btns{
    flex-direction: row;
  }

  .hero-cta-btn{
    width: unset;
  }
}
  
  /* Landscape screens */
  @media only screen and (orientation: landscape) and (max-width: 992px) {
    
    .demo-hero-section{
      height: 100vh;
    }


    .demo-hero-text{
      align-items: flex-start;
    }

    .demo-hero-title{
      text-align: start;
    }
    
    .demo-hero-foot{
      height: 10vw;
    }
    
    .demo-hero-btns{
      flex-direction: row-reverse;
      justify-content: center;
      width: 100%;
      gap: 10px;
    }

    .demo-hero-cta-btn{
      width: unset;
    }

    .modal-content iframe{
      width: 50vw;
      height: calc(50vw*0.5625); /*16:9 resolution*/
    }
    
  }