.demo-container{
  width: 90%;
  display:flex;
  flex-direction: column;
}

.demo-container h2{
  color: var(--off-white);
}

.demo-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, rgba(54, 125, 146, 0.75) 0%, rgba(54, 125, 146, 0.75) 14.5%, rgba(54, 125, 146, 0) 100%);
  padding-top: 24px;
}

.demo-video{
  width: 100%;
  margin: 15% 0;
}
.demo-video iframe{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 992px){
  .demo-container{
    flex-direction: row;
    align-items: center;
  }
  
  .demo-video{
    width: 45vw;
    height: calc(45vw * (315 / 560));
  }

  .demo-right{
    width: 45vw;
    padding-left: 5%;
  }
}