.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    min-height: unset;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 5%;
}

.footer-content h3{
    color: black;
}

.footer-content span{
    color: black;
}

.footer-content a{
    color: black;
    margin: 0;
    text-decoration: none;
}

.sm-logo{
    margin: 0 25px;
    max-width: 30px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form-name{margin: 20px 0;}
.form-email{margin: 20px 0;}
.form-message{margin: 20px 0;}

#contact-form button{
    background-color: #FC9946;
}

#contact-form input{
    padding: 1em;
    height: 2em;
    margin:0;
    overflow: hidden;
}

#message{
    height: 10em;
    padding: 1em;
    margin:0;
}

.footer-border{
    width: 100%;
    margin: 1em;
    border: #d2d2d7;
    border-style: solid none none none;
    color: #d2d2d7;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}
.footer-links a{
    color: black;
    text-decoration: none;
    margin: 1em;
    font-size: 40px;
}

/* Desktop screens */
@media only screen and (min-width: 992px){

    .footer-content{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
    }

    .footer-adress .footer-main .footer-sm {
        width: 25%;
        justify-content: center;
        align-items: center;
    }

    .footer-sm-logos{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .sm-logo{
        margin-left: 0;
    }

    #contact-form button{
        background-color: #FC9946;
    }

    .footer-links{
        
        justify-content: center;
    }
    .footer-links a{
        font-size: unset;
    }

    #contact-form button{
        margin: 0;
        padding: 0 1em;
    }
    


}