.founder-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin-top: var(--margin-sec-v);
}

.founder-section h3,
.founder-section h4,
.founder-section p,
.founder-section span{
    color: var(--obscure-green);
}
.founder-image p{
    color: var(--grey);
}

.founder-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.founder-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founder-image img{
    width: 100%;
    object-fit: scale-down;
}

.founder-image h4{
    margin-bottom: 0;
}
.founder-image p{
    margin-top: 0;
}

.founder-story{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-result{
    margin: 0;
}

.linked-in-btn{
    width: unset;
    background-color: #0b66c2;
    display: flex;
    align-items: center;
}
.linked-in-btn a{
    color: white;
}
.linked-in-btn img{
    width: unset;
    max-height: 80%;
    margin-left: 10px;
}

.profiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: calc(var(--margin-sec-v)*0.25);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.profile h3{
    color: var(--cyan);
    font-weight: 600;
    margin-top: 20px;
}
.profile h4{
    color: var(--grey);
}

.profile ul{
    width: 100%;
}

.profile img{
    width: 100%;
}





/* Desktop screens */
@media only screen and (min-width: 992px){

    .founder-body{
        flex-direction: row;      
        gap: calc(var(--margin-sec-v)/2);
    }

    .founder-image{
        width: 40%;
        align-items: flex-start;
    }

    .founder-story{
        height: 100%;
        justify-content: flex-start;
    }

    .founder-story p{
        margin: 1em 0;
        margin-top: 0;
    }


}
  /* Landscape screens */
  @media only screen and (orientation: landscape) and (max-width: 992px) {

    .founder-body{
        flex-direction: row;      
        gap: calc(var(--margin-sec-v)/2);
    }

    .founder-image{
        width: 40%;
        align-items: flex-start;
    }

    .founder-story{
        height: 100%;
        justify-content: flex-start;
    }

    .founder-story p{
        margin: 1em 0;
        margin-top: 0;
    }
  }