header{
    position:fixed;
    width: 100%!important;
    height: 90px;
    top: 0;
    z-index:9999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%!important;
    height: 100%;
    background: rgb(37,163,194);
    background: linear-gradient(90deg, rgba(37,163,194,1) 0%, rgba(77,88,155,1) 100%);
}

.navbar-logo{
    margin: 5px;
    padding-left: 10px;
    width: 44px;
    height: 60px;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    list-style-type: disc;
}

.nav-item{
    list-style: none;
    margin:10px;
}

.nav-link{
    text-decoration: none;
    font-family: 'Outfit',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF!important;
    padding: 31px 0;
}

.nav-link:hover{
    cursor: pointer;
    opacity: 0.7;
}

.nav-button-cta{
    border-radius: 50px;
    border-color: #FC9946;
    border-style: solid;
    background: none;
    width: fit-content;
}

