header.visible{
    position:sticky;
    width: 100%!important;
    height: 100px;
    top: 0px;
    transition: top 0.25s linear;
    z-index:9999;
}

header {
    top: -100px;
    height: 100px;
    background: #00B4CE;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
  }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%!important;
    height: 100%;
}

.navbar-logo{
    margin:20px;
    height: 70%;
}

.navbar-logo img{height:100%;}

.burger{
    margin:20px;
    display: block;
}

.placeholder{
    opacity: 0;
    width: 100px;
}

.navbar-links{
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    padding-inline-start: 0;
    background: #00B4CE;
    margin:0;
    height: 0vh;
    transition: height 0.3s ease-in-out;
}

.demo-cta{
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
  }




.appstore-widget{
    display: unset;
}



body.open .navbar-links{
    display: flex;
    flex-direction: column;
    height: 50vh;
    opacity: 1;
}


.nav-item{
    display: none;
    list-style: none;
    line-height: unset;
    margin:10px;
}

body.open .nav-item{display:unset}

.nav-link{
    text-decoration: none;   
    text-align: right;
    color: #f1f1f1!important;
    padding: 31px 0;
}

.nav-link:hover{
    cursor: pointer;
    opacity: 0.7;
}

.nav-button-cta{
    border-color: #FC9946;
    border-style: solid;
    background: none;
    min-width: unset;
    min-height: unset;
    margin: unset;
}

.nav-button-cta a{
    color: #363636!important;
}

/* Desktop Screen */
@media only screen and (min-width: 992px){

    header.visible{
        height: 75px;
    }
    header{height:75px;}
    .burger {display:none;}
    .nav-item{display: unset;}
    .nav-item{width:auto;}
    .menu-icon{
        opacity: 0;
    }

    body.open .navbar-links{
        flex-direction: row;
        background: none;
    }    
    .navbar-links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        position: unset;
        width: 80%;
        opacity: 1;
        background-color: none;
        list-style-type: disc;
    }


    .appstore-widget{
        display:none;
    }
    
    .placeholder{display: none;}

}

/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px) {
    /* Styles specific to landscape orientation */

    body.open .navbar-links{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);
        opacity: 1;
    }
    
}  