header{
    position:fixed;
    width: 100%!important;
    height: 150px;
    top: 0;
    z-index:9999;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%!important;
    height: 100%;
    background: rgb(37,163,194);
    background: linear-gradient(90deg, rgba(37,163,194,1) 0%, rgba(77,88,155,1) 100%);
}

.navbar-logo{
    margin:20px;
    max-height: 70%;
}

.burger{
    margin:20px;
    display: block;
}

.navbar-links{
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%!important;
    top: 150px;
    left: 0;
    background: #585BA1;
    margin:0;
    height: 0vh;
    transition: height 0.3s ease-in-out;
}

body.open .navbar-links{
    display: flex;
    flex-direction: column;
    height: 50vh;
    opacity: 1;
}


.nav-item{
    display: none;
    list-style: none;
    margin:10px;
}

body.open .nav-item{display:unset}

.nav-link{
    text-decoration: none;
    font-family: 'Outfit',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: right;
    color: #FFFFFF!important;
    padding: 31px 0;
}

.nav-link:hover{
    cursor: pointer;
    opacity: 0.7;
}

.nav-button-cta{
    border-radius: 50px;
    border-color: #FC9946;
    border-style: solid;
    background: none;
    min-width: unset;
    min-height: unset;
    margin: unset;
}


@media only screen and (min-width: 992px){

    .burger {display:none;}
    .nav-item{display: unset;}
    .menu-icon{
        opacity: 0;
    }

    body.open .navbar-links{
        flex-direction: row;
        background: none;
    }    
    .navbar-links{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        position: unset;
        width: 90%;
        opacity: 1;
        background-color: none;
        list-style-type: disc;
    }
    

}