.hero-section {
  position: relative;
  min-width: 100%!important;
  min-height: calc(100vh-150px);
  display: flex;
  flex-direction: column;
  background-color: #1A1919;
}

.hero-section video{
  position: relative;
  max-height: 50vh;
  object-fit:fill;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%;
  background: rgb(0,180,206);
  background: linear-gradient(0deg, rgba(0,180,206,0.5862068965517242) 0%, rgba(66,93,167,0.3236074270557029) 100%);
  z-index: 2;
}
 
.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 96%;
  text-align: left;
  color: #fff;
  z-index:3;
}

.title {text-align: center;}
.paragraph{text-align: center;}
.call2action{
  background-color: #FC9946;
}
.call2action a{
  color: white;
}
/* Desktop screens */
@media only screen and (min-width: 992px){
  
  .hero-section {
      height: 100vh;
    }
    
    .hero-section video {
      margin-left: 25%;
      width: 75%;
      right: 0;
      max-height: 100%;
      z-index: 1;
      pointer-events: none;  
    }

     
    .hero-content {
      position: absolute;
      align-items: flex-start;
      justify-content:start;
      max-height: 80vh;
      max-width: 60%;
      padding-left: 5%;
    }

    .title{text-align: start; margin-top: 1vh;}
    .paragraph{text-align: start;}

}