.hero-section {
  position: relative;
  min-width: 100%!important;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  background-color: #1A1919;
}

.hero-section video{
  position: relative;
  max-height: calc(50vh - 150px/2);
  object-fit:fill;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%;
  background: rgb(0,180,206);
  background: linear-gradient(0deg, rgba(0, 11, 12, 0.586) 0%, rgba(66,93,167,0.3236074270557029) 100%);
  z-index: 2;
}
 
.hero-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  color: #fff;
  z-index:3;
}

.hero-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.title {
  text-align: center;
  color: #f5f5f7;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
  margin: 0;
}

.subtitle{
  text-align: center;
  color: #f5f5f7;
  margin: 0;
}

.hero-cta{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  display: none;
}
.hero-cta button{
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.hero-cta.desktop a{
  color: #1d1d1f; 
}


.read-more-container{
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  z-index: 3;
}
.read-more {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #ffffff; /* Adjust color as needed */
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Desktop screens */
@media only screen and (min-width: 992px){
  
  .hero-section {
      min-height: calc(100vh - 100px);
    }
    
    .hero-section video {
      margin-left: 25%;
      width: 75%;
      right: 0;
      max-height: 100%;
      z-index: 1;
      pointer-events: none;  
    }

     
    .hero-content {
      position: absolute;
      align-self: flex-start;
      justify-self: center;
      justify-content:space-evenly;
      height: 80vh;
      max-width: 60%;
      padding-left: 5%;
    }


  .hero-header{
    align-items: flex-start;
  }

  .title{
    text-align: start;
    margin: 0;
  }

    .subtitle{
      text-align: start; 
      font-weight: 400; 
    }
    .paragraph{text-align: start;}

    .hero-cta{
      align-items: flex-start;
    }

    .hero-cta button{
      margin: 1% 0;
    }

}

/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px) {
  /* Styles specific to landscape orientation */
  .hero-section video{
    position: relative;
    max-height: fit-content;
    object-fit:fill;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    background: rgb(0,180,206);
    background: linear-gradient(0deg, rgba(0, 11, 12, 0.586) 0%, rgba(66,93,167,0.3236074270557029) 100%);
    z-index: 2;
  }
   
  .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    text-align: left;
    color: #fff;
    z-index:3;
  }
  

}