.illustration-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: var(--margin-sec-v);
}

.illustration-section h4,
.illustration-section p{
    text-align: center;
}

.illustration-section h4,
.illustration-section p,
.illustration-section span{
    color: var(--obscure-green);
}

.illustration-section-bkg{
    position: absolute;
    width: 100%;
    top: 20%;
    right: 30%;
    opacity: 0.2;
    z-index: -1;
  }

.illustration-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

.illustration-steps::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%; /* Adjust this to vertically center the line with your icons */
    width: 2px; /* Thickness of the line */
    height: 100%; 
    background: var(--linear-gradient); /* Color of the line */
    z-index: -1; /* Below the icons */
  }

.illustration-step{
    opacity: 0; /* Initially hidden */
    transform: translateY(20%); /* Initially off-screen */
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.illustration-step.animate{
    opacity: 1; /* Fade in when the animate class is added */
    transform: translateY(0); /* Slide up when the animate class is added */
}

.illustration-step img{
  max-width: 100%;
    object-fit: contain;
    margin: 10px 0;
}


.illustration-circle{
    position: absolute;
    left: -10px;
    height: 20px;
    width: 20px;
    background: var(--obscure-blue); /* Use your icon here */
    border-radius: 50%;
    margin: 0 auto;
  }
  .illustration-circle.first-circle{
    margin-top: 0px;
  }

  .illustration-step-content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 20%;
    position: relative;
  }


  .illustration-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.illustration-more-btn{
    background-color: var(--off-white);
}
.illustration-more-btn a{
    color: var(--cyan);
}



/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
    /* Styles specific to landscape orientation */
    .illustration-section-bkg{
        top: 0;
        left: unset;
        left: -20%;
        width: 50%;
    }

    .illustration-steps {
        position: relative;
      flex-direction: row; /* Align steps horizontally */
      justify-content: center; /* Center steps in the container */
      align-items: flex-start;
    }
  
    .illustration-steps::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px; /* Adjust to vertically center the line with the icons */
      width: 100%; /* Horizontal line width */
      height: 2px; /* Thickness of the line */
      background: var(--linear-gradient); /* Color of the line */
      z-index: -1;
    }
  
    .illustration-step {
      justify-content: flex-start; /* Distribute space between items in step */
      align-items: center; /* Vertically center items in step */
      max-width: 30%; /* Adjust the width of each step */
      margin: 0 10px; /* Add some margin between steps */
      opacity: 0; /* Show steps by default */
      transform: translateX(20%); /* Reset any transforms */
    }
  
    .illustration-step.animate {
      opacity: 1; /* Ensures step is visible during animation */
      transform: translateX(0); /* Ensures step is in its final state */
    }

    .illustration-circle{
      position: relative;
    }

    .illustration-circle.first-circle{
      margin-top: 0;
    }

    .illustration-step-content{
      width: 100%;
      padding-left: 0;
    }


    .illustration-step img{
      height: 150px;
      width: unset;
      max-width: unset;
  }
  
    
  
    .illustration-more-btn {
      width: auto;
      margin-top: 20px; /* Add some space above the button */
    }

  
  }
  

/* Desktop */
@media only screen and (min-width: 992px) {

    .illustration-section-bkg{
        top: 0;
        left: unset;
        left: -20%;
        width: 50%;
    }

    .illustration-steps {
        position: relative;
      flex-direction: row; /* Align steps horizontally */
      justify-content: center; /* Center steps in the container */
      align-items: stretch;
    }
  
    .illustration-steps::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px; /* Adjust to vertically center the line with the icons */
      width: 100%; /* Horizontal line width */
      height: 2px; /* Thickness of the line */
      background: var(--linear-gradient); /* Color of the line */
      z-index: -1;
    }
  
    .illustration-step {
      justify-content: space-between; /* Distribute space between items in step */
      align-items: center; /* Vertically center items in step */
      width: 30%; /* Adjust the width of each step */
      margin: 0 10px; /* Add some margin between steps */
      opacity: 0; /* Show steps by default */
      transform: translateX(20%); /* Reset any transforms */
    }
  
    .illustration-step.animate {
      opacity: 1; /* Ensures step is visible during animation */
      transform: translateX(0); /* Ensures step is in its final state */
    }

    .illustration-circle{
      position: relative;
    }

    .illustration-circle.first-circle{
      margin-top: 0;
    }

    .illustration-step-content{
      width: 100%;
      padding-left: 0;
    }

    .illustration-step img{
      height: 200px;
      width: unset;
      max-width: unset;
  }

  
    .illustration-more-btn {
      width: auto;
      margin-top: 20px; /* Add some space above the button */
    }
  }
  

