
.illustration-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.illustration-arrow{
    transform: rotate(90deg);
}

.illustration-text p{ 
    color: #00B4CE!important;
    text-align: center;
}

/* Desktop screens */
@media only screen and (min-width: 992px){
    .illustration-image{
        flex-direction: row;
    }
    .illustration-arrow{transform: rotate(0);}
}

