@font-face {
    font-family: Outfit;
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

html{scroll-behavior: smooth;}

body{
    margin:0;
    -webkit-font-smoothing: antialiased;
    width: 100%!important;
    background-color: white;
}


button{
    min-height: 100px;
    min-width: 200px;
    margin: 5em;
    cursor: pointer;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FC9946;
}

h1{
    font-size: 70px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 600;
}
h2{
    font-size: 60px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 500;
}
h3{
    font-size: 50px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 400;
}

a{
    font-family: Outfit;
    font-size: 36px;
    margin: 0 0.5em;
    text-decoration: none;
}

p, li, input, textarea{
    font-size: 36px;
    margin: 1em 0;
    font-family:Outfit;
    line-height: 1.5em;
    width: 90%;
    word-break: break-word;
  }
  
span{
    font-family: Outfit;
    font-size: 30px;
}

@media only screen and (min-width:992px) {
    button{
        transition: min-width 0.3s;
    }

    button{
        min-height: unset;
        min-width: unset;
        margin: unset;
        cursor: pointer;
    }

    a{
        font-size: 30px;
        
    }


    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;

    }
    h3{
        font-size: 24px;
    }
    p, li, input, textarea{
        font-size: 20px;
    }
    span{ font-size: 16px;}



      
}


/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
    /* Styles specific to landscape orientation */

    h1{
        font-size: 20px;
    }
}
