@font-face {
    font-family: Outfit;
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

body{
    margin:0;
    -webkit-font-smoothing: antialiased;
    width: 100%!important;
    background-color: white;
}

main{
    margin-top: 150px;
}

button{
    min-height: 100px;
    min-width: 350px;
    margin: 5em;
    cursor: pointer;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: none;
}

h1{
    font-size: 70px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 500;
}
h2{
    font-size: 60px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 400;
}
h3{
    font-size: 50px;
    margin: 1em 0;
    font-family: Outfit;
    font-weight: 400;
}

a{
    font-family: Outfit;
    font-size: 36px;
}

p, li{
    font-size: 36px;
    margin: 1em 0;
    font-family:Outfit;
    line-height: 1.5em;
    width: 90%;
    word-break: break-word;
  }
  
span{
    font-family: Outfit;
    font-size: 30px;
}

@media only screen and (min-width:992px) {
    main{
        margin-top: 100px;
    }
    
    button{
        transition: min-width 0.3s;
    }

    button{
        min-height: unset;
        min-width: unset;
        margin: unset;
    }

    a{
        margin: 0 0.5em;
    }

    button:hover{
        min-width: 350px;
    }

    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    p, li{
        font-size: 30px;
    }
    span{ font-size: 20px;}



      
}