.prob-sol-section{
    margin: 50px 0;
  }

.prob-sol-section strong{
  position: relative;
  font-weight: 400;
  display: inline-block; /* This is required to size the pseudo-element correctly */
  padding-bottom: 3px; /* Space for the underline */
  z-index: 1;
}

.prob-sol-section strong::before {
  content: '';
  position: absolute;
  bottom: 0px; /* Align with the bottom of the text */
  left: 0;
  width: 100%; /* Match the width of the strong element */
  height: 32px; /* Thickness of the underline */
  background: #00b3cea7; /* Color of the underline */
  z-index: -1; /* Place it behind the text */
}
  
  .prob-sol-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }
  /* Rectangles */
  .prob-sol{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: min-content;
    width: 100%;
    
    border-radius: 20px;
  }
  
  .prob-sol p{
    color: black
  }
  
  .prob-sol-title-image{
    height: 100px;
    opacity: 0;
    transition: opacity 2s;
    
  }
  
  .prob-sol-title-image.animate{opacity: 1;}
  
  
  /* Desktop screens */
  @media only screen and (min-width: 992px){
    .prob-sol-group{
      flex-direction: row;
    }
    .prob-sol ul{
      padding-inline-start: 0;
    }
    .prob-sol{
      width: 30%;
    }
    .prob-sol h1{font-size:20px;}
    .prob-sol p{font-size: 20px;}
    .prob-sol p{text-align: center;}

    .prob-sol-title-image{
        height: 100px;
      }
  }
  