

  .prob-sol-section span, .prob-sol-section h2, .prob-sol-section p{
    color: var(--obscure-green);
  }
  .prob-sol-section strong{
    color: var(--obscure-blue);
  }
  
  .prob-sol-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  /* Rectangles */
  .prob-sol{
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: min-content;
    background-color: white;
    width: 90%;
    padding: 5%;
  }

  .prob-sol::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: #367D92;
    height: 10px;
  }
  .prob-sol.active::after{
    background: #00B4CE;
  }

  .prob-sol.active{
    box-shadow: -12px 11px 24.6px rgba(0, 0, 0, 0.35);
  }

  .prob-sol p{
    color: black
  }
  
  .prob-sol-title-image{
    height: 50px;
    opacity: 0;
    transition: opacity 2s;
    
  }
  
  .prob-sol-title-image.animate{opacity: 1;}
  
  
  
/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  /* Styles specific to landscape orientation */


  .prob-sol-group{
    flex-direction: row;
    align-items: stretch;
  }
  
  .prob-sol{
    min-height: unset;
  }

  .prob-sol.active{
    box-shadow: unset;
  }
  
  .prob-sol-title-image{
    opacity: 1;
  }
}

/* Desktop */
@media only screen and (min-width:992px) {

  .prob-sol-section{
    overflow: visible;
  }

  .prob-sol-group{
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .prob-sol{
    min-height: unset;
    max-width: 25%; /* Active slide width */
    transition-duration: 0.3s;
    padding: calc(var(--margin-sec-v)/2);
  }

.prob-sol:hover{
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.prob-sol:hover::after{
  background: #00B4CE;
}

.prob-sol-title-image{
  opacity: 1;
}
  
}
  