.promise-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--linear-gradient);
  padding: calc(var(--margin-sec-v)/2) 0;
  margin-bottom: 0;
  z-index:0;
}

.promise-section-bkg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.promise-section h2{
  color: var(--off-white);
}

.promise{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .promise-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .promise-left{
    margin: 0;
  }  
  .promise-right{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.1;
  }
  .promise-right img{
    width: 100%;
    object-fit: contain;
    margin: 0;
  }
  
  
  
  /* Desktop */
  @media only screen and (min-width: 992px){
    .promise button{
      width: unset;
      align-self: center;
    }
  }
    
    /* Landscape screens */
    @media only screen and (orientation: landscape) and (max-width: 992px) {
      
      
    }


