.showcase-section{
    position: relative;
    display:flex;
    flex-direction: column;
    padding:5%;
}

.showcase-container-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.showcase-video {
    position: relative;
    width: 90%;
    object-fit: cover;
}
.showcase-container-right-title{
    color: #585BA5!important;
}
.showcase-container-right-text{
    color: #00b4ce;
}

/* Desktop screens */
@media only screen and (min-width: 992px){

    .showcase-section{
        flex-direction: row;
        padding: unset;
    }
        
    .showcase-container-left{
        width:50%;
    }
    .showcase-container-right{
        width:50%;
    }

}