.solution-benefits-section{
    width: 100%;
    background: linear-gradient(180deg, rgba(54, 125, 146, 0) 67%, var(--obscure-blue) 100%);
    margin-bottom: 0;
    padding-bottom: var(--margin-sec-v);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-benefits-section-bkg{
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.solution-benefits-header{
  width: 90%;
}
.solution-benefits-header span{
  color: var(--obscure-green);
}

.swiper-wrapper{
    max-width: 80%;
}

.swiper-container-solution-benefits {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
  }
  
  .solution-benefit {
    background-color: var(--obscure-blue);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
    /* Center slide text vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    /* Size of the slides */
    max-width: 80%; /* Active slide width */
  }

  .slide-body{
    padding: 10px ;
    text-align: center;
  }

  .swipe-btns{
    height: 100%;
    opacity: 0;
  }



/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  /* Styles specific to landscape orientation */

  .solution-benefits-section-bkg{
    top: 0;
    width: 20%;
  }

  .swiper-container-solution-benefits {
    padding-top: 0;
  }

  .solution-benefit{   
    /* Size of the slides */
    max-width: 40%; /* Active slide width */
}


}

@media only screen and (min-width:992px) {

  .solution-benefits-section-bkg{
    top: 0;
    width: 20%;
  }

  .swiper-container-solution-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 0;
    overflow: visible;
  }

  .swiper-wrapper{
    width: 100%;
    height: unset;
    display: flex;
    flex-wrap: wrap;
    height: unset;
    align-content: center;
    justify-content: space-around;
    overflow: unset;
    max-width: 100% !important;
  }
  
  .solution-benefit{   
    /* Size of the slides */
    max-width: 20%; /* Active slide width */
    min-width: 300px;
    margin: 10px;
    height: unset !important;
    transition: transform 0.3s;
    
  }
  
  .solution-benefit:hover{
    transform: scale(1.1);
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    transform-style: preserve-3d;
}
.swiper-pagination{
  opacity: 0;
}
}