.solution-benefits-section{
    width: 100%;
    background: linear-gradient(180deg, rgba(54, 125, 146, 0) 67%, var(--obscure-blue) 100%);
    margin-bottom: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-benefits-section-bkg{
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.solution-benefits-header{
  width: 90%;
}
.solution-benefits-header span{
  color: var(--obscure-green);
}

.swiper-wrapper{
    max-width: 80%;
}

.swiper-container-solution-benefits {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
  }
  
  .solution-benefit {
    background-color: var(--obscure-blue);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
    /* Center slide text vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    /* Size of the slides */
    max-width: 80%; /* Active slide width */
  }

  .slide-body{
    padding: 10px ;
    text-align: center;
  }

  .swipe-btns{
    height: 100%;
    opacity: 0;
  }
