.solution-benefits-section{
    width: 100%;
    background: linear-gradient(180deg, rgba(54, 125, 146, 0) 67%, rgba(54, 125, 146, 0.9) 100%);
}
.swiper-wrapper{
    max-width: 80%;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
  }
  
  .swiper-slide {
    background-color: var(--obscure-blue);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
    /* Center slide text vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    /* Size of the slides */
    max-width: 80%; /* Active slide width */
  }

  .slide-header img{
      width: 100%;
      height: 38%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
  }
  .slide-body{
    padding: 0 10px ;
  }
