.stats-container{
    display:flex;
    flex-direction: column;
  }
  
  .stats-section span, 
  .stats-section p, 
  .stats-section h3{
    color: var(--obscure-green);
  }
  
  .stats-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
  
  .stats-average-age{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .average-age-header{
    width: 100%;
  }
  .average-age-header img{
    width: 100%;
    object-fit: cover;
  }

  .average-age-body{
    width: 100%;
  }

  .stats-quilar{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .stat-quilar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .stat-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .stat-header-number{
    position: absolute;
    font-family:'Outfit';
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
  }
  .stat-header-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stat-header-circle svg{
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
  }
  .stat-header-circle circle{
    fill: none;
    stroke-width: 10;
    stroke: rgba(255, 255, 255, 0);
    r: 25;
    cx: 30;
    cy: 30;
  }
  .stat-header-circle svg circle:nth-child(2){
    stroke-dasharray: 440; /* Approximately 2 * Math.PI * 70 (circle radius) */
    stroke-dashoffset: 440;
    stroke: var(--cyan);
    transition: stroke-dashoffset 1s linear;
  }
  
  .stats-footer h3{
    text-align: center;
  }

  

  /* Desktop screens */
@media only screen and (min-width: 992px){

  .stats-average-age{
    flex-direction: row;
    gap: calc(var(--margin-sec-v)/2);
  }
  .average-age-header{
    width: 50%;
  }
  .average-age-body{
    width: unset;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stats-quilar{
    flex-direction: row;
    margin-top: var(--margin-sec-v);
    gap: calc(var(--margin-sec-v)/2);
  }
  .stat-quilar{
    flex-direction: column;
  }
  .stat-quilar p{
    text-align: center;
  }

  .stats-footer{
    margin-top: calc(var(--margin-sec-v)/2);
    align-self: center;
    width: 50%;
  }



}
  /* Landscape screens */
  @media only screen and (orientation: landscape) and (max-width: 992px) {

    .stats-average-age{
      flex-direction: row;
      gap: calc(var(--margin-sec-v)/2);
    }
    .average-age-header{
      width: 50%;
    }
    .average-age-body{
      width: unset;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .stats-quilar{
      flex-direction: row;
      margin-top: var(--margin-sec-v);
      gap: calc(var(--margin-sec-v)/2);
    }
    .stat-quilar{
      flex-direction: column;
    }
    .stat-quilar p{
      text-align: center;
    }
  
    .stats-footer{
      margin-top: calc(var(--margin-sec-v)/2);
      align-self: center;
      width: 50%;
    }
  }