.target-group-section{
    margin: var(--margin-sec-v) 0;
    overflow-x: clip;
  }

  .target-group-section span, 
  .target-group-section h2,
  .target-group-section h3,
  .target-group-section p{
    color: var(--obscure-green);
  }

  .target-group-section-bkg{
    position: absolute;
    width: 100%;
    bottom: -20%;
    left: 30%;
    opacity: 0.2;
    z-index: -1;
  }
  
  .target-group-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }
  /* Rectangles */
  .target-group{
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: min-content;
    background-color: white;
    width: 90%;
    min-height: calc(30vw);
    padding: 5%;
  }

  .target-group::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: var(--obscure-blue);
    height: 10px;
  }
  .target-group.active::after{
    background: var(--cyan);
  }

  .target-group.active{
    box-shadow: -12px 11px 24.6px rgba(0, 0, 0, 0.35);
  }
  
  
/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  /* Styles specific to landscape orientation */

  .target-group-section-bkg{
    top: 0;
    left: unset;
    right: -20%;
    width: 50%;
  }

  .target-group-group{
    flex-direction: row;
    align-items: stretch;
  }
  
  .target-group{
    min-height: unset;
  }

}

@media only screen and (min-width:992px) {

  .target-group-section{
    overflow: visible;
  }
  .target-group-section-bkg{
    top: 0;
    left: unset;
    right: -20%;
    width: 50%; 
  }

  .target-group-group{
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .target-group{
    min-height: unset;
    max-width: 25%; /* Active slide width */
    transition-duration: 0.3s;
    padding: calc(var(--margin-sec-v)/2);
  }

.target-group:hover{
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.target-group:hover::after{
  background: var(--cyan);
}
  
}
  