
.team-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.team-section h2,
.team-section h3,
.team-section p,
.team-section span,
.team-section li{
    color: var(--obscure-green);
}

.team-header{
    width: 100%;
    margin-bottom: calc(var(--margin-sec-v)*0.5);
}

/* Desktop screens */
@media only screen and (min-width: 992px){

}