.section-container{
  overflow-x: clip;
}
.testimonials-section{
    width: 100%;
    margin-bottom: 0;
    margin-top: var(--margin-sec-v);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-section-bkg{
  position: absolute;
  width: 50%;
  top: 50%;
  
  left: 0;
  z-index: -1;
}

.testimonials-header{
  width: 90%;
}
.testimonials-header span{
  color: var(--obscure-green);
}

.swiper-container-testimonials {
    width: 100%;
    padding: 50px 0;
  }

.testimonial{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

    /* Center slide text vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    /* Size of the slides */
    max-width: 80%; /* Active slide width */
}
  .testimonial-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56.25%
  }


  .testimonial-header iframe{
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
  }

  .testimonial-header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .testimonial-quote{
    padding: 10px;
  }
  .testimonial-quote p{
    text-align: center;
    color: var(--obscure-green);
  }
  .swipe-btns{
    height: 100%;
    opacity: 0;
  }

/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  /* Styles specific to landscape orientation */

  .testimonials-section-bkg{
    top: 0;
    width: 20%;
  }

  .swiper-container-testimonials {
    padding-top: 0;
  }

  .testimonial{   
    /* Size of the slides */
    max-width: 40%; /* Active slide width */
}


}

@media only screen and (min-width:992px) {

  .testimonials-section-bkg{
    top: 0;
    width: 20%;
  }

  .swiper-container-testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 0;
    overflow: visible;
  }

  .swiper-wrapper{
    width: 100%;
    height: unset;
    display: flex;
    flex-wrap: wrap;
    height: unset;
    align-content: center;
    justify-content: space-around;
    overflow: unset;
    max-width: 100% !important;

  }

  .testimonial{   
    /* Size of the slides */
    max-width: 20%; /* Active slide width */
    min-width: 300px;
    margin: 10px;
    height: unset !important;
    transition-duration: 0.3s;
}

.testimonial:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.swiper-pagination{
  opacity: 0;
}
}