.tool-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%!important;
    background-color: rgb(208, 208, 208);
  }
  
  .tool-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
  }

  .tool-video{
    margin: 50px 0;
    width:100%;
    height: calc(80vw * (315 / 560));
  }

  .tool-video iframe{
    width: 100%;
    height: 100%;
  }
  
  .tool-title{
    max-width:  100%;
  }
  
  .tool-title h2{
    font-weight: 300;
    font-size: 40px;
    max-width: 80vw;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0;
  }
  
  
  /* Desktop screens */
  @media only screen and (min-width: 992px){

    .tool-title h2{
      
      font-size: 40px;
    }
    .tool-video{
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      
      
    }
  
  
  }