.tool-blog-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%!important;
    margin-top: var(--margin-sec-v);
    overflow-x: clip;
  }

  .tool-blog-section-bkg{
    position: absolute;
    width: 100%;
    top: -5%;
    left: 30%;
    opacity: 0.2;
    z-index: -2;
  }

  
  .tool-blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .tool-blog-header{
    margin-bottom: calc(var(--margin-sec-v)/2);
  }

  .tool-blog-header h3,
  .tool-blog-header span{
    color: var(--obscure-green);
    margin: 0;
  }

  .tool-blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .tool-blog{
    width: 80%;
    background-color: var(--obscure-blue);
    border-radius: 10px;
  }

  .tool-blog-header{
    width: 100%;
  }

  .tool-blog-header img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .tool-blog-body{
    margin: 12px;
  }
  .tool-blog-body a{
    text-decoration: underline;
  }

/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  .tool-blog-section-bkg{
    top: unset;
    bottom: 0;
    left: unset;
    left: -20%;
    width: 50%;
}
.tool-blogs{
  flex-direction: row;
  align-items: stretch;
}

.tool-blog-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

}


/* Desktop */
@media only screen and (min-width: 992px) {
  
  .tool-blog-section-bkg{
    top: 50%;
    left: unset;
    right: -20%;
    width: 50%;
  }

  .tool-blogs{
    flex-direction: row;
    align-items: stretch;
  }


.tool-blog-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

}
