.values-section{
  margin: 50px 0;
}

.values-section-bkg{
  position: absolute;
  width: 50%;
  top: 50%; 
  transform: translateY(-50%);
  transform: rotate(180deg);
  right: 0;
  z-index: -1;
}

.value-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-sec-v);
}
/* Rectangles */
.value{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}


.value-header img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.values-section p, 
.values-section span{
  color: var(--obscure-green);
}

.values-section h3{
  color: var(--obscure-green);
}

.value-body{position: relative;}

.value-body img{
  width: 60%;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0.05;
}

.rotate-left{
  left: -20%;
  rotate: -20deg;
}

.rotate-right{
  right: -20%;
  rotate: 20deg;
}




/* Landscape screens */
@media only screen and (orientation: landscape) and (max-width: 992px){
  /* Styles specific to landscape orientation */

  .values-section-bkg{
    top: 0;
    width: 20%;
  }

  .values-section h3{
    margin-top: 0;
  }

  .value ul{
    padding-inline-start: 0;
  }
  .value{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--margin-sec-v);
  }

  .value-story p{
    margin-top: 0;
  }
  .value-reverse{
    flex-direction: row-reverse;
  }
  .value-header{
    width: 50%;
  }
  .value-body{
    width: 50%;
  }

  .value-body img{
    left: 0;
    bottom: -50%;
    max-width: 200px;
  }

  .rotate-right{
    left: unset !important;
    right: 0 !important;
  }
}

/* Desktop screens */
@media only screen and (min-width:992px){

  .values-section-bkg{
    top: 0;
    width: 20%;
  }

  .values-section h3{
    margin-top: 0;
  }
  .value ul{
    padding-inline-start: 0;
  }
  .value{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--margin-sec-v);
  }

  .value-story p{
    margin-top: 0;
  }

  .value-reverse{
    flex-direction: row-reverse;
  }
  .value-header{
    width: 50%;
  }
  .value-body{
    width: 50%;
    font-size: var(--font-size-h4);
  }

  .value-body img{
    left: 0;
    bottom: -50%;
    max-width: 300px;
  }

  .rotate-right{
    left: unset !important;
    right: 0 !important;
  }

}
