.walkthrough-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: var(--margin-sec-v);
}

.walkthrough-section h4,
.walkthrough-section p{
    text-align: center;
}

.walkthrough-section h4,
.walkthrough-section p,
.walkthrough-section span{
    color: var(--obscure-green);
}

.walkthrough-section-bkg{
  position: absolute;
  width: 40%;
  top: 0%;
  left: 0;
  z-index: -1;
}


.walkthrough-header{
    display: flex;  
    flex-direction: column;
    margin-bottom: calc(var(--margin-sec-v)/2);
}

.walkthrough-video{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 56.25%;
  }


  .walkthrough-video iframe{
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
  }

  .walkthrough-video img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 1;
  }


.walkthrough-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

.walkthrough-steps::before {
    content: '';
    position: absolute;
    left: 0%;
    width: 2px; /* Thickness of the line */
    height: 100%; 
    background: var(--linear-gradient); /* Color of the line */
    z-index: -1; /* Below the icons */
  }

.walkthrough-step{
    opacity: 0; /* Initially hidden */
    transform: translateY(20%); /* Initially off-screen */
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.walkthrough-step.animate{
    opacity: 1; /* Fade in when the animate class is added */
    transform: translateY(0); /* Slide up when the animate class is added */
}

.walkthrough-step img{
    max-width: 100%;
    object-fit: contain;
    margin: 10px 0;
}


.walkthrough-circle{
  position: absolute;
  left: -10px;
    height: 20px;
    width: 20px;
    background: var(--obscure-blue); /* Use your icon here */
    border-radius: 50%;
    margin: 0 auto;
  }
  .walkthrough-circle.first-circle{
    margin-top: 0%;
  }

.walkthrough-content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 20%;
    position: relative;
}

.walkthrough-foot{
  display: flex;
  justify-content: center;
  margin: calc(var(--margin-sec-v)/2) 0;
}

.walkthrough-foot button{
  background: var(--linear-gradient);
  padding: 1em;
}



  @media only screen and (min-width: 992px){
    .walkthrough-section-bkg{
      top: 0;
      width: 20%;
    }

    .walkthrough-steps {
      position: relative;
    flex-direction: row; /* Align steps horizontally */
    justify-content: center; /* Center steps in the container */
    align-items: flex-start;
  }

  .walkthrough-steps::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px; /* Adjust to vertically center the line with the icons */
    width: 100%; /* Horizontal line width */
    height: 2px; /* Thickness of the line */
    background: var(--linear-gradient); /* Color of the line */
    z-index: -1;
  }

  .walkthrough-step {
    justify-content: flex-start; /* Distribute space between items in step */
    align-items: center; /* Vertically center items in step */
    max-width: 30%; /* Adjust the width of each step */
    margin: 0 10px; /* Add some margin between steps */
    opacity: 0; /* Show steps by default */
    transform: translateX(20%); /* Reset any transforms */
  }

  .walkthrough-step.animate {
    opacity: 1; /* Ensures step is visible during animation */
    transform: translateX(0); /* Ensures step is in its final state */
  }

  .walkthrough-circle{
    position: relative;
  }

  .walkthrough-circle.first-circle{
    margin-top: 0;
  }

  .walkthrough-content{
    width: 100%;
    padding-left: 0;
  }


  .walkthrough-step img{
      height: 150px;
      width: unset;
      max-width: unset;
  }

  

  .walkthrough-more-btn {
    width: auto;
    margin-top: 20px; /* Add some space above the button */
  }

  .walkthrough-foot button{
    width: 30%;
  }

  }
  
  /* Landscape screens */
  @media only screen and (orientation: landscape) and (max-width: 992px) {
    .walkthrough-section-bkg{
      top: 0;
      width: 20%;
    }

    .walkthrough-video{
      align-self: center;
    }

    .walkthrough-steps {
      position: relative;
    flex-direction: row; /* Align steps horizontally */
    justify-content: center; /* Center steps in the container */
    align-items: flex-start;
  }

  .walkthrough-steps::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px; /* Adjust to vertically center the line with the icons */
    width: 100%; /* Horizontal line width */
    height: 2px; /* Thickness of the line */
    background: var(--linear-gradient); /* Color of the line */
    z-index: -1;
  }

  .walkthrough-step {
    justify-content: flex-start; /* Distribute space between items in step */
    align-items: center; /* Vertically center items in step */
    max-width: 30%; /* Adjust the width of each step */
    margin: 0 10px; /* Add some margin between steps */
    opacity: 0; /* Show steps by default */
    transform: translateX(20%); /* Reset any transforms */
  }

  .walkthrough-step.animate {
    opacity: 1; /* Ensures step is visible during animation */
    transform: translateX(0); /* Ensures step is in its final state */
  }


  .walkthrough-circle{
    position: relative;
  }

  .walkthrough-circle.first-circle{
    margin-top: 0;
  }

  .walkthrough-content{
    width: 100%;
    padding-left: 0;
  }

  .walkthrough-step img{
      height: 200px;
      width: unset;
      max-width: unset;
  }

  .walkthrough-more-btn {
    width: auto;
    margin-top: 20px; /* Add some space above the button */
  }

  .walkthrough-foot button{
    width: 30%;
  }

    
    }
