.who-section{
    position: relative;
    display:flex;
    flex-direction: row;
    width: 100%!important;
  }

  .who-section p{
    margin: 5%;
    color: #585BA5!important;
    font-weight: 500;
    line-height: 2em;
    text-align: center;
  }

  .logo-background{
    display: none;
  }
  
  @media only screen and (min-width: 992px){
    .logo-background{
      display: unset;
      position: absolute;
      height: 90%;
      left: 0;
      top:0;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      z-index: -1;
    }
    
  }


