.workflow-section{
    position: relative;
    display:flex;
    flex-direction: column;
  }


.bulletpoint-group{
  width: 100%;
}

/* Rectangles */
.bulletpoint{
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  opacity: 0; /* Initially hidden */
  transform: translateY(20%); /* Initially off-screen */
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.bulletpoint.animate {
  
  opacity: 1; /* Fade in when the animate class is added */
  transform: translateY(0); /* Slide up when the animate class is added */
}

.bulletpoint-thumbnail{
  display: flex;
  margin: 20px;
}

.bulletpoint-content{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5%; 
}

.bulletpoint-content a{
  text-decoration: underline;
  color: #00B4CE;
  margin: 0;
}

.bulletpoint-content img{
  height: 80px;
}
/* Desktop screens */
@media only screen and (min-width: 992px){

  .bulletpoint{
    width: 75%;
    flex-direction: row;
  }

  .bulletpoint.shift{left:25%;}

  .bulletpoint-thumbnail{
    max-height: 80%;
  }
  .bulletpoint-thumbnail img{
    height:150px;
    object-fit: scale-down;
  }

  .bulletpoint-content{
    width: 75%;
  }
  .bulletpoint-content img{height: 40px;}
}